<%= form_with(model: list, local: true, class: "step-1-form") do |form| %>
  <% if list.errors.any? %>
    <div class="error-message" style="color: red; margin-bottom: 20px;">
      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex-form" style="gap: 24px; margin-top: 20px;">
    <div class="form-group">
      <%= form.label :name, "Nom de la liste"%>
      <%= form.text_field :name, 
          class: "form-control input-large", 
          placeholder: "Ex: Mes inspirations scandinaves", 
          autofocus: true,
          required: true %>
    </div>
    <div class="visibility-section">
      <label>Visibilité</label>
      <div class="visibility-toggle-container" data-controller="radio-class">
        <label class="radio-card selected">
          <%= form.radio_button :public, false, checked: !list.public, class: "hidden-radio" %>
          <div class="radio-content">
            <div class="icon">🔒</div>
            <div style="gap:8px;">
              <span class="title">Privée</span>
              <span class="desc">Visible uniquement par vous.</span>
            </div>
          </div>
        </label>
        <label class="radio-card">
          <%= form.radio_button :public, true, checked: list.public, class: "hidden-radio" %>
          <div class="radio-content">
            <div class="icon">🌍</div>
            <div style="gap:8px;">
              <span class="title">Publique</span>
              <span class="desc">Visible par toute la communauté.</span>
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="form-actions" style="margin-top: 20px;">
      <%= form.submit "Suivant : Ajouter des éléments", class: "button large dark full-width" %>
    </div>
  </div>
<% end %>
<style>
  .visibility-toggle-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    gap: 12px;
  }
  .radio-card {
    width: calc(50% - 80px);
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 24px 32px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #fff;
  }
  @media screen and (max-width:768px){
    .radio-card {
      width: calc(100% - 32px);
      padding: 24px 16px;
    }
    .visibility-toggle-container {
      flex-direction: column !important;
    }
  }
  .radio-card:hover {
    border-color: #202020;
  }
  .radio-card:has(input:checked) {
    border-color: #202020;
    background-color: #f9f9f9;
  }
  .hidden-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .radio-content {
    display: flex;
    gap: 8px;
  }

  label{
    color: #202020 !important;
  }
</style>