<div class="check-box-wrapper <%= 'selected' if defined?(@selected_studio_ids) && @selected_studio_ids.include?(studio.id) %>"
     data-id="<%= studio.id %>">
  <%= check_box_tag "studio_ids[]", studio.id,
      (defined?(@selected_studio_ids) && @selected_studio_ids.include?(studio.id)),
      class: 'hidden-check', id: "studio_#{studio.id}", disabled: true %>
  <label for="studio_#{studio.id}">
    <% if studio.studio_images.first&.file&.attached? %>
      <div class="card-list-add" style="background-image: url('<%= url_for(studio.studio_images.first.file.variant(:thumb)) %>');  background-size: cover; background-position: center;">
      <% else %>
        <div class="card-list-add" style="background: #F3F3F3;">
        <% end %>
        <div class="default-overlay"></div>
        <p class="card-title-add"><%= truncate(studio.nom, length: 25, omission: '...') %></p>
      </div>
    </label>
  </div>