<section class="top-header">
  <%= link_to profil_path do%>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.632 6.94488C12.632 6.94488 6.63067 12.9516 4.29333 15.2902C4.09733 15.4849 4 15.7409 4 15.9969C4 16.2529 4.09733 16.5089 4.29333 16.7035C6.62933 19.0422 12.6293 25.0462 12.6293 25.0462C12.8227 25.2395 13.0773 25.3355 13.332 25.3355C13.5867 25.3342 13.8427 25.2369 14.0387 25.0409C14.4293 24.6502 14.4307 24.0196 14.044 23.6316L7.40933 16.9969H26.9987C27.5507 16.9969 27.9987 16.5489 27.9987 15.9969C27.9987 15.4449 27.5507 14.9969 26.9987 14.9969H7.40933L14.0467 8.35822C14.432 7.97288 14.4293 7.34355 14.0387 6.95288C13.8427 6.75688 13.5867 6.65822 13.332 6.65822C13.0773 6.65688 12.8253 6.75288 12.632 6.94488Z" fill="white"/>
    </svg>
  <%end%>
  <div class="flex-title">
    <%= form_with(model: @list, local: true) do |form| %>
      <div class="field list-edit-name">
        <%= form.text_field :name, class: "input-name-list" %>
        <svg id="submitFormButton" width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.53222 18L0 9.46778L2.13306 7.33472L8.53222 13.7339L22.2661 0L24.3992 2.13306L8.53222 18Z" fill="white"/>
        </svg>
        <%= link_to @list do%>
          <svg id="cancelFormButton" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.8 18L0 16.2L7.2 9L0 1.8L1.8 0L9 7.2L16.2 0L18 1.8L10.8 9L18 16.2L16.2 18L9 10.8L1.8 18Z" fill="white"/>
          </svg>
        <% end %>
      </div>
    <% end %>
    <script>
      $(document).ready(function() {
        const submitFormButton = document.getElementById('submitFormButton');
        const form = document.querySelector('form');

        submitFormButton.addEventListener('click', function() {
          form.submit();
        });
      });
    </script>
  </div>
  <p class="subtitle"><%= @list.designers.count + @list.oeuvres.count %> <%= t('list.subtitle_reference') %></p>
</section>
<section class="grid-1">
  <div class="tabs" data-controller="tabs">
    <button class="tab <%= 'active' if params[:tab].blank? || params[:tab] == 'all' %>" data-tabs-target="tab" data-tab="all" data-action="click->tabs#switch"> <%= t('list.all') %> (<%= @list.designers.count + @list.oeuvres.count + @list.studios.count %>)</button>
    <button class="tab <%= 'active' if params[:tab] == 'references' %>" data-tabs-target="tab" data-tab="references" data-action="click->tabs#switch"><%= t('list.references') %> (<%= @list.oeuvres.count %>)</button>
    <button class="tab <%= 'active' if params[:tab] == 'designers' %>" data-tabs-target="tab" data-tab="designers" data-action="click->tabs#switch"><%= t('list.designers') %> (<%= @list.designers.count%>)</button>
    <button class="tab <%= 'active' if params[:tab] == 'studios' %>" data-tabs-target="tab" data-tab="studios" data-action="click->tabs#switch">Studios (<%= @list.studios.count %>)</button>
  </div>
  <div id="all" class="content-tab" 
     data-tabs-target="tabContent" 
     style="<%= 'display: block;' if params[:tab].blank? || params[:tab] == 'all' %><%= 'display: none;' if params[:tab].present? && params[:tab] != 'all' %>">
    <div class="flex-title-list">
      <h2><%= t('list.all') %></h2>
    </div>
    <% if @list.designers.empty? && @list.oeuvres.empty? && @list.studios.empty? %>
      <div class="list-empty">
        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36.0056 64.6022C52.5596 64.6022 65.9996 51.1622 65.9996 34.6082C65.9996 18.0542 52.5596 4.61719 36.0056 4.61719C19.4546 4.61719 6.01465 18.0542 6.01465 34.6082C6.01465 51.1622 19.4546 64.6022 36.0056 64.6022ZM36.0056 40.6022C34.7636 40.6022 33.7556 39.5942 33.7556 38.3522V21.8522C33.7556 20.6102 34.7636 19.6022 36.0056 19.6022C37.2476 19.6022 38.2556 20.6102 38.2556 21.8522V38.3522C38.2556 39.5942 37.2476 40.6022 36.0056 40.6022ZM35.9996 49.6022C34.3436 49.6022 32.9996 48.2582 32.9996 46.6022C32.9996 44.9462 34.3436 43.6022 35.9996 43.6022C37.6556 43.6022 38.9996 44.9462 38.9996 46.6022C38.9996 48.2582 37.6556 49.6022 35.9996 49.6022Z" fill="#52525D"/>
        </svg>
        <p>Aucun élément trouvé dans cette liste.</p>
      </div>
    <% else %>
      <div class="flex-card-list">
        <% (@list.designers + @list.oeuvres).sort_by { |item| item.is_a?(Oeuvre) ? item.nom_oeuvre.downcase : item.nom.downcase }.each do |item| %>
          <% if item.is_a?(Designer) %>
            <%= render 'designers/designer_card', designer: item %>
          <% elsif item.is_a?(Oeuvre) %>
            <%= render 'oeuvres/oeuvre_card', oeuvre: item %>
          <% end %>
        <% end %>
      </div>
    <%end%>
  </div>
  <div id="references" class="content-tab" 
     data-tabs-target="tabContent" 
     style="<%= 'display: block;' if params[:tab] == 'references' %><%= 'display: none;' unless params[:tab] == 'references' %>">
    <div class="flex-title-list">
      <h2><%= t('list.references') %></h2>
    </div>
    <% if @list.oeuvres.empty? %>
      <div class="list-empty">
        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36.0056 64.6022C52.5596 64.6022 65.9996 51.1622 65.9996 34.6082C65.9996 18.0542 52.5596 4.61719 36.0056 4.61719C19.4546 4.61719 6.01465 18.0542 6.01465 34.6082C6.01465 51.1622 19.4546 64.6022 36.0056 64.6022ZM36.0056 40.6022C34.7636 40.6022 33.7556 39.5942 33.7556 38.3522V21.8522C33.7556 20.6102 34.7636 19.6022 36.0056 19.6022C37.2476 19.6022 38.2556 20.6102 38.2556 21.8522V38.3522C38.2556 39.5942 37.2476 40.6022 36.0056 40.6022ZM35.9996 49.6022C34.3436 49.6022 32.9996 48.2582 32.9996 46.6022C32.9996 44.9462 34.3436 43.6022 35.9996 43.6022C37.6556 43.6022 38.9996 44.9462 38.9996 46.6022C38.9996 48.2582 37.6556 49.6022 35.9996 49.6022Z" fill="#52525D"/>
        </svg>
        <p>Aucune référence trouvée dans cette liste.</p>
      </div>
    <% else %>
      <div class="flex-card-list">
        <% @list.oeuvres.each do |oeuvre| %>
          <%= render 'oeuvres/oeuvre_card', oeuvre: oeuvre %>
        <% end %>
      </div>
    <%end%>
  </div>
  <div id="designers" class="content-tab" 
     data-tabs-target="tabContent" 
     style="<%= 'display: block;' if params[:tab] == 'designers' %><%= 'display: none;' unless params[:tab] == 'designers' %>">
    <div class="flex-title-list">
      <h2><%= t('list.designers') %></h2>
    </div>
    <% if @list.designers.empty?%>
      <div class="list-empty">
        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36.0056 64.6022C52.5596 64.6022 65.9996 51.1622 65.9996 34.6082C65.9996 18.0542 52.5596 4.61719 36.0056 4.61719C19.4546 4.61719 6.01465 18.0542 6.01465 34.6082C6.01465 51.1622 19.4546 64.6022 36.0056 64.6022ZM36.0056 40.6022C34.7636 40.6022 33.7556 39.5942 33.7556 38.3522V21.8522C33.7556 20.6102 34.7636 19.6022 36.0056 19.6022C37.2476 19.6022 38.2556 20.6102 38.2556 21.8522V38.3522C38.2556 39.5942 37.2476 40.6022 36.0056 40.6022ZM35.9996 49.6022C34.3436 49.6022 32.9996 48.2582 32.9996 46.6022C32.9996 44.9462 34.3436 43.6022 35.9996 43.6022C37.6556 43.6022 38.9996 44.9462 38.9996 46.6022C38.9996 48.2582 37.6556 49.6022 35.9996 49.6022Z" fill="#52525D"/>
        </svg>
        <p>Aucun designer trouvé dans cette liste.</p>
      </div>
    <% else %>
      <div class="flex-card-list">
        <% @list.designers.each do |designer| %>
          <%= render 'designers/designer_card', designer: designer %>
        <% end %>
      </div>
    <%end%>
  </div>
  <div id="studios" class="content-tab" 
     data-tabs-target="tabContent" 
     style="<%= 'display: block;' if params[:tab] == 'studios' %><%= 'display: none;' unless params[:tab] == 'studios' %>">
    <div class="flex-title-list">
      <h2>Studios</h2>
    </div>
    <% if @list.studios.empty?%>
      <div class="list-empty">
        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M36.0056 64.6022C52.5596 64.6022 65.9996 51.1622 65.9996 34.6082C65.9996 18.0542 52.5596 4.61719 36.0056 4.61719C19.4546 4.61719 6.01465 18.0542 6.01465 34.6082C6.01465 51.1622 19.4546 64.6022 36.0056 64.6022ZM36.0056 40.6022C34.7636 40.6022 33.7556 39.5942 33.7556 38.3522V21.8522C33.7556 20.6102 34.7636 19.6022 36.0056 19.6022C37.2476 19.6022 38.2556 20.6102 38.2556 21.8522V38.3522C38.2556 39.5942 37.2476 40.6022 36.0056 40.6022ZM35.9996 49.6022C34.3436 49.6022 32.9996 48.2582 32.9996 46.6022C32.9996 44.9462 34.3436 43.6022 35.9996 43.6022C37.6556 43.6022 38.9996 44.9462 38.9996 46.6022C38.9996 48.2582 37.6556 49.6022 35.9996 49.6022Z" fill="#52525D"/>
        </svg>
        <p>Aucun studio trouvé dans cette liste.</p>
      </div>
    <% else %>
      <div class="flex-card-list">
        <% @list.studios.each do |studio| %>
          <%= render 'studios/studio_card', studio: studio %>
        <% end %>
      </div>
    <%end%>
  </div>
</section>
<script>
  $(document).ready(function() {
    const cardList = document.querySelectorAll('.card-list');

    cardList.forEach(function(card) {
      card.addEventListener('click', function() {
        // Cacher tous les overlays
        const allOverlays = document.querySelectorAll('.overlay');
        allOverlays.forEach(function(overlay) {
          overlay.style.display = 'none';
        });

        // Afficher l'overlay de la carte cliquée
        const overlay = this.querySelector('.overlay');
        overlay.style.display = 'flex';
      });
    });
  });
</script>
