<% return unless local_assigns.key?(:ad) && ad.present? %>
<%= link_to ad[:link], target: "_blank", class: "ad-card-link" do %>
  <div class="card ad-card">
    <div class="bg-card" style="background-color: #52525D;">
      <div class="bg-img-card card-slider-wrapper" 
           data-controller="slider" 
           data-slider-update-background-value="true">
        <div class="card-slider-blurred-bg" data-slider-target="background"></div>
        <div class="card-slider-slides">
          <picture>
            <source media="(max-width: 760px)" 
                    srcset="<%= ad[:image_mobile_url] %>">
            <source media="(min-width: 761px)" 
                    srcset="<%= ad[:image_desktop_url] %>">
            <img src="<%= ad[:image_desktop_url] %>" 
                 class="card-slide-image active" 
                 data-slider-target="slide"
                 alt="<%= ad[:title] %>" />
          </picture>
        </div>
        <div class="flex-info-card ads">
          <div class="info-card-dark">
            <div class="small-circle" style="background-color: #FFF;"></div>
            Sponsorisé
          </div>
          <div class="info-card" style="background-color: #FFF; color: #202020;">
            En savoir plus →
          </div>
        </div>
      </div>
    </div>
    <div class="container-text-card">
      <p class="subtitle-card">
        Sponsorisé
      </p>
      <h2 class="title-card"><%= ad[:title] %></h2>
      <p class="description-card description-card-home"><%= ad[:description] %></p>
    </div>
  </div>
 <% end %>