<%= javascript_include_tag "controllers/uniqueSelect", defer: true %>
<%= form_with(model: @oeuvre, local: true) do |form| %>
  <% if @oeuvre.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@oeuvre.errors.count, "erreur") %> interdit à cette référence d'être enregistré :</h2>
      <ul>
        <% @oeuvre.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex-form">
    <div>
      <%= form.select :domaine_id, options_from_collection_for_select(Domaine.all, :id, :domaine) %>
    </div>
    <div>
      <%= form.collection_select :designer_ids, Designer.order(:nom_designer), :id, :nom_designer,
    { prompt: "Sélectionner un designer", selected: @cdesigner_1 },
    { id: "designer_1", name: "oeuvre[designer_ids][]" } %>
    </div>
    <div>
      <%= form.collection_select :designer_ids, Designer.order(:nom_designer), :id, :nom_designer,
    { prompt: "Sélectionner un designer", selected: @cdesigner_2 },
    { id: "designer_2", name: "oeuvre[designer_ids][]" } %>
    </div>
    <div>
      <%= form.collection_select :designer_ids, Designer.order(:nom_designer), :id, :nom_designer,
    { prompt: "Sélectionner un designer", selected: @cdesigner_3 },
    { id: "designer_3", name: "oeuvre[designer_ids][]" } %>
    </div>
    <div style="display:flex">
      <p>Si votre designer n'est pas ici vous pouvez <a style="color:#FFF; font-weight:500;" href="<%= new_designer_path %>"> ajouter un designer ici</a></p>
    </div>
    <div>
      <%= form.text_field :nom_oeuvre, placeholder: "Nom de la référence" %>
    </div>
    <div>
      <%= form.text_field :date_oeuvre, placeholder: "Date de la référence", id: "date-oeuvre-input" %>
      <div id="date-oeuvre-error"></div>
    </div>
    <div>
      <%= form.text_area :presentation_generale, placeholder: "Présentation générale (Min. 200 caractères)" %>
    </div>
    <div>
      <%= form.text_area :contexte_historique, placeholder: "Contexte historique (Min. 200 caractères)" %>
    </div>
    <div>
      <%= form.text_area :materiaux_et_innovations_techniques, placeholder: "Matériaux et innovations techniques (Min. 200 caractères)" %>
    </div>
    <div>
      <%= form.text_area :concept_et_inspiration, placeholder: "Concept et inspiration (Min. 200 caractères)" %>
    </div>
    <div>
      <%= form.text_area :dimension_esthetique, placeholder: "Dimension esthétique (Min. 200 caractères)" %>
    </div>
    <div>
      <%= form.text_area :impact_et_message, placeholder: "Impact et message (Min. 200 caractères)" %>
    </div>
    <div>
      <%= form.text_field :image, placeholder: "Url de l'image" %>
    </div>
    <input type="hidden" id="recaptcha_token" name="recaptcha_token">
    <div>
      <%= form.submit "Continuer", class: "button large" %>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    var oeuvreYearInput = document.getElementById("date-oeuvre-input");
    var oeuvreYearError = document.getElementById("date-oeuvre-error");

    var currentYear = new Date().getFullYear();

    function validateYear(year, minYear, maxYear) {
      return !isNaN(year) && year >= minYear && year <= maxYear;
    }

    oeuvreYearInput.addEventListener("input", function() {
      var oeuvreYear = oeuvreYearInput.value;

      if (!validateYear(oeuvreYear, 0, currentYear)) {
        oeuvreYearError.textContent = "Veuillez entrer une année de naissance valide entre 0 et " + currentYear;
      } else {
        oeuvreYearError.textContent = "";
      }
    });

    var form = document.querySelector("form");
    form.addEventListener("submit", function(event) {
      var oeuvreYear = oeuvreYearInput.value;
      var errors = [];

      if (!validateYear(oeuvreYear, 0, currentYear)) {
        oeuvreYearError.textContent = "Veuillez entrer une année de naissance valide entre 0 et " + currentYear;
        errors.push("oeuvreYearError");
      }

      if (errors.length > 0) {
        event.preventDefault();
      }
    });
  });
</script>
