<div class="grid" style="background-color:#202020; color:#FFF; min-height:100vh;">
  <h1 class="title-add-elements">Modifier une référence</h1>
  <%= render "form", oeuvre: @oeuvre %>
  <br>
  <div>
    <%= link_to "Show this oeuvre", @oeuvre %> |
    <%= link_to "Retourner aux validations", validation_path %>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=<%= Rails.application.secrets.recaptcha_site_key %>"></script>
<script>
  document.querySelector("form").addEventListener("submit", function(event) {
    event.preventDefault(); // Empêche l'envoi temporaire pour attendre le token
    grecaptcha.execute("<%= Rails.application.secrets.recaptcha_site_key %>", {action: 'submit'}).then(function(token) {
      document.getElementById('recaptcha_token').value = token;
      event.target.submit(); // Soumet le formulaire après avoir obtenu le token
    });
  });
</script>
