<% content_for :title, "Rechercher des références et des designers - Omniscient Design" %>
<% content_for :description, "La page de recherche permet de trouver efficacement et rapidement la référence que tu cherches. Trie les références par domaine, année ou encore pays !" %>
<section class="top-bar-search">
  <%= form_with url: search_oeuvres_path, method: :get, local: true do |form| %>
    <div class="autocomplete">
      <%= form.search_field :query, class: 'search-top-bar', placeholder: 'Rechercher une référence', autocomplete: 'off', id: 'workSearch', style: "background-image: url('...'); background-repeat: no-repeat; background-position-x: 20px; background-position-y: center;" %>
    </div>
  <% end %>
  <div class="top-bar-flex">
    <%= link_to notifications_path do %>
      <div class="circle circle-notif">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.1825 5.26C19.3238 4.76133 18.7932 3.83333 18.7945 2.83333V2.82933C18.7958 1.26667 17.5438 0 15.9998 0C14.4558 0 13.2038 1.26667 13.2038 2.82933V2.83333C13.2052 3.83467 12.6758 4.76133 11.8158 5.26C5.59317 8.876 9.16917 20.88 2.6665 23.0013V25.3333H29.3332V23.0013C22.8305 20.88 26.4065 8.876 20.1825 5.26ZM15.9998 1.33333C16.7358 1.33333 17.3332 1.932 17.3332 2.66667C17.3332 3.40267 16.7358 4 15.9998 4C15.2638 4 14.6665 3.40267 14.6665 2.66667C14.6665 1.932 15.2638 1.33333 15.9998 1.33333ZM19.9998 28C19.9998 30.1307 18.1438 32 16.0385 32C13.9332 32 11.9998 30.1307 11.9998 28H19.9998Z" fill="white"/>
        </svg>
        <% if current_user %>
          <% if @unread_notifications_count > 0 %>
            <div class="notification-counter">
              <div class="notification-badge"><%= @unread_notifications_count %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= link_to new_feedback_url do %>
      <div class="circle circle-notif">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3261_185)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 25.073C17.7533 24.321 14.0613 22.3983 15.524 19.625C19.9786 11.181 16.7053 6.66634 12.0013 6.66634C7.20263 6.66634 4.00929 11.3543 8.47596 19.625C9.98396 22.4143 6.17729 24.337 2.99996 25.073C0.0999594 25.745 -0.00937402 27.1903 -4.06868e-05 29.7183L0.00529265 30.6663H23.996L24 29.7477C24.0093 27.2023 23.912 25.7477 21 25.073ZM18.9386 14.6663C19.468 13.5077 20.056 11.9157 20.0253 10.8063C19.312 9.85967 18.9093 8.63967 18.9093 7.39834C18.9093 3.89434 21.9973 1.33301 25.4546 1.33301C28.8906 1.33301 32 3.87567 32 7.39834C32 11.0663 28.328 14.4917 23.2906 13.129C22.376 13.753 20.3573 14.381 18.9386 14.6663ZM24.5186 6.17167L22.396 6.46501L23.9413 7.95034L23.564 10.0597L25.4546 9.04901L27.344 10.0597L26.968 7.95034L28.5133 6.46501L26.3893 6.17167L25.4546 4.24234L24.5186 6.17167Z" fill="white"/>
          </g>
        </svg>
      </div>
    <% end %>
  </div>
</section>
<section class="grid-1 searchpage">
  <% if @oeuvre_suggestions.present? || @designer_suggestions.present? %>
    <div class="search-results">
      <%= link_to search_oeuvres_path do %>
        <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.0002 11.4996L2.00012 11.4996M2.00012 11.4996L10.6252 21.2305M2.00012 11.4996L10.6252 1.76882" stroke="#202020" stroke-width="2" stroke-linecap="square"/>
        </svg>
      <%end%>
      <p class="medium black" style="margin-top: 16px;">Suggestions pour "<%= params[:query] %>"</p>
      <div class="suggestions">
        <% if @oeuvre_suggestions.present? %>
          <p>Références :</p>
          <div class="flex-container">
            <% @oeuvre_suggestions.each do |oeuvre| %>
              <%= render 'oeuvres/oeuvre_card', oeuvre: oeuvre %>
            <% end %>
          </div>
        <% end %>
        <% if @designer_suggestions.present? %>
          <p>Designers :</p>
          <div class="flex-container">
            <% @designer_suggestions.each do |designer| %>
              <%= render 'designers/designer_card', designer: designer %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% elsif params[:query] %>
    <%= link_to search_oeuvres_path do %>
      <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.0002 11.4996L2.00012 11.4996M2.00012 11.4996L10.6252 21.2305M2.00012 11.4996L10.6252 1.76882" stroke="#202020" stroke-width="2" stroke-linecap="square"/>
      </svg>
    <%end%>
    <p>Aucun résultat trouvé pour "<%= params[:query] %>"</p>
  <%else%>
    <h1>Rechercher</h1>
    <h2 class="title">Catégories</h2>
    <div class="flex-category">
      <% Domaine.all.each do |domaine| %>
        <%= link_to search_category_path(domaine: domaine.id) do %>
          <div class="card-category" style="background-color: <%= domaine.couleur %>80;">
            <%= image_tag "domaines/#{domaine.svg}", alt: domaine.domaine %>
            <p class="text-category" style="color:<%= domaine.couleur %>;"><%= domaine.domaine %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <h2 class="title">Frise Chronologique</h2>
    <a href="/search_frise">
      <div class="timeline">
        <% @timeline_years.each do |year| %>
          <div class="timeline-item">
            <div class="oeuvres">
              <div class="oeuvres-container">
                <% oeuvres_year = @oeuvres_filtered.select { |oeuvre| oeuvre.date_oeuvre.to_i == year } %>
                <% oeuvres_year.each do |oeuvre| %>
                  <div class="oeuvre" title="<%= oeuvre.nom_oeuvre %>" data-year="<%= oeuvre.date_oeuvre %>" style="background-image: url('<%= oeuvre.image %>');"></div>
                <% end %>
                <% designers_year = @designers_filtered.select { |designer| designer.date_naissance.to_i == year } %>
                <% designers_year.each do |designer| %>
                  <div class="oeuvre" title="<%= designer.nom_designer %>" data-year="<%= designer.date_naissance %>" style="background-image: url('<%= designer.image %>');"></div>
                <% end %>
              </div>
              <div class="oeuvre empty"></div>
              <div class="year"><%= year %></div>
            </div>
          </div>
        <% end %>
        <hr class="timeline-hr">
      </div>
      <button class="button dark">Voir les frises chronologiques</button>
    </a>
    <h2 class="title">Designers</h2>
    <div class="container-designers">
      <div class="flex-container" id="designer-cards">
        <% @designers.first(8).each do |designer| %>
          <%= render 'designers/designer_card', designer: designer %>
        <% end %>
      </div>
      <div id="load-more-button-designers">
        <button class="load-more-btn button dark" id="loadMoreDesignersBtn">Charger plus de designers</button>
      </div>
    </div>
    <h2 class="title">Références</h2>
    <div class="container-oeuvres">
      <div class="flex-container" id="oeuvre-cards">
        <% @oeuvres.first(8).each do |oeuvre| %>
          <%= render 'oeuvres/oeuvre_card', oeuvre: oeuvre %>
        <% end %>
      </div>
      <div id="load-more-button-oeuvres">
        <button class="load-more-btn button dark" id="loadMoreOeuvresBtn">Charger plus de références</button>
      </div>
    </div>
  </div>
<% end %>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  function loadMore(endpoint, containerId, offset) {
    fetch(`${endpoint}?offset=${offset}`, { headers: { "X-Requested-With": "XMLHttpRequest" } })
      .then(response => response.text())
      .then(html => {
        document.getElementById(containerId).insertAdjacentHTML("beforeend", html);
      })
      .catch(error => console.error("Erreur lors du chargement :", error));
  }

  let designerOffset = 8;
  let oeuvreOffset = 8;

  document.getElementById("loadMoreDesignersBtn").addEventListener("click", function () {
    loadMore("/designers/load_more_designers", "designer-cards", designerOffset);
    designerOffset += 8;
  });

  document.getElementById("loadMoreOeuvresBtn").addEventListener("click", function () {
    loadMore("/oeuvres/load_more_oeuvres", "oeuvre-cards", oeuvreOffset);
    oeuvreOffset += 8;
  });
  });
</script>
<%= javascript_include_tag "controllers/autocompleteSearch", defer: true %>
<script>
  $(document).ready(function() {
    var works = <%= raw @works.to_json %>; // Injecter les noms des références dans le JavaScript
    var designers = <%= raw @designers.to_json %>; // Injecter les noms des designers dans le JavaScript

    // Mapping des noms vers les URLs respectives
    var routeMap = {
      <% @oeuvres.each do |oeuvre| %>
        "<%= j oeuvre.nom_oeuvre %>": "<%= oeuvre_path(oeuvre) %>",
      <% end %>
      <% @designers.each do |designer| %>
        "<%= j designer.nom_designer %>": "<%= designer_path(designer) %>",
      <% end %>
    };

    // Initialise l'autocomplétion
    autocomplete(document.getElementById("workSearch"), works.concat(designers), routeMap);
  });
</script>
<script>
  $(document).ready(function() {
    var workSearchInput = document.getElementById("workSearch");

    workSearchInput.addEventListener("keydown", function(event) {
      if (event.key === "Enter") {
        event.preventDefault(); // Empêche le comportement par défaut
        document.querySelector("form").submit(); // Soumettre le formulaire
      }
    });
  });
</script>
