<% content_for :title, "Connexion à votre compte - Omniscient Design" %>
<% content_for :description, "Connectez-vous à votre espace personnel Omniscient Design pour explorer, sauvegarder et partager vos références et designers préférés." %>

<div class="log" style="color:#FFF;">
  <%= image_tag "logo-white.svg", alt: "", class: "logo-log" %>
  <section class="box-log">
    <h1><%= t('devise.login.title') %></h1>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder: t('devise.login.email') %>
        </div>

        <div class="field password-container" data-controller="show-password">
          <%= f.password_field :password, 
                autocomplete: "current-password", 
                placeholder: t('devise.login.password'), 
                id: "password-field",
                data: { "show-password-target": "passwordField" } %>

          <button type="button" data-action="click->show-password#toggle" class="toggle-password">
            <svg class="show-password-icon" data-show-password-target="showIcon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="..." fill="#202020"/>
            </svg>
            <svg class="hide-password-icon" data-show-password-target="hideIcon" style="display: none;" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="..." fill="#202020"/>
            </svg>
          </button>
        </div>

        <%= link_to t('devise.login.forgot_password'), new_user_password_path, class: "forgot-password" %>

        <% if devise_mapping.rememberable? %>
          <div class="field remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, t('devise.login.remember_me') %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit t('devise.login.submit'), class:"button dark btn-login" %>
        </div>

        <%= link_to t('devise.login.no_account'), new_user_registration_path, class: "sign-up-in" %>
        <%= link_to t('devise.login.resend_confirmation'), new_user_confirmation_path, class: "sign-up-in" %>
      <% end %>
    </div>
  </section>
</div>



<% content_for :recaptcha_script do %>
  <script src="https://www.google.com/recaptcha/api.js?render=<%= ENV["RECAPTCHA_SITE_KEY"] %>"></script>
<% end %>