<%= form_with(model: domaine) do |form| %>
  <% if domaine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(domaine.errors.count, "error") %> prohibited this domaine from being saved:</h2>
      <ul>
        <% domaine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :domaine, style: "display: block" %>
    <%= form.text_area :domaine %>
  </div>
  <div>
    <%= form.label :couleur, style: "display: block" %>
    <%= form.text_area :couleur %>
  </div>
  <div>
    <%= form.label :svg, style: "display: block" %>
    <%= form.text_field :svg %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
