<section class="top-default-page">
 
  <h1>Rapport des Références</h1>
</section>
<section class="grid-1">
  <h2>Listes de suivi des références</h2>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>Nb de références émises</th>
          <th>Nb de références validées</th>
          <th>Nb de références en attente</th>
          <th>Nb de références refusées</th>
        </tr>
      </thead>
      <tbody>
        <% if @suivis.present? %>
          <% @suivis.each do |suivi| %>
            <tr>
              <td><%= suivi.user.email %></td>
              <td><%= suivi.nb_references_emises %></td>
              <td><%= suivi.nb_references_validees %></td>
              <td><%= suivi.nb_references_non_validees %></td>
              <td><%= suivi.nb_references_refusees %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">Aucun suivi trouvé.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
