<div id="<%= dom_id notification %>">
  <p><%= notification.user_id %></p>
  <p><%= notification.notifiable_type %></p>
  <p><%= notification.notifiable_id %></p>
  <p><%= notification.message %></p>
  <p><%= notification.status %></p>
</div>
