<style>
  .grid-1 ul{
   margin: 32px 0;
  }
    .grid-1 ul li{
   width: 100%;
   height: 70px;
   background-color:#FFF;
   border-radius:5px;
   display: flex;
   align-items: center;
   padding-left:25px;
   color:#202020;
   margin-top: 8px;
    }
    .grid-1 ul li:hover{
  background-color: #EDEDED;
    }
    .time{
   font-size: 14px;
   margin-left: 8px;
   color:#8D9299;
    }


    @media screen and (min-width:0px) and (max-width:349px){

   .grid-1 ul{
     margin: 32px 0;
   }
   .time{
     margin:0;
   }
   .grid-1 ul li{
     font-size: 14px;
     width: 70vw;
     gap: 16px;
     height: auto;
     align-items:start;
     padding: 20px;
     flex-direction:column;
       margin-top: 16px;
   }

    }
    @media screen and (min-width:350px) and (max-width:800px){

  .time{
     margin:0;
   }

   .grid-1 ul{
     margin: 32px 0;
   }
   .grid-1 ul li{
     width: 80vw;
     gap: 16px;
     height: auto;
     align-items:start;
     padding: 20px;
     flex-direction:column;
       margin-top: 16px;
   }


    }
</style>
<section class="top-default-page">
  <button id="back-btn">
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  </button>
  <h1>Vos notifications</h1>
</section>
<section class="grid-1">
  <% if @notifications.any? %>
    <% today_notifications = @notifications.select { |notification| notification.created_at.to_date == Date.today } %>
    <% last_7_days_notifications = @notifications.select { |notification| notification.created_at.to_date >= 7.days.ago.to_date && notification.created_at.to_date < Date.today } %>
    <% last_30_days_notifications = @notifications.select { |notification| notification.created_at.to_date >= 30.days.ago.to_date && notification.created_at.to_date < 7.days.ago.to_date } %>
    <% previous_notifications = @notifications.select { |notification| notification.created_at.to_date < 30.days.ago.to_date } %>
    <% if today_notifications.any? %>
      <h2>Aujourd'hui</h2>
      <ul>
        <% today_notifications.each do |notification| %>
          <li>
            <%= notification.message %>
            <% time_ago = distance_of_time_in_words(Time.now, notification.created_at) %>
            <p class="time"><%= time_ago %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if last_7_days_notifications.any? %>
      <h2>7 derniers jours</h2>
      <ul>
        <% last_7_days_notifications.each do |notification| %>
          <li>
            <%= notification.message %>
            <% time_ago = distance_of_time_in_words(Time.now, notification.created_at) %>
            <p class="time"><%= time_ago %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if last_30_days_notifications.any? %>
      <h2>30 derniers jours</h2>
      <ul>
        <% last_30_days_notifications.each do |notification| %>
          <li>
            <%= notification.message %>
            <% time_ago = distance_of_time_in_words(Time.now, notification.created_at) %>
            <p class="time"><%= time_ago %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% if previous_notifications.any? %>
      <h2>Auparavant</h2>
      <ul>
        <% previous_notifications.each do |notification| %>
          <li>
            <%= notification.message %>
            <% time_ago = distance_of_time_in_words(Time.now, notification.created_at) %>
            <p class="time"><%= time_ago %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <p>Aucune notification.</p>
  <% end %>
</section>
<script>
  document.getElementById('back-btn').addEventListener('click', function() {
    const referrer = document.referrer;

    if (referrer && referrer.includes(window.location.hostname)) {
      window.history.back();
    } else {
      window.location.href = 'https://omniscientdesign.fr';
    }
  });
</script>
