<section class="top-default-page">
  <%= link_to users_path do %>
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3256_104)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0C27.9345 0 36 8.0655 36 18C36 27.9345 27.9345 36 18 36C8.0655 36 0 27.9345 0 18C0 8.0655 8.0655 0 18 0ZM20.214 22.4325C21.696 21.825 22.8495 20.616 23.388 19.1085L27 9L16.992 12.5805C15.483 13.1205 14.2755 14.277 13.668 15.759L9.0705 27L20.214 22.4325ZM20.031 16.0035C20.8575 16.83 20.8575 18.1725 20.031 18.9975C19.2045 19.824 17.8635 19.824 17.037 18.9975C16.2105 18.1725 16.2105 16.83 17.037 16.0035C17.8635 15.177 19.2045 15.177 20.031 16.0035Z" fill="#FFF"/>
      </g>
      <defs>
        <clipPath id="clip0_3256_104">
          <rect width="36" height="36" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  <% end %>
  <h1>Historique des visites : <%= @user.full_name %></h1>
</section>
<section class="grid-1">
  <p>Total des visites : <strong><%= @user.daily_visits.count %></strong></p>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Date de la visite</th>
          <th>Heure (approx.)</th>
        </tr>
      </thead>
      <tbody>
        <% @visits.each do |visit| %>
          <tr>
            <td><%= l(visit.visited_on, format: :long) rescue visit.visited_on.strftime("%d/%m/%Y") %></td>
            <td><%= visit.created_at.strftime("%H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="pagination-controls" style="margin-top: 20px; text-align: center;">
    <%= paginate @visits %>
  </div>
</section>