<%= link_to designer do %>
  <% if designer.designer_images.first&.file&.attached? %>
    <div class="card-designer" style="background: url('<%= url_for(designer.designer_images.first.file.variant(:thumb)) %>'); background-size: cover; background-position: center center;">
    <% else %>
      <div class="card-designer" style="background: #F3F3F3;">
      <% end %>
      <div class="inner-card-designer">
        <% designer.countries.each do |country| %>
          <p class="country-card-designer">
            <span class="flag"><%= country_flag(country.country_numeric) %></span>
            <%= country.country %>
          </p>
        <% end %>
        <p class="title-card-designer"><%= designer.nom %> <br>
          <%= designer.prenom %> </p>
        <% if local_assigns[:liaison] %>
          <p class="country-card-designer">
            <%= liaison.date_entree %> - <%= liaison.date_sortie.presence || "Présent" %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
