<% content_for :title, "Ajoute des références - Omniscient Design" %>
<% content_for :description, "Ici, tu peux ajouter une référence et rejoindre la grande famille des contributeurs d'Omniscient Design ! Mais attention, suis bien les règles." %>
<style>
  .add-flex {
    margin-top: 100px;
    display: flex;
    gap: 2vw;
    min-height: 300px;
    flex-wrap: wrap;
  }
  @media screen and (min-width:1025px) and (max-width:1280px){
    .add-flex {
      margin-top: 48px;
      flex-direction:column;
      gap:40px;
    }
  }
  @media screen and (max-width:1024px){
    .add-flex {
      margin-top: 48px;
      flex-direction:column;
      gap:24px;
    }
  }
  .add-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    height: 100%;
    background-color: #202020;
    h1{
      color: #FFF;
    }
  }
  @media screen and (max-width:450px){
    .add-elements {
      padding-top: calc(var(--safe-area-top-android, env(safe-area-inset-top, 0px)) + 32px);
    }
  }
</style>
<section class="grid-1 add-elements">
  <p class="subtitle-top"><%= t('add_references.subtitle_top') %></p>
  <h1 class="title-add-elements"><%= t('add_references.main_title') %></h1>
  <p class="subtitle">
    <%= t('add_references.subtitle') %>
    <%= t('add_references.contributions_html', 
        link: link_to(t('add_references.contributions_link_text'), 
                      user_contributions_path, 
                      class: "semi-bold underline")) %>
  </p>
  <div class="add-flex">
    <%= link_to new_oeuvre_path do %>
      <div class="button-add">
        <%= t('add_references.buttons.references') %>
      </div>
    <%end%>
    <%= link_to new_designer_path do %>
      <div class="button-add">
        <%= t('add_references.buttons.designers') %>
      </div>
    <%end%>
    <%= link_to new_studio_path do %>
      <div class="button-add">
        Studios
      </div>
    <%end%>
  </div>
</section>
