<section class="top-header">
  <%= link_to parrainage_path do %>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.632 6.94488C12.632 6.94488 6.63067 12.9516 4.29333 15.2902C4.09733 15.4849 4 15.7409 4 15.9969C4 16.2529 4.09733 16.5089 4.29333 16.7035C6.62933 19.0422 12.6293 25.0462 12.6293 25.0462C12.8227 25.2395 13.0773 25.3355 13.332 25.3355C13.5867 25.3342 13.8427 25.2369 14.0387 25.0409C14.4293 24.6502 14.4307 24.0196 14.044 23.6316L7.40933 16.9969H26.9987C27.5507 16.9969 27.9987 16.5489 27.9987 15.9969C27.9987 15.4449 27.5507 14.9969 26.9987 14.9969H7.40933L14.0467 8.35822C14.432 7.97288 14.4293 7.34355 14.0387 6.95288C13.8427 6.75688 13.5867 6.65822 13.332 6.65822C13.0773 6.65688 12.8253 6.75288 12.632 6.94488Z" fill="white"/>
    </svg>
  <% end %>
  <p class="subtitle-top">Parrainage </p>
  <h1>Apprenez à plusieurs</h1>
  <p class="subtitle">Profitez des avantages du parrainage et partagez votre passion pour l'apprentissage avec vos amis et collègues.</p>
</section>
<section class="grid-1">
  <div style="display: inline-flex; align-items:center; gap:8px; margin-top:32px">
    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.87802 11.8587C7.84273 11.8977 7.80986 11.9388 7.77956 11.9817C7.74851 12.0275 7.72368 12.0771 7.70573 12.1294C7.68207 12.1759 7.66548 12.2257 7.6565 12.2771C7.65247 12.3317 7.65247 12.3866 7.6565 12.4412C7.65373 12.5488 7.67621 12.6556 7.72213 12.7529C7.75898 12.8548 7.81777 12.9472 7.89433 13.0238C7.97089 13.1003 8.06336 13.1591 8.16517 13.196C8.26338 13.2394 8.36956 13.2618 8.47694 13.2618C8.58431 13.2618 8.69049 13.2394 8.7887 13.196C8.89051 13.1591 8.98298 13.1003 9.05954 13.0238C9.1361 12.9472 9.19489 12.8548 9.23174 12.7529C9.26817 12.6532 9.28489 12.5473 9.28096 12.4412C9.28159 12.3332 9.26089 12.2262 9.22006 12.1262C9.17923 12.0262 9.11907 11.9353 9.04304 11.8587C8.96677 11.7818 8.87602 11.7207 8.77605 11.6791C8.67607 11.6374 8.56883 11.616 8.46053 11.616C8.35222 11.616 8.24498 11.6374 8.14501 11.6791C8.04503 11.7207 7.95429 11.7818 7.87802 11.8587ZM8.46053 0.955078C6.83786 0.955078 5.25163 1.43626 3.90243 2.33776C2.55323 3.23927 1.50166 4.52061 0.880688 6.01976C0.259719 7.51891 0.0972457 9.16854 0.413813 10.76C0.73038 12.3515 1.51177 13.8134 2.65917 14.9608C3.80657 16.1082 5.26845 16.8896 6.85994 17.2061C8.45143 17.5227 10.101 17.3602 11.6002 16.7393C13.0993 16.1183 14.3807 15.0667 15.2822 13.7175C16.1837 12.3683 16.6649 10.7821 16.6649 9.15944C16.6649 8.08202 16.4527 7.01516 16.0404 6.01976C15.6281 5.02437 15.0237 4.11992 14.2619 3.35808C13.5 2.59623 12.5956 1.99191 11.6002 1.5796C10.6048 1.16729 9.53794 0.955078 8.46053 0.955078ZM8.46053 15.7229C7.16239 15.7229 5.89341 15.338 4.81405 14.6168C3.73469 13.8956 2.89343 12.8705 2.39666 11.6712C1.89988 10.4719 1.7699 9.15215 2.02316 7.87896C2.27641 6.60577 2.90152 5.43627 3.81944 4.51835C4.73736 3.60043 5.90686 2.97532 7.18005 2.72207C8.45325 2.46881 9.77294 2.59879 10.9723 3.09557C12.1716 3.59234 13.1967 4.4336 13.9179 5.51296C14.6391 6.59232 15.024 7.8613 15.024 9.15944C15.024 10.9002 14.3325 12.5696 13.1016 13.8005C11.8707 15.0314 10.2013 15.7229 8.46053 15.7229ZM8.46053 5.05726C8.02821 5.05698 7.60344 5.17058 7.22898 5.38661C6.85451 5.60265 6.54355 5.91351 6.32739 6.28791C6.26803 6.38129 6.22817 6.48571 6.21021 6.5949C6.19225 6.70408 6.19657 6.81577 6.22289 6.92324C6.24922 7.03072 6.29701 7.13176 6.3634 7.22028C6.42978 7.30881 6.51339 7.38299 6.60919 7.43836C6.70499 7.49374 6.811 7.52916 6.92084 7.5425C7.03069 7.55585 7.14209 7.54683 7.24836 7.516C7.35463 7.48517 7.45357 7.43316 7.53922 7.36311C7.62486 7.29305 7.69546 7.20639 7.74675 7.10835C7.81903 6.98314 7.92312 6.87927 8.04846 6.80723C8.1738 6.73519 8.31596 6.69755 8.46053 6.69813C8.67812 6.69813 8.8868 6.78457 9.04066 6.93843C9.19452 7.09229 9.28096 7.30097 9.28096 7.51856C9.28096 7.73616 9.19452 7.94484 9.04066 8.0987C8.8868 8.25256 8.67812 8.339 8.46053 8.339C8.24293 8.339 8.03425 8.42544 7.88039 8.5793C7.72653 8.73316 7.64009 8.94184 7.64009 9.15944V9.97987C7.64009 10.1975 7.72653 10.4061 7.88039 10.56C8.03425 10.7139 8.24293 10.8003 8.46053 10.8003C8.67812 10.8003 8.8868 10.7139 9.04066 10.56C9.19452 10.4061 9.28096 10.1975 9.28096 9.97987V9.83219C9.82357 9.63531 10.2797 9.25397 10.5697 8.75485C10.8596 8.25573 10.9649 7.67058 10.8672 7.10169C10.7694 6.5328 10.4749 6.01636 10.0349 5.64265C9.59501 5.26894 9.03774 5.06174 8.46053 5.05726Z" fill="#52525D"/>
    </svg>
    <p>En savoir plus sur les règles de parrainages</p>
  </div>
  <h2>Lié vous à votre parrain</h2>
  <p>Votre ami.e vous a donné un code de parrainage ? Saisissez-le ici pour obtenir vos récompenses.</p>
  <% if current_user.referral %>
    <div>
      <p>Vous êtes déjà parrainé par <%= current_user.referral.referrer.pseudo %>.</p>
    </div>
  <% else %>
    <%= form_with url: parrainage_filleul_path, method: :post, local: true do |form| %>
      <div class="code">
        <p class="title-code">Code de parrainage :</p>
        <div class="code-input">
          <%= form.text_field :referral_code, placeholder: 'Code de parrainage', class: 'input', maxlength: 8  %>
          <%= form.submit 'Soumettre', class: 'button dark' %>
        </div>
      <% end %>
    <% end %>
    <%= link_to parrainage_path, class: "black underline" do %>Parrainer quelqu'un<% end %>
  </div>
</section>
