<style>
  .grid-1{
    padding-bottom: 64px;
  }
  .title-avantage{
    font-size: 24px;
    color: #202020;
    font-weight: 500;
  }
  h2{
    margin: 32px 0;
  }
  .flex-avantages{
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .box-avantage{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
   .box-avantage div{
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
   }
  .box-avantage p{
    text-align: center;
    width: 80%;
  }
  .and{
    text-transform: uppercase;
    color: #202020;
    font-weight: 600;
  }
  .code{
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .title-code{
    color: #202020;
    font-weight: 500;
  }
  .code-input{
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .code input{
    width: 20vw;
    font-size: 48px;
    font-weight: 600;
  }
</style>
<section class="top-header">
  <%= link_to profil_path do %>
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  <% end %>
  <p class="subtitle-top">Parrainage </p>
  <h1>Apprenez à plusieurs</h1>
  <p class="subtitle">Profitez des avantages du parrainage et partagez votre passion pour l'apprentissage avec vos amis et collègues.</p>
</section>
<section class="grid-1">
  <div style="display: inline-flex; align-items:center; gap:8px;">
    <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.87802 11.8587C7.84273 11.8977 7.80986 11.9388 7.77956 11.9817C7.74851 12.0275 7.72368 12.0771 7.70573 12.1294C7.68207 12.1759 7.66548 12.2257 7.6565 12.2771C7.65247 12.3317 7.65247 12.3866 7.6565 12.4412C7.65373 12.5488 7.67621 12.6556 7.72213 12.7529C7.75898 12.8548 7.81777 12.9472 7.89433 13.0238C7.97089 13.1003 8.06336 13.1591 8.16517 13.196C8.26338 13.2394 8.36956 13.2618 8.47694 13.2618C8.58431 13.2618 8.69049 13.2394 8.7887 13.196C8.89051 13.1591 8.98298 13.1003 9.05954 13.0238C9.1361 12.9472 9.19489 12.8548 9.23174 12.7529C9.26817 12.6532 9.28489 12.5473 9.28096 12.4412C9.28159 12.3332 9.26089 12.2262 9.22006 12.1262C9.17923 12.0262 9.11907 11.9353 9.04304 11.8587C8.96677 11.7818 8.87602 11.7207 8.77605 11.6791C8.67607 11.6374 8.56883 11.616 8.46053 11.616C8.35222 11.616 8.24498 11.6374 8.14501 11.6791C8.04503 11.7207 7.95429 11.7818 7.87802 11.8587ZM8.46053 0.955078C6.83786 0.955078 5.25163 1.43626 3.90243 2.33776C2.55323 3.23927 1.50166 4.52061 0.880688 6.01976C0.259719 7.51891 0.0972457 9.16854 0.413813 10.76C0.73038 12.3515 1.51177 13.8134 2.65917 14.9608C3.80657 16.1082 5.26845 16.8896 6.85994 17.2061C8.45143 17.5227 10.101 17.3602 11.6002 16.7393C13.0993 16.1183 14.3807 15.0667 15.2822 13.7175C16.1837 12.3683 16.6649 10.7821 16.6649 9.15944C16.6649 8.08202 16.4527 7.01516 16.0404 6.01976C15.6281 5.02437 15.0237 4.11992 14.2619 3.35808C13.5 2.59623 12.5956 1.99191 11.6002 1.5796C10.6048 1.16729 9.53794 0.955078 8.46053 0.955078ZM8.46053 15.7229C7.16239 15.7229 5.89341 15.338 4.81405 14.6168C3.73469 13.8956 2.89343 12.8705 2.39666 11.6712C1.89988 10.4719 1.7699 9.15215 2.02316 7.87896C2.27641 6.60577 2.90152 5.43627 3.81944 4.51835C4.73736 3.60043 5.90686 2.97532 7.18005 2.72207C8.45325 2.46881 9.77294 2.59879 10.9723 3.09557C12.1716 3.59234 13.1967 4.4336 13.9179 5.51296C14.6391 6.59232 15.024 7.8613 15.024 9.15944C15.024 10.9002 14.3325 12.5696 13.1016 13.8005C11.8707 15.0314 10.2013 15.7229 8.46053 15.7229ZM8.46053 5.05726C8.02821 5.05698 7.60344 5.17058 7.22898 5.38661C6.85451 5.60265 6.54355 5.91351 6.32739 6.28791C6.26803 6.38129 6.22817 6.48571 6.21021 6.5949C6.19225 6.70408 6.19657 6.81577 6.22289 6.92324C6.24922 7.03072 6.29701 7.13176 6.3634 7.22028C6.42978 7.30881 6.51339 7.38299 6.60919 7.43836C6.70499 7.49374 6.811 7.52916 6.92084 7.5425C7.03069 7.55585 7.14209 7.54683 7.24836 7.516C7.35463 7.48517 7.45357 7.43316 7.53922 7.36311C7.62486 7.29305 7.69546 7.20639 7.74675 7.10835C7.81903 6.98314 7.92312 6.87927 8.04846 6.80723C8.1738 6.73519 8.31596 6.69755 8.46053 6.69813C8.67812 6.69813 8.8868 6.78457 9.04066 6.93843C9.19452 7.09229 9.28096 7.30097 9.28096 7.51856C9.28096 7.73616 9.19452 7.94484 9.04066 8.0987C8.8868 8.25256 8.67812 8.339 8.46053 8.339C8.24293 8.339 8.03425 8.42544 7.88039 8.5793C7.72653 8.73316 7.64009 8.94184 7.64009 9.15944V9.97987C7.64009 10.1975 7.72653 10.4061 7.88039 10.56C8.03425 10.7139 8.24293 10.8003 8.46053 10.8003C8.67812 10.8003 8.8868 10.7139 9.04066 10.56C9.19452 10.4061 9.28096 10.1975 9.28096 9.97987V9.83219C9.82357 9.63531 10.2797 9.25397 10.5697 8.75485C10.8596 8.25573 10.9649 7.67058 10.8672 7.10169C10.7694 6.5328 10.4749 6.01636 10.0349 5.64265C9.59501 5.26894 9.03774 5.06174 8.46053 5.05726Z" fill="#52525D"/>
    </svg>
    <p>En savoir plus sur les règles de parrainages</p>
  </div>
  <h2>Vos avantages au parrainage</h2>
  <div class="flex-avantages">
    <div class="box-avantage">
      <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M53.6934 2.05078H12.6716C7.00756 2.05078 2.4162 6.64215 2.4162 12.3062V53.328C2.4162 58.9921 7.00756 63.5835 12.6716 63.5835H53.6934C59.3575 63.5835 63.9489 58.9921 63.9489 53.328V12.3062C63.9489 6.64215 59.3575 2.05078 53.6934 2.05078ZM18.8249 26.6639H13.6049V31.2788H18.8249V34.3554H13.6049V42.047H10.6206V23.5872H18.8249V26.6639ZM31.6186 42.047H28.5204L25.9863 34.3554H24.8326V42.047H21.9015V23.5872H27.0293C29.8577 23.5872 32.157 26.0024 32.157 28.9713C32.157 31.2245 30.831 33.1597 28.9563 33.9606L31.6186 42.047ZM43.438 26.6639H38.218V31.2788H43.438V34.3554H38.218V38.9704H43.438V42.047H35.2336V23.5872H43.438V26.6639ZM55.7445 26.6639H50.5245V31.2788H55.7445V34.3554H50.5245V38.9704H55.7445V42.047H47.5402V23.5872H55.7445V26.6639Z" fill="#202020"/>
        <path d="M27.0293 26.6641H24.8316V31.279H27.0293C28.2415 31.279 29.2271 30.2432 29.2271 28.9715C29.2271 27.6999 28.2415 26.6641 27.0293 26.6641Z" fill="#202020"/>
      </svg>
      <div>
        <p class="title-avantage">Codes promos</p>
        <p>Obtenez 5% de réduction sur votre abonnement </p>
      </div>
    </div>
    <p class="and">et</p>
    <div class="box-avantage">
      <svg width="63" height="80" viewBox="0 0 63 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M34.3419 72.4957L0.884277 39.0381V45.8732C0.884277 47.6844 1.60196 49.4274 2.90062 50.6919L29.5232 77.3145C32.1889 79.9801 36.5292 79.9801 39.1948 77.3145L60.4177 56.0916C63.0834 53.4259 63.0834 49.0856 60.4177 46.42L34.3419 72.4957Z" fill="#202020"/>
        <path d="M29.5232 60.2278C32.1889 62.8935 36.5292 62.8935 39.1948 60.2278L60.4177 39.0049C63.0834 36.3392 63.0834 31.9989 60.4177 29.3333L33.7951 2.71069C32.4969 1.44381 30.7561 0.732772 28.9422 0.728516L7.71934 0.728516C3.96006 0.728516 0.884277 3.8043 0.884277 7.56358V28.7865C0.884277 30.5978 1.60196 32.3407 2.90062 33.6052L29.5232 60.2278ZM15.4088 10.9811C16.5418 10.9811 17.6284 11.4312 18.4295 12.2323C19.2306 13.0335 19.6807 14.1201 19.6807 15.253C19.6807 16.386 19.2306 17.4726 18.4295 18.2737C17.6284 19.0749 16.5418 19.525 15.4088 19.525C14.2758 19.525 13.1892 19.0749 12.3881 18.2737C11.587 17.4726 11.1369 16.386 11.1369 15.253C11.1369 14.1201 11.587 13.0335 12.3881 12.2323C13.1892 11.4312 14.2758 10.9811 15.4088 10.9811Z" fill="#202020"/>
      </svg>
      <div>
        <p class="title-avantage">1 mois gratuit</p>
        <p>Votre filleul obtiens 1 mois gratuit</p>
      </div>
    </div>
  </div>
  <div class="code">
    <p class="title-code">Votre code de parrainage :</p>
    <div class="code-input">
      <input type="text" value="<%= @user.referral_code %>" id="referral-code" readonly>
      <button class="button dark" onclick="copyReferralCode()">Copier
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.375 0H4.375C4.20924 0 4.05027 0.0658481 3.93306 0.183058C3.81585 0.300269 3.75 0.45924 3.75 0.625V3.75H0.625C0.45924 3.75 0.300269 3.81585 0.183058 3.93306C0.0658481 4.05027 0 4.20924 0 4.375V14.375C0 14.5408 0.0658481 14.6997 0.183058 14.8169C0.300269 14.9342 0.45924 15 0.625 15H10.625C10.7908 15 10.9497 14.9342 11.0669 14.8169C11.1842 14.6997 11.25 14.5408 11.25 14.375V11.25H14.375C14.5408 11.25 14.6997 11.1842 14.8169 11.0669C14.9342 10.9497 15 10.7908 15 10.625V0.625C15 0.45924 14.9342 0.300269 14.8169 0.183058C14.6997 0.0658481 14.5408 0 14.375 0ZM10 13.75H1.25V5H10V13.75ZM13.75 10H11.25V4.375C11.25 4.20924 11.1842 4.05027 11.0669 3.93306C10.9497 3.81585 10.7908 3.75 10.625 3.75H5V1.25H13.75V10Z" fill="white"/>
        </svg>
      </button>
    </div>
    <%= link_to parrainage_filleul_path, class: "black underline" do %>Se faire parrainer<% end %>
  </div>
</section>
<section class="grid-1 filleul">
  <h2>Liste de vos filleuls</h2>
  <p>Vous avez <%= @referred_count %> filleul(s).</p>
  <% if @referred_users.any? %>
    <ul>
      <% @referred_users.each do |referral| %>
        <li>
          <strong><%= referral.pseudo %></strong> -
          (inscrit le <%= referral.created_at.strftime('%d/%m/%Y') %>)
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
<script>
  function copyReferralCode() {
    var copyText = document.getElementById("referral-code");
    copyText.select();
    copyText.setSelectionRange(0, 99999); // Pour les mobiles

    document.execCommand("copy");

    alert("Code de parrainage copié : " + copyText.value);
  }
</script>
