<% content_for :title, "Découvrez notre site - Omniscient Design" %>
<% content_for :description, "Omniscient Design est le plus grand et le meilleur carnet de référence numérique de tous les temps ! Découvre les designs du monde entier." %>
<%= image_tag "logo-white.svg", alt: "", class: "logo-top" %>
<section class="top-presentation grid-1">
  <div class="left-container">
    <div class="top-presentation-tag">
      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 0.5L10.4453 5.93667L16 6.704L11.9573 10.5893L12.944 16.5L8 13.464L3.05533 16.5L4.04267 10.5893L0 6.704L5.55467 5.93667L8 0.5Z" fill="#202020"/>
      </svg>
      403 Références sur la plateforme • <span class="semi-bold">Voir les références ></span>
    </div>
    <div class="text-top-presentation">
      <h1>Omniscient Design - <br><span class="medium">
      “Le monde du design accessible à tous”</span></h1>
      <p>Un carnet de référence numérique pour ...a </p>
    </div>
    <div class="btn-section-top">
      <%= link_to "Démarrer maintenant", new_user_registration_path, class: "button"%>
      <%= link_to "Explorer le carnet", root_path, class: "button" %>
    </div>
  </div>
    <div class="right-container">
      </div>
</section>
<section class="about-us">
  <div class="container">
     <div class="flex-text">
      <div>
        <p class="tag">Un problème ?</p>
        <h2>Une plateforme née d’un besoin</h2>
      </div>
      <p>Omniscient Design est né d’une frustration partagée par de nombreux étudiants en arts appliqués. Le manque d’un outil centralisé, fiable et vivant pour retrouver des références de design.<br><br>
Ce qui n’était au départ qu’une idée – celle de transformer le traditionnel “carnet de références” en une ressource numérique – s’est progressivement mué en projet de fond, pensé pour durer.</p>
    </div>
    <div class="image-container">
 <%= image_tag "rect.png", alt: "", class: "img-about first-image" %>
    </div>
  </div>
  <div class="container">
    <div class="image-container">
      <%= image_tag "rect.png", alt: "", class: "second-image" %>
    </div>
    <div class="flex-text">
      <div>
        <p class="tag">Une solution</p>
        <h2>Le début d’une longue histoire</h2>
      </div>
      <p>Créé en 2024 par Edgar Quéméré et Thomas Riquier, Omniscient Design vise à rassembler, organiser et transmettre la mémoire du design dans toute sa diversité.</p>
    </div>
  </div>
</section>
<section class="citation">
  <p class="citation-text">“Nous croyons que le design est une forme d’expression profondément humaine, bien plus qu’une discipline ou une tendance. C’est un dialogue entre forme et fonction, entre nécessité et sensibilité. Le design raconte notre manière d’habiter le monde, de le penser, de l’adapter. Il reflète nos intentions, nos erreurs, nos réussites.”</p>
  <p class="citation-name">- Edgar & Thomas</p>
</section>
<section>
  <h2>Ce projet repose sur une conviction simple</h2>
  <p>Le design mérite un lieu qui le respecte, qui le rende compréhensible, et surtout, qui le rende accessible.</p>
</section>
<section>
  <div class="container">
    <%= image_tag "", alt: "" %>
    <div class="flex-text">
      <h2>Une ressource vivante, au service de tous</h2>
      <p>Omniscient Design n’est pas une simple bibliothèque d’images. C’est un outil pédagogique, exploratoire, et collaboratif, pensé autant pour les étudiants que pour les professionnels ou les amateurs passionnés. <br><br>Chaque fiche, chaque créations, chaque designer référencé est une entrée vers une histoire, un contexte, un apprentissage possible.</p>
    </div>
  </div>
</section>

    <%= javascript_include_tag "controllers/hero_animation", defer: true %>