<% content_for :title, "Profil - Omniscient Design" %>
<% content_for :description, "Bienvenue dans ton profil, ton espace personnel. Modifie tes informations, contacte-nous ou découvre notre superbe accessibilité !" %>
<section class="top-profil">
  <h1>Votre profil</h1>
  <div class="flex-profil">
    <div class="profile">
      <%= image_tag "profil.png", class: "img-profil" %>
    </div>
    <div>
      <p class="name"><%= current_user.firstname %> <%= current_user.lastname %></p>
      <div class="flex-certified">
        <p class="pseudo">@<%= current_user.pseudo %></p>
        <% if current_user.certified? %>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_3263_228)">
              <path d="M23.873 9.81C23.96 9.559 24 9.301 24 9.046C24 8.276 23.62 7.532 22.945 7.065C20.792 5.573 21.077 5.948 20.266 3.522C19.926 2.509 18.947 1.825 17.842 1.825H17.835C15.182 1.834 15.642 1.976 13.501 0.471C13.055 0.157 12.527 0 12 0C11.473 0 10.945 0.157 10.498 0.471C8.342 1.986 8.812 1.833 6.164 1.824H6.157C5.053 1.824 4.073 2.509 3.735 3.521C2.923 5.953 3.201 5.577 1.057 7.065C0.38 7.534 0 8.277 0 9.048C0 9.302 0.042 9.559 0.127 9.81C0.958 12.238 0.956 11.772 0.127 14.19C0.042 14.441 0 14.697 0 14.952C0 15.722 0.38 16.466 1.057 16.935C3.203 18.425 2.925 18.048 3.736 20.478C4.074 21.491 5.053 22.175 6.158 22.175H6.165C8.818 22.166 8.358 22.023 10.499 23.528C10.945 23.842 11.473 24 12 24C12.527 24 13.055 23.842 13.502 23.529C15.643 22.025 15.181 22.167 17.836 22.176H17.843C18.947 22.176 19.927 21.491 20.267 20.479C21.078 18.052 20.792 18.427 22.946 16.936C23.62 16.467 24 15.723 24 14.953C24 14.699 23.96 14.441 23.873 14.19C23.042 11.762 23.046 12.227 23.873 9.81ZM10.5 16.75L6 12.386L7.858 10.529L10.5 13.034L16.142 7.251L18 9.108L10.5 16.75Z" fill="white"/>
            </g>
          </svg>
        <%end%>
      </div>
    </div>
  </div>
</section>
<section class="grid-1">
  <div class="flex-profils">
    <h2>Thème</h2>
    <div class="theme-switcher">
      <select id="theme-select">
        <option value="system">Système</option>
        <option value="light">Clair</option>
        <option value="dark">Sombre</option>
      </select>
    </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
  const themeSelect = document.getElementById("theme-select");

  function setTheme(theme) {
    if (theme === "system") {
      const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      document.documentElement.setAttribute("data-theme", prefersDark ? "dark" : "light");
    } else {
      document.documentElement.setAttribute("data-theme", theme);
    }
  }

  // Load theme from localStorage
  const savedTheme = localStorage.getItem("theme") || "system";
  themeSelect.value = savedTheme;
  setTheme(savedTheme);

  // Listen to user selection
  themeSelect.addEventListener("change", () => {
    const selected = themeSelect.value;
    localStorage.setItem("theme", selected);
    setTheme(selected);
  });

  // If system is selected, listen to system changes
  window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
    if (localStorage.getItem("theme") === "system") {
      setTheme("system");
    }
  });
});

    </script>
    <h2>Général</h2>
    <%= link_to edit_user_registration_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
       <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3484_159)">
            <path d="M27.1667 14.1678C27.1667 18.677 23.5103 22.3345 19 22.3345C14.4897 22.3345 10.8333 18.677 10.8333 14.1678C10.8333 9.65633 14.4897 6 19 6C23.5103 6 27.1667 9.65633 27.1667 14.1678ZM25.3023 22.5445C23.5453 23.871 21.366 24.6678 19 24.6678C16.6317 24.6678 14.4512 23.8687 12.6918 22.5422C7.94117 24.634 5 31.1475 5 34H33C33 31.1732 29.9667 24.6597 25.3023 22.5445Z" fill="#202020"/>
          </g>
        </svg>
        Votre compte
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <%# <a href="#" class="nav-link-profil disabled">
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3993 30.9807L26.3632 24.0157L28.0642 28.344L13.6675 34L8.05817 19.7223L19.3993 30.9807ZM17.9107 6H7V17.0285L19.3958 29.3333L30.3333 18.3958L17.9107 6ZM22.6065 17.0553C22.1223 16.5712 21.5973 16.3355 20.9988 16.3355C20.3245 16.3355 19.5673 16.6167 18.466 17.2735C17.6703 17.7518 17.1617 17.9548 16.7673 17.9548C16.3462 17.9548 15.5038 17.4788 15.6462 16.5338C15.7068 16.1313 15.9378 15.7207 16.3135 15.3438C17.0742 14.5843 18.1148 14.3545 18.9688 15.2202L19.8368 14.3522C19.2815 13.7968 18.5582 13.4282 17.7823 13.4282C17.122 13.4282 16.4698 13.693 15.8422 14.218L15.1118 13.4865L14.2975 14.302L15.0593 15.0627C14.3955 16.0263 14.077 17.4205 15.148 18.4903C16.3275 19.6698 17.7007 19.1215 19.1298 18.2197C19.8298 17.7775 20.3933 17.5628 20.8507 17.5628C21.5378 17.5628 22.2273 18.1438 22.1083 19.0305C22.0477 19.4808 21.805 19.9207 21.3838 20.3395C20.8577 20.8657 20.3292 21.1317 19.8123 21.1317C19.3247 21.1317 18.9408 20.9077 18.5885 20.5927L17.7263 21.4548C18.2665 21.9892 18.9887 22.3333 19.7505 22.3333C20.3852 22.3333 21.0187 22.0988 21.6312 21.6368L22.2612 22.2645L23.0743 21.4513L22.4677 20.8435C23.3345 19.7982 23.8175 18.2663 22.6065 17.0553ZM11.3155 8.33333C12.4098 8.33333 13.2977 9.22117 13.2977 10.3155C13.2977 11.4098 12.4098 12.2977 11.3155 12.2977C10.2212 12.2977 9.33333 11.4098 9.33333 10.3155C9.33333 9.22117 10.2212 8.33333 11.3155 8.33333Z" fill="#202020"/>
        </svg>

        Abonnements
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    </a> %>
    <%= link_to parrainage_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
       <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.2172 28.866C18.0013 29.16 17.6688 29.3152 17.3317 29.3152C17.1053 29.3152 16.8778 29.2452 16.6807 29.1017C16.1918 28.7412 16.0868 28.0563 16.445 27.5675L17.7015 25.8689C18.0608 25.3824 18.7468 25.2762 19.2357 25.6367C19.7268 25.9937 19.8318 26.6809 19.4702 27.1685L18.2172 28.866ZM17.2547 25.5538C17.614 25.0662 17.5078 24.379 17.0202 24.0185C16.529 23.6592 15.8442 23.7665 15.4837 24.2553L14.2318 25.9459C13.8713 26.4347 13.9787 27.123 14.4675 27.4823C14.954 27.8405 15.6423 27.7367 16.0017 27.2467L17.2547 25.5538ZM15.038 23.9345C15.3985 23.448 15.2912 22.7597 14.8012 22.4003C14.3135 22.0422 13.6263 22.1483 13.2682 22.636L12.0047 24.3405C11.6453 24.8293 11.7608 25.5013 12.2485 25.8618C12.7397 26.2212 13.4152 26.129 13.7745 25.6402L15.038 23.9345ZM12.8237 22.3175C13.183 21.8287 13.0792 21.1427 12.5868 20.7833C12.098 20.4228 11.412 20.529 11.0527 21.0178L9.7985 22.7107C9.43917 23.1984 9.54533 23.8867 10.0342 24.2448C10.523 24.603 11.2102 24.4992 11.5683 24.0092L12.8237 22.3175ZM33 12.4732C33 12.4732 31.1858 12.8243 29.8885 13.032C27.3848 13.4333 25.0538 12.5467 22.4673 11.2097C21.9482 10.9425 21.3508 10.666 20.7663 10.666C20.2285 10.666 19.7012 10.9098 19.259 11.4115C17.6653 13.2163 16.739 14.8123 14.8432 15.9195C13.9087 16.4655 15.0065 18.1758 17.0132 17.4723C18.0375 17.113 19.0385 16.4282 20.1702 15.5158C21.0592 14.7983 21.5935 14.9045 22.3623 15.6733C23.8067 17.1177 28.667 21.9162 28.667 21.9162C30.2035 20.9688 31.4927 20.3855 32.9988 19.8255L33 12.4732ZM20.722 27.2455C20.5377 27.781 20.001 28.4134 19.6102 28.943C19.9567 29.2172 20.3195 29.3327 20.6392 29.3327C21.4757 29.3327 22.0252 28.5498 21.2715 27.795L20.722 27.2455ZM28.3123 23.2053C27.064 21.9745 22.7917 17.7605 21.5422 16.5402C21.3497 16.3523 21.051 16.3302 20.8328 16.4888C20.0873 17.0302 18.4038 18.2213 17.3982 18.5748C15.4323 19.2632 13.764 18.3158 13.4058 16.9893C13.1818 16.1587 13.5143 15.3432 14.254 14.9115C15.43 14.2243 16.1872 13.3073 17.1193 12.1547C16.3085 11.5258 15.5443 11.3007 14.7965 11.3007C12.8062 11.3007 10.9267 12.8943 8.57117 12.7368C6.96933 12.6318 5 12.2667 5 12.2667V19.6552C6.722 20.0297 7.86417 20.1965 9.57333 21.054L10.1123 20.326C10.537 19.7473 11.2195 19.402 11.937 19.402C12.952 19.402 13.8293 20.0764 14.1082 21.0214C15.2177 21.0214 16.053 21.7237 16.3225 22.6395C17.2862 22.6033 18.237 23.245 18.5357 24.2553C19.9018 24.2553 20.8888 25.3287 20.8468 26.5969L22.2095 27.9595C22.6377 28.3889 23.333 28.3877 23.7623 27.9595C24.1917 27.5302 24.1917 26.8348 23.7623 26.4055L21.7953 24.4373C21.5387 24.1807 21.9272 23.7922 22.1838 24.0488L24.5545 26.4207C24.9838 26.85 25.678 26.85 26.1073 26.4207C26.5367 25.9913 26.5367 25.2972 26.1073 24.8679L23.1895 21.9488C22.9317 21.6945 23.3213 21.3037 23.578 21.5604L26.728 24.7115C27.1573 25.1408 27.8515 25.1408 28.2808 24.7115C28.6985 24.2962 28.702 23.6358 28.3123 23.2053Z" fill="#202020"/>
      </svg>
        Parrainage
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <%= link_to user_contributions_path , class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3484_159)">
            <path d="M29.5 16.5C27.568 16.5 26 18.0668 26 20C26 21.9332 27.568 23.5 29.5 23.5C31.432 23.5 33 21.9332 33 20C33 18.0668 31.432 16.5 29.5 16.5ZM12 27C10.0668 27 8.5 28.5668 8.5 30.5C8.5 32.4332 10.0668 34 12 34C13.932 34 15.5 32.4332 15.5 30.5C15.5 28.5668 13.932 27 12 27ZM15.5 9.5C15.5 11.4332 13.932 13 12 13C10.068 13 8.5 11.4332 8.5 9.5C8.5 7.56683 10.068 6 12 6C13.932 6 15.5 7.56683 15.5 9.5ZM17.3527 7.19117L17.8333 7.16667C22.8278 7.16667 27.1445 10.025 29.2667 14.1912C28.4302 14.225 27.645 14.4362 26.9357 14.7873C25.1215 11.6338 21.7253 9.5 17.8333 9.5C17.8333 8.67983 17.6595 7.89933 17.3527 7.19117ZM29.2667 25.8088C27.1445 29.975 22.8278 32.8333 17.8333 32.8333L17.3527 32.8088C17.6595 32.1007 17.8333 31.3202 17.8333 30.5C21.7253 30.5 25.1215 28.3662 26.9357 25.2127C27.645 25.565 28.4302 25.7762 29.2667 25.8088ZM7.205 27.1925C5.81317 25.1403 5 22.6658 5 20C5 17.3342 5.81317 14.8597 7.205 12.8075C7.66233 13.4678 8.25617 14.0197 8.93983 14.4443C7.92833 16.0578 7.33333 17.9583 7.33333 20C7.33333 22.0417 7.92833 23.9422 8.93983 25.5557C8.25617 25.9803 7.66117 26.5322 7.205 27.1925Z" fill="#202020"/>
          </g>
        </svg>
        Mes Contributions
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <%= link_to notifications_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
       <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.3265 10.6025C22.5752 10.1662 22.1108 9.35417 22.1132 8.47917V8.47567C22.1132 7.10833 21.0177 6 19.6667 6C18.3157 6 17.2202 7.10833 17.2202 8.47567V8.47917C17.2225 9.35533 16.7582 10.1662 16.0068 10.6025C10.5608 13.7665 13.6898 24.27 8 26.1262V28.1667H31.3333V26.1262C25.6435 24.27 28.7725 13.7665 23.3265 10.6025ZM19.6667 7.16667C20.3107 7.16667 20.8333 7.6905 20.8333 8.33333C20.8333 8.97733 20.3107 9.5 19.6667 9.5C19.0227 9.5 18.5 8.97733 18.5 8.33333C18.5 7.6905 19.0227 7.16667 19.6667 7.16667ZM23.1667 30.5C23.1667 32.3643 21.5427 34 19.7005 34C17.8583 34 16.1667 32.3643 16.1667 30.5H23.1667Z" fill="#202020"/>
      </svg>
        Notifications
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <a href="#" class="nav-link-profil disabled">
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.1933 14.1663C26.7395 14.1663 23.3433 15.333 18.9998 15.333C14.6248 15.333 11.294 14.1663 10.8052 14.1663C10.1775 14.1663 9.6665 14.6773 9.6665 15.305C9.6665 15.8335 10.041 16.3013 10.5497 16.4145C13.072 17.0713 15.8825 17.5205 15.8825 20.0685C15.8825 24.2277 13.1747 28.1173 12.0792 29.9572C11.9788 30.131 11.9263 30.3293 11.9263 30.5277C11.9263 31.1565 12.4373 31.6663 13.0662 31.6663C13.3707 31.6663 13.6588 31.5462 13.8758 31.328C14.773 30.4273 16.5498 27.744 17.363 26.449C17.8192 25.7233 18.2858 25.0723 19.0068 25.0712C19.7103 25.0723 20.1793 25.7233 20.6367 26.449C21.4498 27.744 23.2255 30.4273 24.1227 31.328C24.3385 31.5462 24.6267 31.6663 24.9335 31.6663C25.5612 31.6663 26.0722 31.1565 26.0722 30.5277C26.0722 30.3293 26.0197 30.1322 25.9077 29.9385C24.7853 28.052 22.116 24.2323 22.116 20.0685C22.116 17.3747 25.3255 16.964 27.4395 16.4168C27.9563 16.3013 28.3332 15.8335 28.3332 15.305C28.3332 14.6773 27.821 14.1663 27.1933 14.1663ZM19.0267 8.33301C20.6297 8.33301 21.9293 9.63967 21.9293 11.2497C21.9293 12.8597 20.6297 14.1663 19.0267 14.1663C17.4248 14.1663 16.1228 12.8597 16.1228 11.2497C16.1228 9.63967 17.4248 8.33301 19.0267 8.33301Z" fill="#202020"/>
        </svg>
        Accessibilité
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    </a>
    <%= link_to changelog_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3484_159)">
            <path d="M33 20C33 27.7315 26.7315 34 19 34C11.2685 34 5 27.7315 5 20H7.33333C7.33333 26.433 12.567 31.6667 19 31.6667C25.433 31.6667 30.6667 26.433 30.6667 20C30.6667 13.567 25.433 8.33333 19 8.33333C15.7602 8.33333 12.8318 9.6645 10.7178 11.8065L13.1223 14.211L5 15.7907L6.5225 7.60883L9.06467 10.1522C11.5987 7.59017 15.1103 6 19 6C26.7315 6 33 12.2685 33 20ZM17.8333 13V22.3333H26V20H20.1667V13H17.8333Z" fill="#202020"/>
          </g>
        </svg>
        Rapport de mise à jour
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <h2>Support</h2>
    <%= link_to bug_reports_new_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3484_159)">
            <path d="M19 6C11.2685 6 5 12.2685 5 20C5 27.7315 11.2685 34 19 34C26.7315 34 33 27.7315 33 20C33 12.2685 26.7315 6 19 6ZM19 27.2917C18.195 27.2917 17.5417 26.6383 17.5417 25.8333C17.5417 25.0283 18.195 24.375 19 24.375C19.8062 24.375 20.4583 25.0283 20.4583 25.8333C20.4583 26.6383 19.8062 27.2917 19 27.2917ZM21.2878 20.3757C20.2332 21.5132 20.183 22.142 20.197 22.9167H17.8578C17.8497 21.1958 17.8812 20.4375 19.5273 18.8707C20.1958 18.236 20.7232 17.7332 20.6497 16.7462C20.582 15.807 19.798 15.3158 19.0572 15.3158C18.23 15.3158 17.2628 15.9307 17.2628 17.6643H14.9178C14.9178 14.8643 16.5617 13.056 19.1062 13.056C20.3148 13.056 21.3718 13.4515 22.0812 14.1702C22.7462 14.8445 23.0903 15.7708 23.0775 16.8512C23.0588 18.4647 22.0777 19.524 21.2878 20.3757Z" fill="#202020"/>
          </g>
        </svg>
        Signaler un problème
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <a href="mailto:contact@omniscientdesign.fr" class="nav-link-profil">
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_3484_159)">
            <path d="M21.0043 18.2827C21.0043 19.2067 20.6917 20.4165 20.2063 21.365C19.0292 23.675 16.6328 23.6598 16.6328 21.2017C16.6328 20.2847 16.9478 19.1028 17.4343 18.1917C18.6255 15.9458 21.0043 16.297 21.0043 18.2827ZM33 20C33 27.7315 26.7315 34 19 34C11.2685 34 5 27.7315 5 20C5 12.2685 11.2685 6 19 6C26.7315 6 33 12.2685 33 20ZM27.1667 18.607C27.1667 14.82 24.0972 12.0725 19.868 12.0725C14.0732 12.0725 10.8333 15.7463 10.8333 20.3243C10.8333 24.6083 13.7115 27.9275 19.028 27.9275C21.968 27.9275 23.8393 27.0805 25.0037 26.4248L24.2022 25.2687C23.0098 25.9605 21.576 26.594 19.2368 26.594C15.2363 26.594 12.5483 24.0285 12.5483 20.2088C12.5483 13.5425 20.0162 12.3245 23.298 14.2927C26.3593 16.2083 26.2427 20.8003 23.977 22.5562C22.7707 23.5198 21.4115 23.4883 21.8525 21.6742C21.8525 21.6742 23.2665 16.437 23.4322 15.87H21.8408L21.5247 16.9807C21.2003 16.0648 20.4245 15.4698 19.2952 15.4698C16.9408 15.4698 14.9528 18.0248 14.9528 21.05C14.9528 23.0683 16.018 24.3213 17.7295 24.3213C19.2263 24.3213 20.0045 23.4743 20.4875 22.7195C20.1375 26.1005 27.1667 24.536 27.1667 18.607Z" fill="#202020"/>
          </g>
        </svg>
        Contacter un administrateur
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    </a>
    <% if current_user.admin? || current_user.certified? %>
      <h2>Validation</h2>
      <%= link_to validation_path, class: "nav-link-profil" do %>
        <div class="nav-link-inner">
          <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.4168 18.8337C28.3148 18.8337 30.6668 21.1857 30.6668 24.0837C30.6668 26.9817 28.3148 29.3337 25.4168 29.3337C22.5188 29.3337 20.1668 26.9817 20.1668 24.0837C20.1668 21.1857 22.5188 18.8337 25.4168 18.8337ZM18.4413 24.667C18.4915 25.276 18.6198 25.8628 18.8158 26.417H8.2085C7.7255 26.417 7.3335 26.025 7.3335 25.542C7.3335 25.059 7.7255 24.667 8.2085 24.667H18.4413ZM22.7627 24.639L24.445 26.1382C24.5558 26.2373 24.6958 26.2863 24.8335 26.2863C24.9922 26.2863 25.1497 26.2222 25.2652 26.0973L28.113 22.9835C28.2157 22.8715 28.2658 22.7303 28.2658 22.5915C28.2658 22.2718 28.008 22.0093 27.6825 22.0093C27.5238 22.0093 27.3663 22.0735 27.2508 22.1983L24.7915 24.8863L23.5397 23.771C23.4277 23.6718 23.29 23.6228 23.1512 23.6228C22.828 23.6228 22.5678 23.8842 22.5678 24.205C22.5678 24.3648 22.6332 24.5235 22.7627 24.639ZM19.7317 20.0003C19.349 20.5323 19.0387 21.1203 18.8158 21.7503H8.2085C7.7255 21.7503 7.3335 21.3583 7.3335 20.8753C7.3335 20.3923 7.7255 20.0003 8.2085 20.0003H19.7317ZM28.3335 16.2087C28.3335 15.7257 27.9415 15.3337 27.4585 15.3337H8.2085C7.7255 15.3337 7.3335 15.7257 7.3335 16.2087C7.3335 16.6917 7.7255 17.0837 8.2085 17.0837H27.4585C27.9415 17.0837 28.3335 16.6917 28.3335 16.2087ZM28.3335 11.542C28.3335 11.059 27.9415 10.667 27.4585 10.667H8.2085C7.7255 10.667 7.3335 11.059 7.3335 11.542C7.3335 12.025 7.7255 12.417 8.2085 12.417H27.4585C27.9415 12.417 28.3335 12.025 28.3335 11.542Z" fill="#202020"/>
          </svg>
          Validation références et designers
        </div>
        <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
        </svg>
      <% end %>
    <% end %>
    <% if current_user.admin? %>
      <h2>Administrateur</h2>
      <%= link_to admin_root_path, class: "nav-link-profil" do %>
        <div class="nav-link-inner">
          <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_3484_159)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M26.3558 29.8207C25.1985 30.5382 23.8358 30.9523 22.3763 30.9523C18.1903 30.9523 14.793 27.5468 14.793 23.3527C14.793 19.1585 18.1903 15.7542 22.3763 15.7542C26.5612 15.7542 29.9597 19.1585 29.9597 23.3527C29.9597 24.8157 29.5467 26.1818 28.8315 27.3415L33 31.5182L30.5255 33.9985L26.3558 29.8207ZM15.9678 29.312C12.2158 29.0903 8.93867 27.0918 6.96583 24.1472L12.0397 21.2177C12.483 21.7928 13.0302 22.284 13.6532 22.6608C13.6357 22.8907 13.6263 23.1228 13.6263 23.3562C13.6263 25.6568 14.5153 27.7498 15.9678 29.312ZM22.3763 18.1213C25.2743 18.1213 27.6263 20.478 27.6263 23.3818C27.6263 26.2857 25.2743 28.6423 22.3763 28.6423C19.4783 28.6423 17.1263 26.2857 17.1263 23.3818C17.1263 20.478 19.4783 18.1213 22.3763 18.1213ZM20.6263 26.2752H19.4597V23.9372H20.6263V26.2752ZM22.9597 26.2752H21.793V22.7682H22.9597V26.2752ZM25.293 26.2752H24.1263V20.4885H25.293V26.2752ZM16.0833 6.01367V11.8622C13.1375 12.155 10.8333 14.6435 10.8333 17.6663C10.8333 18.5845 11.0457 19.4525 11.4248 20.226L6.36617 23.1462C5.49467 21.5117 5 19.6462 5 17.6663C5 11.4235 9.91517 6.31817 16.0833 6.01367ZM21.6507 14.6365C20.722 13.1128 19.1143 12.0477 17.25 11.8622V6.01367C23.1732 6.30651 27.9413 11.0257 28.31 16.929C26.7502 15.487 24.6653 14.6062 22.3763 14.6062C22.1325 14.6062 21.8898 14.6167 21.6507 14.6365Z" fill="#202020"/>
            </g>
          </svg>
          Dashboard administrateur
        </div>
        <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
        </svg>
      <%end%>
    <%end%>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: { turbo_method: :delete}, class: "nav-link-profil deco"%>
    <%= link_to changelog_path do %>
      <p class="version">version beta 0.1.21 </p>
    </div>
  </section>
<%end%>
