<% content_for :title, "Profil - Omniscient Design" %>
<% content_for :description, "Bienvenue dans ton profil, ton espace personnel. Modifie tes informations, contacte-nous ou découvre notre superbe accessibilité !" %>
<style>
  .top-profil{
    padding: 64px 10vw;
    height: 35vh;
    background-color: #202020;
  }
  .main-div{
    padding-bottom: 50px;
  }
  h1{
    color: #FFF;
  }
  .flex-profil{
    margin-top: 42px;
    display: flex;
    align-items: center;
    color: #FFF;
    gap: 48px;
  }
  .img-profil{
    width: 160px;
  }
  .name{
    font-weight: 500;
    font-size: 30px;
  }
    .pseudo{
    font-size: 24px;
    letter-spacing:-3%;
    margin-top: 8px;
  }
  .nav-profil{
    padding: 0 10vw;
  }
  h2{
    margin-top: 64px;
  }
  .nav-profil{
    display: flex;
      gap: 24px;
      flex-direction:column;
  }
  .nav-link-profil:hover{
    opacity: 0.6;
  }
  .nav-link-profil{
    width: 53vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius:5px;
    color: #202020;
    font-weight: 500;
  }
  .nav-link-profil.disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
   .nav-link-profil.deco{
    justify-content: center;
    color: #E61818;
    height: 40px;
   }
  .nav-link-inner{
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: 18px;
  }
  .version{
    text-align:center;
    color: #8D9299;
    font-weight: 300;
  }
   @media screen and (min-width:0px) and (max-width:349px) {
    h1{
      font-size: 24px;
    }
    .top-profil{
      padding: 48px 5vw;
      height: 240px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }

    .flex-profil{
      margin-top: 32px;
      flex-direction:column;
      gap: 32px;
    }
    .img-profil{
      width: 90px;
    }
    .name{
      font-size: 18px;
      text-align:center;
    }
    .pseudo{
      text-align:center;
      font-size: 14px;
    }
    .nav-profil{
      padding: 0 5vw;
    }
    h2{
      margin-top: 32px;
      font-size: 16px;
    }
    .nav-profil{
      gap: 16px;
    }

    .nav-link-profil{
      width: 80vw;
      padding: 10px;
    }
    .nav-link-profil svg{
      scale:0.7;
    }
    .nav-link-inner{
      gap: 6px;
      font-size: 14px;
      max-width: 90%;
    }
   .nav-link-profil.deco{
    font-size: 14px;
    height: 30px;
   }
     .version{
      font-size: 13px;
     }
  }
  @media screen and (min-width:350px) and (max-width:800px) {
    h1{
      font-size: 24px;
    }
    .top-profil{
      padding: 48px 5vw;
      height: 240px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }

    .flex-profil{
      margin-top: 32px;
      flex-direction:column;
      gap: 32px;
    }
    .img-profil{
      width: 90px;
    }
    .name{
      font-size: 20px;
      text-align:center;
    }
    .pseudo{
      text-align:center;
      font-size: 18px;
    }
    .nav-profil{
      padding: 0 5vw;
    }
    h2{
      margin-top: 32px;
      font-size: 18px;
    }
    .nav-profil{
      gap: 16px;
    }

    .nav-link-profil{
      width: 80vw;
    }
    .nav-link-profil svg{
      scale:0.8;
    }
    .nav-link-inner{
      gap: 14px;
      font-size: 16px;
      max-width: 90%;
    }

  }
</style>
<section class="top-profil">
  <h1>Votre profil</h1>
  <div class="flex-profil">
    <%= image_tag "profil.png", class: "img-profil" %>
    <div>
      <p class="name"><%= current_user.firstname %> <%= current_user.lastname %></p>
      <p class="pseudo">@<%= current_user.pseudo %></p>
    </div>
  </div>
</section>
<section class="nav-profil">
  <h2>Général</h2>
  <%= link_to edit_user_registration_path, class: "nav-link-profil" do %>
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.1229 24.9934C18.3628 24.8129 20.6131 24.8129 22.8531 24.9934C24.0729 25.0645 25.2869 25.2171 26.4875 25.4502C29.0854 25.9762 30.7814 26.8344 31.5082 28.2187C32.0542 29.299 32.0542 30.5851 31.5082 31.6655C30.7814 33.0498 29.1527 33.9634 26.4605 34.434C25.2609 34.6759 24.0467 34.8332 22.8262 34.9047C21.6955 35.0292 20.5648 35.0292 19.4207 35.0292H17.3612C16.9305 34.9739 16.5132 34.9462 16.1094 34.9462C14.8889 34.8834 13.6743 34.7307 12.475 34.4894C9.87716 33.9911 8.18113 33.1051 7.45426 31.7209C7.17367 31.1846 7.02574 30.5856 7.02336 29.9767C7.01768 29.3641 7.16114 28.7597 7.4408 28.2187C8.15421 26.8344 9.85024 25.9347 12.475 25.4502C13.6796 25.2137 14.8983 25.0611 16.1229 24.9934ZM19.4745 3.91113C23.987 3.91113 27.6451 7.67303 27.6451 12.3136C27.6451 16.9541 23.987 20.716 19.4745 20.716C14.9621 20.716 11.304 16.9541 11.304 12.3136C11.304 7.67303 14.9621 3.91113 19.4745 3.91113Z" fill="#202020"/>
      </svg>
      Votre compte
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  <%end%>
  <a href="#" class="nav-link-profil disabled">
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.8851 9.43435C23.9744 8.05919 21.6958 7.28769 19.3427 7.21928C16.9896 7.15087 14.67 7.78868 12.6827 9.05052C10.6954 10.3124 9.13148 12.1404 8.19251 14.2991C7.25354 16.4578 6.98253 18.8482 7.41439 21.1623C7.48554 21.5781 7.39043 22.0051 7.14957 22.3514C6.90871 22.6976 6.5414 22.9354 6.12686 23.0133C5.71232 23.0912 5.28377 23.003 4.93364 22.7678C4.58351 22.5326 4.33985 22.1692 4.25522 21.756C3.69669 18.7669 4.05978 15.6787 5.29634 12.9006C6.5329 10.1226 8.58454 7.78595 11.1793 6.20046C13.7741 4.61497 16.7894 3.85549 19.8256 4.0227C22.8618 4.18992 25.7755 5.27593 28.1805 7.13677L29.4922 5.82509C29.6419 5.67496 29.8328 5.57264 30.0408 5.53106C30.2487 5.48948 30.4643 5.51053 30.6603 5.59153C30.8562 5.67253 31.0238 5.80985 31.1416 5.9861C31.2595 6.16235 31.3225 6.36962 31.3225 6.58166V11.4962C31.3225 11.7804 31.2096 12.053 31.0087 12.2539C30.8077 12.4549 30.5351 12.5678 30.2509 12.5678H25.3364C25.1248 12.5673 24.9181 12.5042 24.7423 12.3865C24.5665 12.2687 24.4295 12.1015 24.3486 11.906C24.2676 11.7104 24.2464 11.4953 24.2876 11.2878C24.3287 11.0802 24.4304 10.8895 24.5798 10.7396L25.8851 9.43435ZM31.8669 14.9575C32.2858 14.8785 32.719 14.9692 33.0711 15.2095C33.4232 15.4499 33.6654 15.8203 33.7444 16.2392C34.3034 19.2287 33.9406 22.3174 32.7039 25.0959C31.4673 27.8744 29.4154 30.2114 26.8202 31.797C24.225 33.3826 21.2091 34.142 18.1725 33.9743C15.1359 33.8067 12.2219 32.7201 9.81699 30.8584L8.50532 32.1723C8.35544 32.3225 8.16432 32.4249 7.95619 32.4664C7.74806 32.5079 7.53229 32.4867 7.33624 32.4054C7.14019 32.3242 6.97268 32.1865 6.85496 32.0099C6.73723 31.8333 6.67459 31.6258 6.67497 31.4136V26.499C6.67497 26.2148 6.78787 25.9423 6.98884 25.7413C7.18981 25.5403 7.46238 25.4274 7.7466 25.4274H12.6611C12.8733 25.427 13.0809 25.4897 13.2575 25.6074C13.4341 25.7251 13.5717 25.8926 13.653 26.0887C13.7342 26.2847 13.7555 26.5005 13.714 26.7086C13.6725 26.9168 13.5701 27.1079 13.4198 27.2578L12.1124 28.563C14.0231 29.9382 16.3017 30.7097 18.6548 30.7781C21.0079 30.8465 23.3275 30.2087 25.3148 28.9468C27.3021 27.685 28.866 25.857 29.805 23.6983C30.744 21.5396 31.015 19.1492 30.5831 16.8351C30.544 16.6273 30.5463 16.4139 30.5898 16.2071C30.6333 16.0002 30.7172 15.804 30.8367 15.6296C30.9561 15.4552 31.1088 15.3061 31.2859 15.1907C31.4631 15.0754 31.6612 14.9962 31.8691 14.9575H31.8669ZM20.3426 11.8327C20.3426 11.4063 20.1732 10.9975 19.8718 10.696C19.5703 10.3946 19.1614 10.2252 18.7351 10.2252C18.3088 10.2252 17.8999 10.3946 17.5985 10.696C17.297 10.9975 17.1277 11.4063 17.1277 11.8327V12.5678C16.2897 12.7064 15.5263 13.1328 14.9688 13.7735C14.4112 14.4142 14.0944 15.2292 14.0729 16.0782C14.0513 16.9272 14.3263 17.7573 14.8506 18.4254C15.3749 19.0936 16.1157 19.5582 16.9455 19.7392L19.646 20.3286C19.8062 20.3692 19.9463 20.4663 20.0406 20.6019C20.1348 20.7376 20.177 20.9027 20.1593 21.067C20.1415 21.2312 20.0651 21.3836 19.944 21.496C19.823 21.6084 19.6654 21.6733 19.5003 21.6788H17.97C17.8291 21.6783 17.6918 21.6344 17.5768 21.5531C17.4618 21.4718 17.3745 21.3571 17.327 21.2245C17.2566 21.0253 17.1477 20.842 17.0065 20.685C16.8653 20.5279 16.6946 20.4002 16.504 20.3092C16.3134 20.2181 16.1068 20.1655 15.8959 20.1543C15.685 20.1431 15.474 20.1736 15.2748 20.2439C15.0757 20.3143 14.8924 20.4232 14.7353 20.5644C14.5783 20.7056 14.4506 20.8764 14.3595 21.0669C14.2685 21.2575 14.2159 21.4641 14.2047 21.675C14.1935 21.8859 14.2239 22.097 14.2943 22.2961C14.5152 22.9197 14.8908 23.4769 15.3861 23.9155C15.8813 24.3542 16.4798 24.6598 17.1255 24.8037V25.5796C17.1255 26.0059 17.2949 26.4148 17.5963 26.7162C17.8978 27.0177 18.3067 27.187 18.733 27.187C19.1593 27.187 19.5682 27.0177 19.8696 26.7162C20.1711 26.4148 20.3404 26.0059 20.3404 25.5796V24.8037C21.2062 24.6097 21.98 24.1263 22.534 23.4333C23.0881 22.7403 23.3893 21.8792 23.3881 20.9919C23.3868 20.1047 23.0832 19.2443 22.5272 18.5529C21.9711 17.8615 21.196 17.3803 20.3297 17.1887L17.6292 16.5971C17.5244 16.5735 17.432 16.5121 17.3696 16.4247C17.3071 16.3373 17.2791 16.23 17.2907 16.1232C17.3024 16.0164 17.353 15.9176 17.4328 15.8458C17.5126 15.7739 17.6161 15.7339 17.7235 15.7334H19.4981C19.6393 15.7327 19.7771 15.7761 19.8924 15.8576C20.0077 15.939 20.0947 16.0545 20.1411 16.1878C20.2832 16.5899 20.5793 16.9192 20.9641 17.1031C21.1547 17.1941 21.3613 17.2468 21.5722 17.258C21.7831 17.2691 21.9942 17.2387 22.1933 17.1683C22.3924 17.098 22.5757 16.9891 22.7328 16.8479C22.8898 16.7066 23.0175 16.5359 23.1086 16.3453C23.1996 16.1548 23.2523 15.9481 23.2635 15.7372C23.2746 15.5263 23.2442 15.3153 23.1738 15.1162C22.9535 14.4919 22.5777 13.9341 22.0819 13.4953C21.5862 13.0566 20.9868 12.7514 20.3404 12.6085V11.837L20.3426 11.8327Z" fill="#202020"/>
      </svg>
      Abonnements
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  </a>
  <a href="#" class="nav-link-profil disabled">
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26.5132 17.6013C24.7954 17.6013 23.1162 18.1017 21.6879 19.0393C20.2596 19.9769 19.1464 21.3096 18.489 22.8688C17.8316 24.428 17.6596 26.1437 17.9948 27.7989C18.3299 29.4541 19.1571 30.9745 20.3717 32.1679C21.5864 33.3612 23.134 34.1739 24.8188 34.5031C26.5035 34.8324 28.2499 34.6634 29.8369 34.0176C31.4239 33.3717 32.7804 32.2781 33.7347 30.8748C34.6891 29.4716 35.1985 27.8218 35.1985 26.1342C35.1959 23.8719 34.28 21.703 32.6517 20.1033C31.0235 18.5036 28.8159 17.6038 26.5132 17.6013ZM27.5988 30.3462V30.4006C27.5988 30.6835 27.4845 30.9548 27.2809 31.1549C27.0773 31.3549 26.8011 31.4673 26.5132 31.4673C26.2252 31.4673 25.9491 31.3549 25.7455 31.1549C25.5419 30.9548 25.4275 30.6835 25.4275 30.4006C25.1396 30.4006 24.8634 30.2883 24.6598 30.0882C24.4562 29.8882 24.3418 29.6169 24.3418 29.334C24.3418 29.0511 24.4562 28.7798 24.6598 28.5798C24.8634 28.3798 25.1396 28.2674 25.4275 28.2674H27.056C27.2 28.2674 27.338 28.2112 27.4398 28.1112C27.5416 28.0112 27.5988 27.8756 27.5988 27.7341C27.5988 27.5927 27.5416 27.457 27.4398 27.357C27.338 27.257 27.2 27.2008 27.056 27.2008H25.9703C25.2982 27.2002 24.6502 26.9545 24.1518 26.5114C23.6534 26.0683 23.3401 25.4593 23.2725 24.8023C23.205 24.1453 23.3879 23.487 23.7861 22.9549C24.1842 22.4228 24.7691 22.0548 25.4275 21.9221V21.8677C25.4275 21.5848 25.5419 21.3135 25.7455 21.1135C25.9491 20.9135 26.2252 20.8011 26.5132 20.8011C26.8011 20.8011 27.0773 20.9135 27.2809 21.1135C27.4845 21.3135 27.5988 21.5848 27.5988 21.8677C27.8868 21.8677 28.1629 21.9801 28.3665 22.1801C28.5701 22.3802 28.6845 22.6515 28.6845 22.9343C28.6845 23.2172 28.5701 23.4885 28.3665 23.6886C28.1629 23.8886 27.8868 24.001 27.5988 24.001H25.9703C25.8264 24.001 25.6883 24.0571 25.5865 24.1572C25.4847 24.2572 25.4275 24.3928 25.4275 24.5343C25.4275 24.6757 25.4847 24.8114 25.5865 24.9114C25.6883 25.0114 25.8264 25.0676 25.9703 25.0676H27.056C27.7282 25.0682 28.3762 25.3138 28.8746 25.7569C29.3729 26.2 29.6863 26.809 29.7538 27.4661C29.8214 28.1231 29.6384 28.7814 29.2403 29.3134C28.8422 29.8455 28.2573 30.2135 27.5988 30.3462ZM18.0342 19.4785C19.0495 18.2266 20.3392 17.2158 21.8072 16.5215C23.2753 15.8271 24.8839 15.467 26.5132 15.468C26.6326 15.468 26.752 15.468 26.8606 15.4787C27.3506 14.4772 27.6031 13.3794 27.5988 12.2682C27.5992 10.8745 27.2025 9.50845 26.4537 8.32474C25.7048 7.14103 24.6336 6.18688 23.3614 5.57026C22.0892 4.95365 20.6667 4.6992 19.2549 4.8357C17.8431 4.97221 16.4984 5.49421 15.3729 6.34265C14.2474 7.19108 13.3861 8.33207 12.8865 9.6365C12.3869 10.9409 12.2688 12.3567 12.5458 13.7236C12.8227 15.0905 13.4835 16.354 14.4535 17.3711C15.4234 18.3881 16.6638 19.1181 18.0342 19.4785Z" fill="#202020"/>
        <path d="M17.1004 20.8223C13.7752 21.0013 10.6465 22.426 8.35827 24.8031C6.07005 27.1801 4.79652 30.3286 4.79984 33.6003H18.7615C17.1035 31.9402 16.0437 29.7928 15.7438 27.4857C15.4439 25.1786 15.9203 22.8385 17.1004 20.8223Z" fill="#202020"/>
      </svg>
      Parrainage
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  </a>
  <%= link_to notifications_path, class: "nav-link-profil" do %>
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.8934 33C21.4729 33 22.7652 31.7077 22.7652 30.1282H17.0216C17.0216 31.7077 18.2996 33 19.8934 33ZM28.5088 24.3846V17.2051C28.5088 12.7969 26.1539 9.10667 22.0472 8.13026V7.15385C22.0472 5.96205 21.0852 5 19.8934 5C18.7016 5 17.7396 5.96205 17.7396 7.15385V8.13026C13.6185 9.10667 11.278 12.7826 11.278 17.2051V24.3846L9.42571 26.2369C8.5211 27.1415 9.15289 28.6923 10.4308 28.6923H29.3416C30.6196 28.6923 31.2657 27.1415 30.3611 26.2369L28.5088 24.3846Z" fill="#202020"/>
      </svg>
      Notifications
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  <%end%>
  <a href="" class="nav-link-profil">
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.5 6C21.0347 6 22.2778 7.24306 22.2778 8.77778C22.2778 10.3125 21.0347 11.5556 19.5 11.5556C17.9653 11.5556 16.7222 10.3125 16.7222 8.77778C16.7222 7.24306 17.9653 6 19.5 6ZM32 15.7222H23.6667V33.7778H20.8889V25.4444H18.1111V33.7778H15.3333V15.7222H7V12.9444H32V15.7222Z" fill="#202020"/>
      </svg>
      Accessibilité
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  </a>
  <%= link_to changelog_path, class: "nav-link-profil" do %>
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_348_2513)">
          <path d="M9.08125 24.5512C10.4203 27.1656 12.6586 29.2084 15.3841 30.3036C18.1096 31.3989 21.139 31.473 23.9147 30.5123C26.6905 29.5516 29.026 27.6207 30.4913 25.075C31.9566 22.5292 32.4532 19.5399 31.8897 16.6571C31.3262 13.7743 29.7406 11.192 27.4245 9.38542C25.1084 7.57881 22.2178 6.66944 19.2846 6.82465C16.3513 6.97987 13.5728 8.18922 11.4604 10.2302C9.3479 12.2711 8.04361 15.0063 7.7875 17.9325M10.5625 16.1887L7.75 19.0012L4.9375 16.1887M19.9375 12.4387V19.9387H25.5625" stroke="#202020" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_348_2513">
            <rect width="30" height="30" fill="white" transform="translate(4 4)"/>
          </clipPath>
        </defs>
      </svg>
      Rapport de mise à jours
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  <%end%>
  <h2>Support</h2>
  <%= link_to bug_reports_new_path, class: "nav-link-profil" do %>
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.935 23.935C17.8705 24.0063 17.8104 24.0814 17.755 24.16C17.6982 24.2436 17.6528 24.3344 17.62 24.43C17.5768 24.515 17.5464 24.606 17.53 24.7C17.5226 24.7999 17.5226 24.9001 17.53 25C17.5249 25.1968 17.566 25.392 17.65 25.57C17.7174 25.7561 17.8249 25.9252 17.9648 26.0652C18.1048 26.2051 18.2739 26.3126 18.46 26.38C18.6396 26.4594 18.8337 26.5003 19.03 26.5003C19.2263 26.5003 19.4205 26.4594 19.6 26.38C19.7861 26.3126 19.9552 26.2051 20.0952 26.0652C20.2352 25.9252 20.3426 25.7561 20.41 25.57C20.4766 25.3876 20.5072 25.194 20.5 25C20.5011 24.8026 20.4633 24.6069 20.3887 24.4241C20.314 24.2414 20.204 24.0752 20.065 23.935C19.9256 23.7944 19.7597 23.6828 19.5769 23.6067C19.3941 23.5305 19.198 23.4913 19 23.4913C18.802 23.4913 18.6059 23.5305 18.4231 23.6067C18.2404 23.6828 18.0744 23.7944 17.935 23.935ZM19 4C16.0333 4 13.1332 4.87973 10.6665 6.52796C8.19972 8.17618 6.27713 10.5189 5.14181 13.2597C4.0065 16.0006 3.70945 19.0166 4.28823 21.9264C4.86701 24.8361 6.29562 27.5088 8.3934 29.6066C10.4912 31.7044 13.1639 33.133 16.0737 33.7118C18.9834 34.2906 21.9994 33.9935 24.7403 32.8582C27.4811 31.7229 29.8238 29.8003 31.472 27.3335C33.1203 24.8668 34 21.9667 34 19C34 17.0302 33.612 15.0796 32.8582 13.2597C32.1044 11.4399 30.9995 9.78628 29.6066 8.3934C28.2137 7.00052 26.5601 5.89563 24.7403 5.14181C22.9204 4.38799 20.9698 4 19 4ZM19 31C16.6266 31 14.3066 30.2962 12.3332 28.9776C10.3598 27.6591 8.8217 25.7849 7.91345 23.5922C7.0052 21.3995 6.76756 18.9867 7.23058 16.6589C7.69361 14.3311 8.83649 12.1929 10.5147 10.5147C12.193 8.83649 14.3311 7.6936 16.6589 7.23058C18.9867 6.76755 21.3995 7.00519 23.5922 7.91345C25.7849 8.8217 27.6591 10.3598 28.9776 12.3332C30.2962 14.3065 31 16.6266 31 19C31 22.1826 29.7357 25.2348 27.4853 27.4853C25.2348 29.7357 22.1826 31 19 31ZM19 11.5C18.2096 11.4995 17.433 11.7072 16.7484 12.1022C16.0637 12.4971 15.4952 13.0655 15.1 13.75C14.9915 13.9207 14.9186 14.1116 14.8858 14.3113C14.8529 14.5109 14.8608 14.7151 14.9089 14.9116C14.9571 15.1081 15.0445 15.2928 15.1658 15.4547C15.2872 15.6165 15.4401 15.7521 15.6152 15.8534C15.7904 15.9546 15.9842 16.0194 16.185 16.0438C16.3858 16.0682 16.5895 16.0517 16.7838 15.9953C16.9781 15.9389 17.159 15.8439 17.3156 15.7158C17.4722 15.5877 17.6012 15.4293 17.695 15.25C17.8272 15.0211 18.0175 14.8312 18.2466 14.6995C18.4758 14.5678 18.7357 14.4989 19 14.5C19.3978 14.5 19.7794 14.658 20.0607 14.9393C20.342 15.2206 20.5 15.6022 20.5 16C20.5 16.3978 20.342 16.7794 20.0607 17.0607C19.7794 17.342 19.3978 17.5 19 17.5C18.6022 17.5 18.2206 17.658 17.9393 17.9393C17.658 18.2206 17.5 18.6022 17.5 19V20.5C17.5 20.8978 17.658 21.2794 17.9393 21.5607C18.2206 21.842 18.6022 22 19 22C19.3978 22 19.7794 21.842 20.0607 21.5607C20.342 21.2794 20.5 20.8978 20.5 20.5V20.23C21.4921 19.87 22.326 19.1728 22.8562 18.2603C23.3863 17.3478 23.5788 16.2779 23.4001 15.2378C23.2214 14.1977 22.6828 13.2535 21.8785 12.5703C21.0742 11.887 20.0553 11.5082 19 11.5Z" fill="#202020"/>
      </svg>
      Signaler un problème
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  <%end%>
  <a href="mailto:admin@omniscientdesign.fr" class="nav-link-profil">
    <div class="nav-link-inner">
      <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24.7373 9.98694C25.0563 10.168 25.4339 10.2156 25.7879 10.1194C26.1418 10.0231 26.4433 9.79069 26.6266 9.47294C26.7782 9.20533 27.0144 8.99561 27.2981 8.87668C27.5817 8.75775 27.8969 8.73633 28.194 8.81579C28.4912 8.89524 28.7535 9.07107 28.94 9.31571C29.1265 9.56034 29.2265 9.85994 29.2243 10.1675C29.2243 10.536 29.078 10.8893 28.8174 11.1498C28.5569 11.4103 28.2036 11.5567 27.8351 11.5567C27.4667 11.5567 27.1134 11.7031 26.8528 11.9636C26.5923 12.2241 26.446 12.5775 26.446 12.9459C26.446 13.3143 26.5923 13.6677 26.8528 13.9282C27.1134 14.1887 27.4667 14.3351 27.8351 14.3351C28.5666 14.3346 29.285 14.1416 29.9183 13.7756C30.5515 13.4095 31.0772 12.8832 31.4427 12.2496C31.8081 11.6159 32.0003 10.8973 32 10.1659C31.9997 9.43442 31.8069 8.71594 31.441 8.08261C31.0751 7.44928 30.5489 6.92341 29.9154 6.55784C29.2818 6.19227 28.5632 5.99988 27.8318 6C27.1004 6.00012 26.3818 6.19274 25.7484 6.55851C25.115 6.92428 24.589 7.45032 24.2233 8.08376C24.1314 8.24232 24.0719 8.41747 24.048 8.59915C24.0241 8.78082 24.0364 8.96542 24.0842 9.14232C24.132 9.31922 24.2143 9.48492 24.3264 9.62988C24.4384 9.77483 24.5781 9.89618 24.7373 9.98694ZM30.7107 19.8918C30.3461 19.8444 29.9775 19.9436 29.6859 20.1676C29.3942 20.3915 29.2033 20.722 29.1549 21.0865C28.8633 23.4413 27.7208 25.6084 25.9426 27.1794C24.1643 28.7504 21.8729 29.617 19.5001 29.616H11.7346L12.6375 28.713C12.8963 28.4528 13.0415 28.1007 13.0415 27.7337C13.0415 27.3667 12.8963 27.0146 12.6375 26.7543C11.283 25.3945 10.3612 23.6642 9.98823 21.7814C9.61525 19.8987 9.80777 17.9476 10.5415 16.1741C11.2753 14.4006 12.5175 12.8838 14.1117 11.8149C15.7059 10.7461 17.5807 10.1729 19.5001 10.1675C19.8685 10.1675 20.2219 10.0212 20.4824 9.76065C20.7429 9.50013 20.8893 9.14679 20.8893 8.77835C20.8893 8.40992 20.7429 8.05658 20.4824 7.79606C20.2219 7.53554 19.8685 7.38918 19.5001 7.38918C17.1513 7.39897 14.8528 8.0702 12.8679 9.32596C10.8829 10.5817 9.29189 12.3712 8.277 14.4894C7.26211 16.6076 6.86443 18.9689 7.12952 21.3027C7.3946 23.6365 8.31173 25.8484 9.77584 27.6851L7.40034 30.0189C7.20758 30.2142 7.07701 30.4623 7.02509 30.7318C6.97317 31.0013 7.00223 31.2801 7.10861 31.5331C7.21283 31.7868 7.38981 32.0039 7.61725 32.1572C7.84468 32.3105 8.1124 32.393 8.38666 32.3944H19.5001C22.5444 32.3948 25.4843 31.2844 27.7682 29.2716C30.0521 27.2588 31.5232 24.4818 31.9054 21.4615C31.9308 21.2799 31.92 21.0951 31.8736 20.9176C31.8272 20.7402 31.7462 20.5737 31.6351 20.4278C31.524 20.2818 31.3852 20.1593 31.2265 20.0673C31.0679 19.9754 30.8926 19.9157 30.7107 19.8918ZM28.363 15.8215C28.1101 15.7096 27.8296 15.6757 27.5573 15.7242L27.3073 15.8076L27.0572 15.9326L26.8488 16.1132C26.7239 16.2412 26.6248 16.3922 26.5571 16.5577C26.475 16.731 26.4368 16.9219 26.446 17.1134C26.4419 17.2987 26.475 17.4829 26.5432 17.6552C26.6151 17.8219 26.7189 17.9729 26.8488 18.0997C26.9786 18.2285 27.1326 18.3303 27.3018 18.3995C27.4711 18.4686 27.6523 18.5037 27.8351 18.5026C28.2036 18.5026 28.5569 18.3562 28.8174 18.0957C29.078 17.8352 29.2243 17.4819 29.2243 17.1134C29.229 16.9312 29.191 16.7504 29.1132 16.5855C28.9639 16.2517 28.6968 15.9846 28.363 15.8354V15.8215Z" fill="#202020"/>
      </svg>
      Contacter un administrateur
    </div>
    <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
    </svg>
  </a>
  <% if current_user.admin? %>
    <h2>Administrateur</h2>
    <%= link_to validation_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.935 23.935C17.8705 24.0063 17.8104 24.0814 17.755 24.16C17.6982 24.2436 17.6528 24.3344 17.62 24.43C17.5768 24.515 17.5464 24.606 17.53 24.7C17.5226 24.7999 17.5226 24.9001 17.53 25C17.5249 25.1968 17.566 25.392 17.65 25.57C17.7174 25.7561 17.8249 25.9252 17.9648 26.0652C18.1048 26.2051 18.2739 26.3126 18.46 26.38C18.6396 26.4594 18.8337 26.5003 19.03 26.5003C19.2263 26.5003 19.4205 26.4594 19.6 26.38C19.7861 26.3126 19.9552 26.2051 20.0952 26.0652C20.2352 25.9252 20.3426 25.7561 20.41 25.57C20.4766 25.3876 20.5072 25.194 20.5 25C20.5011 24.8026 20.4633 24.6069 20.3887 24.4241C20.314 24.2414 20.204 24.0752 20.065 23.935C19.9256 23.7944 19.7597 23.6828 19.5769 23.6067C19.3941 23.5305 19.198 23.4913 19 23.4913C18.802 23.4913 18.6059 23.5305 18.4231 23.6067C18.2404 23.6828 18.0744 23.7944 17.935 23.935ZM19 4C16.0333 4 13.1332 4.87973 10.6665 6.52796C8.19972 8.17618 6.27713 10.5189 5.14181 13.2597C4.0065 16.0006 3.70945 19.0166 4.28823 21.9264C4.86701 24.8361 6.29562 27.5088 8.3934 29.6066C10.4912 31.7044 13.1639 33.133 16.0737 33.7118C18.9834 34.2906 21.9994 33.9935 24.7403 32.8582C27.4811 31.7229 29.8238 29.8003 31.472 27.3335C33.1203 24.8668 34 21.9667 34 19C34 17.0302 33.612 15.0796 32.8582 13.2597C32.1044 11.4399 30.9995 9.78628 29.6066 8.3934C28.2137 7.00052 26.5601 5.89563 24.7403 5.14181C22.9204 4.38799 20.9698 4 19 4ZM19 31C16.6266 31 14.3066 30.2962 12.3332 28.9776C10.3598 27.6591 8.8217 25.7849 7.91345 23.5922C7.0052 21.3995 6.76756 18.9867 7.23058 16.6589C7.69361 14.3311 8.83649 12.1929 10.5147 10.5147C12.193 8.83649 14.3311 7.6936 16.6589 7.23058C18.9867 6.76755 21.3995 7.00519 23.5922 7.91345C25.7849 8.8217 27.6591 10.3598 28.9776 12.3332C30.2962 14.3065 31 16.6266 31 19C31 22.1826 29.7357 25.2348 27.4853 27.4853C25.2348 29.7357 22.1826 31 19 31ZM19 11.5C18.2096 11.4995 17.433 11.7072 16.7484 12.1022C16.0637 12.4971 15.4952 13.0655 15.1 13.75C14.9915 13.9207 14.9186 14.1116 14.8858 14.3113C14.8529 14.5109 14.8608 14.7151 14.9089 14.9116C14.9571 15.1081 15.0445 15.2928 15.1658 15.4547C15.2872 15.6165 15.4401 15.7521 15.6152 15.8534C15.7904 15.9546 15.9842 16.0194 16.185 16.0438C16.3858 16.0682 16.5895 16.0517 16.7838 15.9953C16.9781 15.9389 17.159 15.8439 17.3156 15.7158C17.4722 15.5877 17.6012 15.4293 17.695 15.25C17.8272 15.0211 18.0175 14.8312 18.2466 14.6995C18.4758 14.5678 18.7357 14.4989 19 14.5C19.3978 14.5 19.7794 14.658 20.0607 14.9393C20.342 15.2206 20.5 15.6022 20.5 16C20.5 16.3978 20.342 16.7794 20.0607 17.0607C19.7794 17.342 19.3978 17.5 19 17.5C18.6022 17.5 18.2206 17.658 17.9393 17.9393C17.658 18.2206 17.5 18.6022 17.5 19V20.5C17.5 20.8978 17.658 21.2794 17.9393 21.5607C18.2206 21.842 18.6022 22 19 22C19.3978 22 19.7794 21.842 20.0607 21.5607C20.342 21.2794 20.5 20.8978 20.5 20.5V20.23C21.4921 19.87 22.326 19.1728 22.8562 18.2603C23.3863 17.3478 23.5788 16.2779 23.4001 15.2378C23.2214 14.1977 22.6828 13.2535 21.8785 12.5703C21.0742 11.887 20.0553 11.5082 19 11.5Z" fill="#202020"/>
        </svg>
        Validation oeuvre
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <%= link_to suivi_references_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.935 23.935C17.8705 24.0063 17.8104 24.0814 17.755 24.16C17.6982 24.2436 17.6528 24.3344 17.62 24.43C17.5768 24.515 17.5464 24.606 17.53 24.7C17.5226 24.7999 17.5226 24.9001 17.53 25C17.5249 25.1968 17.566 25.392 17.65 25.57C17.7174 25.7561 17.8249 25.9252 17.9648 26.0652C18.1048 26.2051 18.2739 26.3126 18.46 26.38C18.6396 26.4594 18.8337 26.5003 19.03 26.5003C19.2263 26.5003 19.4205 26.4594 19.6 26.38C19.7861 26.3126 19.9552 26.2051 20.0952 26.0652C20.2352 25.9252 20.3426 25.7561 20.41 25.57C20.4766 25.3876 20.5072 25.194 20.5 25C20.5011 24.8026 20.4633 24.6069 20.3887 24.4241C20.314 24.2414 20.204 24.0752 20.065 23.935C19.9256 23.7944 19.7597 23.6828 19.5769 23.6067C19.3941 23.5305 19.198 23.4913 19 23.4913C18.802 23.4913 18.6059 23.5305 18.4231 23.6067C18.2404 23.6828 18.0744 23.7944 17.935 23.935ZM19 4C16.0333 4 13.1332 4.87973 10.6665 6.52796C8.19972 8.17618 6.27713 10.5189 5.14181 13.2597C4.0065 16.0006 3.70945 19.0166 4.28823 21.9264C4.86701 24.8361 6.29562 27.5088 8.3934 29.6066C10.4912 31.7044 13.1639 33.133 16.0737 33.7118C18.9834 34.2906 21.9994 33.9935 24.7403 32.8582C27.4811 31.7229 29.8238 29.8003 31.472 27.3335C33.1203 24.8668 34 21.9667 34 19C34 17.0302 33.612 15.0796 32.8582 13.2597C32.1044 11.4399 30.9995 9.78628 29.6066 8.3934C28.2137 7.00052 26.5601 5.89563 24.7403 5.14181C22.9204 4.38799 20.9698 4 19 4ZM19 31C16.6266 31 14.3066 30.2962 12.3332 28.9776C10.3598 27.6591 8.8217 25.7849 7.91345 23.5922C7.0052 21.3995 6.76756 18.9867 7.23058 16.6589C7.69361 14.3311 8.83649 12.1929 10.5147 10.5147C12.193 8.83649 14.3311 7.6936 16.6589 7.23058C18.9867 6.76755 21.3995 7.00519 23.5922 7.91345C25.7849 8.8217 27.6591 10.3598 28.9776 12.3332C30.2962 14.3065 31 16.6266 31 19C31 22.1826 29.7357 25.2348 27.4853 27.4853C25.2348 29.7357 22.1826 31 19 31ZM19 11.5C18.2096 11.4995 17.433 11.7072 16.7484 12.1022C16.0637 12.4971 15.4952 13.0655 15.1 13.75C14.9915 13.9207 14.9186 14.1116 14.8858 14.3113C14.8529 14.5109 14.8608 14.7151 14.9089 14.9116C14.9571 15.1081 15.0445 15.2928 15.1658 15.4547C15.2872 15.6165 15.4401 15.7521 15.6152 15.8534C15.7904 15.9546 15.9842 16.0194 16.185 16.0438C16.3858 16.0682 16.5895 16.0517 16.7838 15.9953C16.9781 15.9389 17.159 15.8439 17.3156 15.7158C17.4722 15.5877 17.6012 15.4293 17.695 15.25C17.8272 15.0211 18.0175 14.8312 18.2466 14.6995C18.4758 14.5678 18.7357 14.4989 19 14.5C19.3978 14.5 19.7794 14.658 20.0607 14.9393C20.342 15.2206 20.5 15.6022 20.5 16C20.5 16.3978 20.342 16.7794 20.0607 17.0607C19.7794 17.342 19.3978 17.5 19 17.5C18.6022 17.5 18.2206 17.658 17.9393 17.9393C17.658 18.2206 17.5 18.6022 17.5 19V20.5C17.5 20.8978 17.658 21.2794 17.9393 21.5607C18.2206 21.842 18.6022 22 19 22C19.3978 22 19.7794 21.842 20.0607 21.5607C20.342 21.2794 20.5 20.8978 20.5 20.5V20.23C21.4921 19.87 22.326 19.1728 22.8562 18.2603C23.3863 17.3478 23.5788 16.2779 23.4001 15.2378C23.2214 14.1977 22.6828 13.2535 21.8785 12.5703C21.0742 11.887 20.0553 11.5082 19 11.5Z" fill="#202020"/>
        </svg>
        Suivi Références
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <%= link_to users_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.935 23.935C17.8705 24.0063 17.8104 24.0814 17.755 24.16C17.6982 24.2436 17.6528 24.3344 17.62 24.43C17.5768 24.515 17.5464 24.606 17.53 24.7C17.5226 24.7999 17.5226 24.9001 17.53 25C17.5249 25.1968 17.566 25.392 17.65 25.57C17.7174 25.7561 17.8249 25.9252 17.9648 26.0652C18.1048 26.2051 18.2739 26.3126 18.46 26.38C18.6396 26.4594 18.8337 26.5003 19.03 26.5003C19.2263 26.5003 19.4205 26.4594 19.6 26.38C19.7861 26.3126 19.9552 26.2051 20.0952 26.0652C20.2352 25.9252 20.3426 25.7561 20.41 25.57C20.4766 25.3876 20.5072 25.194 20.5 25C20.5011 24.8026 20.4633 24.6069 20.3887 24.4241C20.314 24.2414 20.204 24.0752 20.065 23.935C19.9256 23.7944 19.7597 23.6828 19.5769 23.6067C19.3941 23.5305 19.198 23.4913 19 23.4913C18.802 23.4913 18.6059 23.5305 18.4231 23.6067C18.2404 23.6828 18.0744 23.7944 17.935 23.935ZM19 4C16.0333 4 13.1332 4.87973 10.6665 6.52796C8.19972 8.17618 6.27713 10.5189 5.14181 13.2597C4.0065 16.0006 3.70945 19.0166 4.28823 21.9264C4.86701 24.8361 6.29562 27.5088 8.3934 29.6066C10.4912 31.7044 13.1639 33.133 16.0737 33.7118C18.9834 34.2906 21.9994 33.9935 24.7403 32.8582C27.4811 31.7229 29.8238 29.8003 31.472 27.3335C33.1203 24.8668 34 21.9667 34 19C34 17.0302 33.612 15.0796 32.8582 13.2597C32.1044 11.4399 30.9995 9.78628 29.6066 8.3934C28.2137 7.00052 26.5601 5.89563 24.7403 5.14181C22.9204 4.38799 20.9698 4 19 4ZM19 31C16.6266 31 14.3066 30.2962 12.3332 28.9776C10.3598 27.6591 8.8217 25.7849 7.91345 23.5922C7.0052 21.3995 6.76756 18.9867 7.23058 16.6589C7.69361 14.3311 8.83649 12.1929 10.5147 10.5147C12.193 8.83649 14.3311 7.6936 16.6589 7.23058C18.9867 6.76755 21.3995 7.00519 23.5922 7.91345C25.7849 8.8217 27.6591 10.3598 28.9776 12.3332C30.2962 14.3065 31 16.6266 31 19C31 22.1826 29.7357 25.2348 27.4853 27.4853C25.2348 29.7357 22.1826 31 19 31ZM19 11.5C18.2096 11.4995 17.433 11.7072 16.7484 12.1022C16.0637 12.4971 15.4952 13.0655 15.1 13.75C14.9915 13.9207 14.9186 14.1116 14.8858 14.3113C14.8529 14.5109 14.8608 14.7151 14.9089 14.9116C14.9571 15.1081 15.0445 15.2928 15.1658 15.4547C15.2872 15.6165 15.4401 15.7521 15.6152 15.8534C15.7904 15.9546 15.9842 16.0194 16.185 16.0438C16.3858 16.0682 16.5895 16.0517 16.7838 15.9953C16.9781 15.9389 17.159 15.8439 17.3156 15.7158C17.4722 15.5877 17.6012 15.4293 17.695 15.25C17.8272 15.0211 18.0175 14.8312 18.2466 14.6995C18.4758 14.5678 18.7357 14.4989 19 14.5C19.3978 14.5 19.7794 14.658 20.0607 14.9393C20.342 15.2206 20.5 15.6022 20.5 16C20.5 16.3978 20.342 16.7794 20.0607 17.0607C19.7794 17.342 19.3978 17.5 19 17.5C18.6022 17.5 18.2206 17.658 17.9393 17.9393C17.658 18.2206 17.5 18.6022 17.5 19V20.5C17.5 20.8978 17.658 21.2794 17.9393 21.5607C18.2206 21.842 18.6022 22 19 22C19.3978 22 19.7794 21.842 20.0607 21.5607C20.342 21.2794 20.5 20.8978 20.5 20.5V20.23C21.4921 19.87 22.326 19.1728 22.8562 18.2603C23.3863 17.3478 23.5788 16.2779 23.4001 15.2378C23.2214 14.1977 22.6828 13.2535 21.8785 12.5703C21.0742 11.887 20.0553 11.5082 19 11.5Z" fill="#202020"/>
        </svg>
        Liste des membres
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <%= link_to bug_reports_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.935 23.935C17.8705 24.0063 17.8104 24.0814 17.755 24.16C17.6982 24.2436 17.6528 24.3344 17.62 24.43C17.5768 24.515 17.5464 24.606 17.53 24.7C17.5226 24.7999 17.5226 24.9001 17.53 25C17.5249 25.1968 17.566 25.392 17.65 25.57C17.7174 25.7561 17.8249 25.9252 17.9648 26.0652C18.1048 26.2051 18.2739 26.3126 18.46 26.38C18.6396 26.4594 18.8337 26.5003 19.03 26.5003C19.2263 26.5003 19.4205 26.4594 19.6 26.38C19.7861 26.3126 19.9552 26.2051 20.0952 26.0652C20.2352 25.9252 20.3426 25.7561 20.41 25.57C20.4766 25.3876 20.5072 25.194 20.5 25C20.5011 24.8026 20.4633 24.6069 20.3887 24.4241C20.314 24.2414 20.204 24.0752 20.065 23.935C19.9256 23.7944 19.7597 23.6828 19.5769 23.6067C19.3941 23.5305 19.198 23.4913 19 23.4913C18.802 23.4913 18.6059 23.5305 18.4231 23.6067C18.2404 23.6828 18.0744 23.7944 17.935 23.935ZM19 4C16.0333 4 13.1332 4.87973 10.6665 6.52796C8.19972 8.17618 6.27713 10.5189 5.14181 13.2597C4.0065 16.0006 3.70945 19.0166 4.28823 21.9264C4.86701 24.8361 6.29562 27.5088 8.3934 29.6066C10.4912 31.7044 13.1639 33.133 16.0737 33.7118C18.9834 34.2906 21.9994 33.9935 24.7403 32.8582C27.4811 31.7229 29.8238 29.8003 31.472 27.3335C33.1203 24.8668 34 21.9667 34 19C34 17.0302 33.612 15.0796 32.8582 13.2597C32.1044 11.4399 30.9995 9.78628 29.6066 8.3934C28.2137 7.00052 26.5601 5.89563 24.7403 5.14181C22.9204 4.38799 20.9698 4 19 4ZM19 31C16.6266 31 14.3066 30.2962 12.3332 28.9776C10.3598 27.6591 8.8217 25.7849 7.91345 23.5922C7.0052 21.3995 6.76756 18.9867 7.23058 16.6589C7.69361 14.3311 8.83649 12.1929 10.5147 10.5147C12.193 8.83649 14.3311 7.6936 16.6589 7.23058C18.9867 6.76755 21.3995 7.00519 23.5922 7.91345C25.7849 8.8217 27.6591 10.3598 28.9776 12.3332C30.2962 14.3065 31 16.6266 31 19C31 22.1826 29.7357 25.2348 27.4853 27.4853C25.2348 29.7357 22.1826 31 19 31ZM19 11.5C18.2096 11.4995 17.433 11.7072 16.7484 12.1022C16.0637 12.4971 15.4952 13.0655 15.1 13.75C14.9915 13.9207 14.9186 14.1116 14.8858 14.3113C14.8529 14.5109 14.8608 14.7151 14.9089 14.9116C14.9571 15.1081 15.0445 15.2928 15.1658 15.4547C15.2872 15.6165 15.4401 15.7521 15.6152 15.8534C15.7904 15.9546 15.9842 16.0194 16.185 16.0438C16.3858 16.0682 16.5895 16.0517 16.7838 15.9953C16.9781 15.9389 17.159 15.8439 17.3156 15.7158C17.4722 15.5877 17.6012 15.4293 17.695 15.25C17.8272 15.0211 18.0175 14.8312 18.2466 14.6995C18.4758 14.5678 18.7357 14.4989 19 14.5C19.3978 14.5 19.7794 14.658 20.0607 14.9393C20.342 15.2206 20.5 15.6022 20.5 16C20.5 16.3978 20.342 16.7794 20.0607 17.0607C19.7794 17.342 19.3978 17.5 19 17.5C18.6022 17.5 18.2206 17.658 17.9393 17.9393C17.658 18.2206 17.5 18.6022 17.5 19V20.5C17.5 20.8978 17.658 21.2794 17.9393 21.5607C18.2206 21.842 18.6022 22 19 22C19.3978 22 19.7794 21.842 20.0607 21.5607C20.342 21.2794 20.5 20.8978 20.5 20.5V20.23C21.4921 19.87 22.326 19.1728 22.8562 18.2603C23.3863 17.3478 23.5788 16.2779 23.4001 15.2378C23.2214 14.1977 22.6828 13.2535 21.8785 12.5703C21.0742 11.887 20.0553 11.5082 19 11.5Z" fill="#202020"/>
        </svg>
        Liste des signalements
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
    <%= link_to feedbacks_path, class: "nav-link-profil" do %>
      <div class="nav-link-inner">
        <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.935 23.935C17.8705 24.0063 17.8104 24.0814 17.755 24.16C17.6982 24.2436 17.6528 24.3344 17.62 24.43C17.5768 24.515 17.5464 24.606 17.53 24.7C17.5226 24.7999 17.5226 24.9001 17.53 25C17.5249 25.1968 17.566 25.392 17.65 25.57C17.7174 25.7561 17.8249 25.9252 17.9648 26.0652C18.1048 26.2051 18.2739 26.3126 18.46 26.38C18.6396 26.4594 18.8337 26.5003 19.03 26.5003C19.2263 26.5003 19.4205 26.4594 19.6 26.38C19.7861 26.3126 19.9552 26.2051 20.0952 26.0652C20.2352 25.9252 20.3426 25.7561 20.41 25.57C20.4766 25.3876 20.5072 25.194 20.5 25C20.5011 24.8026 20.4633 24.6069 20.3887 24.4241C20.314 24.2414 20.204 24.0752 20.065 23.935C19.9256 23.7944 19.7597 23.6828 19.5769 23.6067C19.3941 23.5305 19.198 23.4913 19 23.4913C18.802 23.4913 18.6059 23.5305 18.4231 23.6067C18.2404 23.6828 18.0744 23.7944 17.935 23.935ZM19 4C16.0333 4 13.1332 4.87973 10.6665 6.52796C8.19972 8.17618 6.27713 10.5189 5.14181 13.2597C4.0065 16.0006 3.70945 19.0166 4.28823 21.9264C4.86701 24.8361 6.29562 27.5088 8.3934 29.6066C10.4912 31.7044 13.1639 33.133 16.0737 33.7118C18.9834 34.2906 21.9994 33.9935 24.7403 32.8582C27.4811 31.7229 29.8238 29.8003 31.472 27.3335C33.1203 24.8668 34 21.9667 34 19C34 17.0302 33.612 15.0796 32.8582 13.2597C32.1044 11.4399 30.9995 9.78628 29.6066 8.3934C28.2137 7.00052 26.5601 5.89563 24.7403 5.14181C22.9204 4.38799 20.9698 4 19 4ZM19 31C16.6266 31 14.3066 30.2962 12.3332 28.9776C10.3598 27.6591 8.8217 25.7849 7.91345 23.5922C7.0052 21.3995 6.76756 18.9867 7.23058 16.6589C7.69361 14.3311 8.83649 12.1929 10.5147 10.5147C12.193 8.83649 14.3311 7.6936 16.6589 7.23058C18.9867 6.76755 21.3995 7.00519 23.5922 7.91345C25.7849 8.8217 27.6591 10.3598 28.9776 12.3332C30.2962 14.3065 31 16.6266 31 19C31 22.1826 29.7357 25.2348 27.4853 27.4853C25.2348 29.7357 22.1826 31 19 31ZM19 11.5C18.2096 11.4995 17.433 11.7072 16.7484 12.1022C16.0637 12.4971 15.4952 13.0655 15.1 13.75C14.9915 13.9207 14.9186 14.1116 14.8858 14.3113C14.8529 14.5109 14.8608 14.7151 14.9089 14.9116C14.9571 15.1081 15.0445 15.2928 15.1658 15.4547C15.2872 15.6165 15.4401 15.7521 15.6152 15.8534C15.7904 15.9546 15.9842 16.0194 16.185 16.0438C16.3858 16.0682 16.5895 16.0517 16.7838 15.9953C16.9781 15.9389 17.159 15.8439 17.3156 15.7158C17.4722 15.5877 17.6012 15.4293 17.695 15.25C17.8272 15.0211 18.0175 14.8312 18.2466 14.6995C18.4758 14.5678 18.7357 14.4989 19 14.5C19.3978 14.5 19.7794 14.658 20.0607 14.9393C20.342 15.2206 20.5 15.6022 20.5 16C20.5 16.3978 20.342 16.7794 20.0607 17.0607C19.7794 17.342 19.3978 17.5 19 17.5C18.6022 17.5 18.2206 17.658 17.9393 17.9393C17.658 18.2206 17.5 18.6022 17.5 19V20.5C17.5 20.8978 17.658 21.2794 17.9393 21.5607C18.2206 21.842 18.6022 22 19 22C19.3978 22 19.7794 21.842 20.0607 21.5607C20.342 21.2794 20.5 20.8978 20.5 20.5V20.23C21.4921 19.87 22.326 19.1728 22.8562 18.2603C23.3863 17.3478 23.5788 16.2779 23.4001 15.2378C23.2214 14.1977 22.6828 13.2535 21.8785 12.5703C21.0742 11.887 20.0553 11.5082 19 11.5Z" fill="#202020"/>
        </svg>
        Liste des feedbacks
      </div>
      <svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2.40039L11.2625 12.8504L2 23.3004" stroke="#202020" stroke-width="2.54357" stroke-linecap="square"/>
      </svg>
    <%end%>
  <%end%>
  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: { turbo_method: :delete}, class: "nav-link-profil deco"%>
  <%= link_to changelog_path do %>
    <p class="version">version alpha 0.1.0 </p>
  </section>
<%end%>
