<section class="top-default-page">
  <%= link_to root_path, class: ("active" if @current_page == "users") do %>
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3256_104)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 0C27.9345 0 36 8.0655 36 18C36 27.9345 27.9345 36 18 36C8.0655 36 0 27.9345 0 18C0 8.0655 8.0655 0 18 0ZM20.214 22.4325C21.696 21.825 22.8495 20.616 23.388 19.1085L27 9L16.992 12.5805C15.483 13.1205 14.2755 14.277 13.668 15.759L9.0705 27L20.214 22.4325ZM20.031 16.0035C20.8575 16.83 20.8575 18.1725 20.031 18.9975C19.2045 19.824 17.8635 19.824 17.037 18.9975C16.2105 18.1725 16.2105 16.83 17.037 16.0035C17.8635 15.177 19.2045 15.177 20.031 16.0035Z" fill="#FFF"/>
      </g>
      <defs>
        <clipPath id="clip0_3256_104">
          <rect width="36" height="36" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  <% end %>
  <h1>Liste des feedbacks</h1>
</section>
<section class="grid-1">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Utilisateur</th>
          <th>Comment évalueriez-vous votre expérience globale sur notre site ?</th>
          <th>Comment évalueriez-vous la facilité pour rechercher une information sur le site ?</th>
          <th>comment évalueriez-vous la qualité et la pertinence du contenu proposé sur le site ?</th>
          <th>Comment évalueriez-vous l’efficacité du quiz ?</th>
          <th>Comment évalueriez-vous l’utilité des listes ?</th>
          <th>Comment évalueriez-vous la réactivité et l’efficacité de notre support client ? (Répondre seulement si vous avez déjà utilisé le support)</th>
          <th>Comment évalueriez-vous la vitesse et la performance générale du site ?</th>
          <th>Quels sont, selon vous, les points forts de notre site ?</th>
          <th>Quels sont les aspects que vous aimeriez voir améliorés ?</th>
          <th>Avez-vous des suggestions pour améliorer l'expérience utilisateur ?</th>
          <th>Y a-t-il des fonctionnalités que vous aimeriez voir ajoutées ou supprimées ?</th>
          <th>Avez-vous des commentaires généraux ou des remarques supplémentaires que vous souhaiteriez partager ?</th>
          <th>Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <% @feedbacks.each do |feedback| %>
          <tr>
            <td><%= feedback.user.email %></td>
            <td><%= feedback.question_1 %></td>
            <td><%= feedback.question_2 %></td>
            <td><%= feedback.question_3 %></td>
            <td><%= feedback.question_4 %></td>
            <td><%= feedback.question_5 %></td>
            <td><%= feedback.question_6 %></td>
            <td><%= feedback.question_7 %></td>
            <td><%= feedback.question_8 %></td>
            <td><%= feedback.question_9 %></td>
            <td><%= feedback.question_10 %></td>
            <td><%= feedback.question_11 %></td>
            <td><%= feedback.question_12 %></td>
            <td>
              <%= link_to 'Supprimer', feedback_path(feedback), 
              data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr?' }, 
              class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to 'Télécharger en Excel', feedbacks_path(format: :xlsx), class: 'btn btn-primary' %>
</section>
