<% content_for :title, "Donnez nous vos feedbacks - Omniscient Design" %>
<% content_for :description, "Fais-nous des retours PERTINENT sur le site pour qu'on puisse avancer plus loins plus vite plus mieux ! Miam les retours on adore ça." %>

<style>
  label {
    font-weight: 500;
    display: block;
    width: 60%;
    font-size: 18px;
    padding: 24px 0px;
    line-height: 130%;
  }

  .star-rating {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row-reverse;
  }

  .star-rating label {
    width: fit-content;
    display: flex;
    text-align:center;
    gap: 8px;
    justify-content: start;
    align-items: center;
    flex-direction:column;
    font-size: 48px;
    color: #ddd;
    cursor: pointer;
    margin: 0;
  }

  .flex-label p {
    color: #FFF;
  }

  .label-number{
    font-size: 18px;
    line-height:130%;
  }
  .label-text{
    font-weight: 400;
    font-size: 18px;
    line-height:130%;
  }
  .flex-label{
    display: flex;
    gap: 0;
    align-items: center;
    flex-direction: column;
  }
  .button{
    margin-top: 32px;
  }
   @media screen and (min-width:0px) and (max-width:600px) {
    .star-rating{
      align-items:center;
      justify-content:center;
      flex-direction:column-reverse;
    }
    .question{
      width: 80vw;
    }
    .star-rating label {
      font-size: 32px;
    }

    .label-number,.label-text,.question{
      font-size: 16px;
    }
  }
  @media screen and (min-width:600px) and (max-width:800px) {
    .star-rating label {
      font-size: 38px;
    }
    .label-number,.label-text{
      font-size: 16px;
    }
  }
</style>
<section class="top-header">
  <%= link_to root_path do %>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.632 6.94488C12.632 6.94488 6.63067 12.9516 4.29333 15.2902C4.09733 15.4849 4 15.7409 4 15.9969C4 16.2529 4.09733 16.5089 4.29333 16.7035C6.62933 19.0422 12.6293 25.0462 12.6293 25.0462C12.8227 25.2395 13.0773 25.3355 13.332 25.3355C13.5867 25.3342 13.8427 25.2369 14.0387 25.0409C14.4293 24.6502 14.4307 24.0196 14.044 23.6316L7.40933 16.9969H26.9987C27.5507 16.9969 27.9987 16.5489 27.9987 15.9969C27.9987 15.4449 27.5507 14.9969 26.9987 14.9969H7.40933L14.0467 8.35822C14.432 7.97288 14.4293 7.34355 14.0387 6.95288C13.8427 6.75688 13.5867 6.65822 13.332 6.65822C13.0773 6.65688 12.8253 6.75288 12.632 6.94488Z" fill="white"/>
    </svg>
  <% end %>
  <p class="subtitle-top"><%= t('feedback.subtitle_top') %></p>
  <h1 class="title-add-elements"><%= t('feedback.main_title') %></h1>
  <p class="subtitle"><%= t('feedback.subtitle') %></p>
</section>

<section class="grid-1" style="background-color:#202020; color:#FFF; min-height:100vh;">
  <div class="form-feedback">
    <%= form_with(model: @feedback) do |f| %>
      <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "erreur") %> ont empêché ce feedback d'être enregistré :</h2>
          <ul>
            <% @feedback.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% [
        [:question_1, t('feedback.questions.question_1')],
        [:question_2, t('feedback.questions.question_2')],
        [:question_3, t('feedback.questions.question_3')],
        [:question_5, t('feedback.questions.question_5')],
        [:question_6, t('feedback.questions.question_6')],
        [:question_7, t('feedback.questions.question_7')]
      ].each do |question, label_text| %>
        <div>
          <%= f.label question, label_text, class: "question" %>
          <div class="star-rating" data-controller="star-rating">
            <%= f.hidden_field question, value: @feedback[question] || 0, data: { star_rating_target: "input" } %>
            <% (1..5).reverse_each do |value| %>
              <label data-action="click->star-rating#rate"
                     data-star-rating-target="star"
                     data-value="<%= value %>">
                <div>
                  <svg width="47" height="46" viewBox="0 0 47 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.5 0L30.5303 15.6304L46.5 17.8365L34.8773 29.0068L37.714 46L23.5 37.2715L9.28408 46L12.1227 29.0068L0.5 17.8365L16.4697 15.6304L23.5 0Z" fill="#ddd"/>
                  </svg>
                </div>
                <div class="flex-label">
                  <p class="label-number"><%= value %></p>
                  <p class="label-text"><%= t("feedback.rating_labels.#{value}") %></p>
                </div>
              </label>
            <% end %>
          </div>
        </div>
      <% end %>

      <% (8..12).each do |i| %>
        <div>
          <%= f.label "question_#{i}", t("feedback.questions.question_#{i}"), class: "question" %>
          <%= f.text_area "question_#{i}", placeholder: t('feedback.placeholders.default') %>
        </div>
      <% end %>

      <div>
        <%= f.submit t('feedback.submit'), class: "button large" %>
      </div>
    <% end %>
  </div>
</section>
