<style>
  .top-header{
    padding: 78px 10vw;
    height: 150px;
    background-color: #202020;
    color:#FFF;
  }
  .subtitle{
    width: 50vw;
  }
  textarea{
    height:300px;
  }
  form{
    margin: 64px 10vw;
    display: flex;
    flex-direction:column;
    align-items: end;
    gap: 32px;
  }
</style>
<div class="main-div">
  <section class="top-header">
    <%= link_to profil_path do %>
      <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
      </svg>
    <% end %>
    <p style="margin-top:16px" class="subtitle-top">Votre contribution</p>
    <h1>Signaler un problème</h1>
    <p class="subtitle">Yorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
  </section>
  <%= form_with(model: @bug_report, local: true, data: { turbo: false }) do |form| %>
    <% if @bug_report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bug_report.errors.count, "error") %> prohibited this bug report from being saved:</h2>
        <ul>
          <% @bug_report.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.text_area :description, placeholder: "Description du problème" %>
    </div>
    <div class="field">
      <%= form.text_field :url, value: params[:url], placeholder: "Url d’où se situe le bug (ou liens vers une image)" %>
    </div>
    <div class="actions">
      <%= form.submit "Envoyer", class: "button large dark" %>
    </div>
  <% end %>
</div>
