<%= link_to studio do %>
  <% if studio.studio_images.first&.file&.attached? %>
    <div class="card-designer" style="background: url('<%= url_for(studio.studio_images.first.file.variant(:thumb)) %>'); background-size: cover; background-position: center center;">
    <% else %>
      <div class="card-designer" style="background: #F3F3F3;">
      <% end %>
      <div class="inner-card-designer">
        <% if studio.respond_to?(:countries) %>
          <% studio.countries.each do |country| %>
            <p class="country-card-designer">
              <span class="flag"><%= country_flag(country.country_numeric) %></span>
              <%= country.country %>
            </p>
          <% end %>
        <% end %>
        <p class="title-card-designer">
          <%= studio.nom %>
        </p>
      </div>
    </div>
  <% end %>