<header>
  <%= link_to(root_path, class: "logo-header") do %>
    <%= image_tag "logo-alpha.svg", alt: "", class: "home-index" %>
    <p class="name-header">Omniscient Design</p>
  <% end %>
  <nav class="nav-header">
    <ul>
      <li>
        <%= link_to(root_path, class: (@current_page == 'accueil' ? 'active' : '')) do %>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.1286 34.4034V29.3394C15.1286 28.0468 16.1842 26.9988 17.4864 26.9988H22.2463C22.8717 26.9988 23.4714 27.2454 23.9135 27.6844C24.3557 28.1233 24.6041 28.7187 24.6041 29.3394V34.4034C24.6001 34.9408 24.8124 35.4576 25.1938 35.839C25.5752 36.2204 26.0942 36.4349 26.6356 36.4349H29.8831C31.3998 36.4388 32.8557 35.8434 33.9295 34.7801C35.0034 33.7168 35.6069 32.273 35.6069 30.7674V16.341C35.6069 15.1247 35.0638 13.971 34.124 13.1907L23.0767 4.43182C21.155 2.89609 18.4017 2.94567 16.5373 4.54959L5.74211 13.1907C4.75793 13.948 4.16969 15.1051 4.14062 16.341V30.7526C4.14062 33.8909 6.70327 36.4349 9.86446 36.4349H13.0378C14.1622 36.4349 15.076 35.5343 15.0841 34.4181L15.1286 34.4034Z" fill="#8D9299"/>
          </svg>
          <p>Accueil</p>
        <% end %>
      </li>
      <li>
        <%= link_to search_oeuvres_path, class: (@current_page == 'recherche' ? 'active' : '') do %>
          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.1818 29.9849C29.8219 29.3491 30.848 29.3491 31.4882 29.9849L35.719 33.4001H35.7924C36.6484 34.2652 36.6484 35.6679 35.7924 36.5331C34.9365 37.3983 33.5487 37.3983 32.6928 36.5331L29.1818 32.5092L29.0485 32.3588C28.8004 32.0447 28.6633 31.653 28.6633 31.2471C28.6633 30.7734 28.8499 30.3193 29.1818 29.9849ZM17.5176 4.05957C21.2852 4.05957 24.8984 5.57233 27.5625 8.26506C30.2266 10.9578 31.7232 14.6099 31.7232 18.418C31.7232 26.348 25.3631 32.7764 17.5176 32.7764C9.67208 32.7764 3.31201 26.348 3.31201 18.418C3.31201 10.4881 9.67208 4.05957 17.5176 4.05957Z" fill="#8D9299"/>
          </svg>
          <p>Rechercher</p>
        <% end %>
      </li>
      <%# <li class="disabled">
        <a>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.4" d="M21.7222 9.42977V9.73291C20.9095 9.71695 20.0969 9.71695 19.2843 9.71695V9.44572C19.2843 8.34484 18.3579 7.45138 17.2527 7.45138H15.6438C13.8072 7.45138 12.312 5.98354 12.312 4.19661C12.312 3.54246 12.8646 3 13.5309 3C14.2135 3 14.7499 3.54246 14.7499 4.19661C14.7499 4.67525 15.1562 5.05816 15.6438 5.05816H17.2527C19.7069 5.07412 21.7059 7.03655 21.7222 9.42977Z" fill="#8D9299"/>
            <path d="M19.2849 9.7168C20.0975 9.7168 20.9101 9.7168 21.7228 9.73275C23.2667 9.73275 24.8107 9.76466 26.371 9.78062C32.0105 9.78062 36.1224 13.8012 36.1224 19.3535V26.4852C36.1224 32.0375 32.0105 36.0581 26.371 36.0581C24.1119 36.106 21.8528 36.1219 19.5775 36.1219C17.3021 36.1219 15.0105 36.106 12.7514 36.0581C7.11186 36.0581 3 32.0375 3 26.4852V19.3535C3 13.8012 7.11186 9.78062 12.7677 9.78062C14.8968 9.74871 17.0746 9.7168 19.2849 9.7168ZM14.7342 18.8429C14.0516 18.8429 13.5153 19.3854 13.5153 20.0395V21.7148H11.7926C11.1262 21.7148 10.5736 22.2572 10.5736 22.9114C10.5736 23.5815 11.1262 24.108 11.7926 24.108H13.5153V25.7992C13.5153 26.4533 14.0516 26.9958 14.7342 26.9958C15.4006 26.9958 15.9532 26.4533 15.9532 25.7992V24.108H17.6597C18.326 24.108 18.8786 23.5815 18.8786 22.9114C18.8786 22.2572 18.326 21.7148 17.6597 21.7148H15.9532V20.0395C15.9532 19.3854 15.4006 18.8429 14.7342 18.8429ZM27.5086 24.5069H27.3461C26.6635 24.5069 26.1272 25.0493 26.1272 25.7035C26.1272 26.3736 26.6635 26.9001 27.3461 26.9001H27.5086C28.175 26.9001 28.7276 26.3736 28.7276 25.7035C28.7276 25.0493 28.175 24.5069 27.5086 24.5069ZM24.7295 19.0184H24.5669C23.8843 19.0184 23.348 19.5609 23.348 20.215C23.348 20.8851 23.8843 21.4116 24.5669 21.4116H24.7295C25.3958 21.4116 25.9484 20.8851 25.9484 20.215C25.9484 19.5609 25.3958 19.0184 24.7295 19.0184Z" fill="#8D9299"/>
          </svg>
          <p>Jeux</p>
        </a>
      </li> %>
      <li>
        <%= link_to lists_path, class: (@current_page == 'listes' ? 'active' : '') do %>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.84 12.68C5.85621 12.68 6.68 11.8562 6.68 10.84C6.68 9.8238 5.85621 9 4.84 9C3.8238 9 3 9.8238 3 10.84C3 11.8562 3.8238 12.68 4.84 12.68Z" fill="#8D9299"/>
            <path d="M4.84 21.8792C5.85621 21.8792 6.68 21.0554 6.68 20.0392C6.68 19.023 5.85621 18.1992 4.84 18.1992C3.8238 18.1992 3 19.023 3 20.0392C3 21.0554 3.8238 21.8792 4.84 21.8792Z" fill="#8D9299"/>
            <path d="M4.84 31.0794C5.85621 31.0794 6.68 30.2556 6.68 29.2394C6.68 28.2232 5.85621 27.3994 4.84 27.3994C3.8238 27.3994 3 28.2232 3 29.2394C3 30.2556 3.8238 31.0794 4.84 31.0794Z" fill="#8D9299"/>
            <path d="M34.3903 18.1992H12.0895C11.1342 18.1992 10.3599 18.9736 10.3599 19.9288V20.1496C10.3599 21.1049 11.1342 21.8792 12.0895 21.8792H34.3903C35.3455 21.8792 36.1199 21.1049 36.1199 20.1496V19.9288C36.1199 18.9736 35.3455 18.1992 34.3903 18.1992Z" fill="#8D9299"/>
            <path d="M34.3903 27.3994H12.0895C11.1342 27.3994 10.3599 28.1738 10.3599 29.129V29.3498C10.3599 30.305 11.1342 31.0794 12.0895 31.0794H34.3903C35.3455 31.0794 36.1199 30.305 36.1199 29.3498V29.129C36.1199 28.1738 35.3455 27.3994 34.3903 27.3994Z" fill="#8D9299"/>
            <path d="M34.3903 9H12.0895C11.1342 9 10.3599 9.77437 10.3599 10.7296V10.9504C10.3599 11.9056 11.1342 12.68 12.0895 12.68H34.3903C35.3455 12.68 36.1199 11.9056 36.1199 10.9504V10.7296C36.1199 9.77437 35.3455 9 34.3903 9Z" fill="#8D9299"/>
          </svg>
          <p>Listes</p>
        <% end %>
      </li>
      <li>
        <%= link_to profil_path, class: (@current_page == 'profil' ? 'active' : '')  do %>
          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.3098 26.3679C18.694 26.1757 21.0893 26.1757 23.4735 26.3679C24.7719 26.4436 26.0641 26.606 27.342 26.8541C30.1072 27.414 31.9124 28.3275 32.6861 29.8009C33.2672 30.9509 33.2672 32.3198 32.6861 33.4697C31.9124 34.9431 30.1788 35.9156 27.3133 36.4166C26.0365 36.674 24.744 36.8414 23.4449 36.9175C22.2414 37.0501 21.0379 37.0501 19.82 37.0501H17.6279C17.1694 36.9912 16.7253 36.9617 16.2955 36.9617C14.9963 36.8949 13.7035 36.7324 12.427 36.4755C9.66181 35.9451 7.85655 35.0021 7.08286 33.5287C6.78419 32.9579 6.62673 32.3203 6.6242 31.6722C6.61815 31.0201 6.77085 30.3767 7.06853 29.8009C7.82789 28.3275 9.63316 27.3698 12.427 26.8541C13.7092 26.6024 15.0064 26.44 16.3098 26.3679ZM19.8773 3.92773C24.6804 3.92773 28.5741 7.93194 28.5741 12.8714C28.5741 17.8108 24.6804 21.815 19.8773 21.815C15.0742 21.815 11.1805 17.8108 11.1805 12.8714C11.1805 7.93194 15.0742 3.92773 19.8773 3.92773Z" fill="#8D9299"/>
          </svg>
          <p>Profil</p>
        <% end %>
      </li>
      <li>
        <%= link_to add_elements_path, class: (@current_page == 'add_elements' ? 'active' : '')  do %>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.56 3C10.4136 3 3 10.4136 3 19.56C3 28.7064 10.4136 36.12 19.56 36.12C28.7064 36.12 36.12 28.7064 36.12 19.56C36.12 10.4136 28.7064 3 19.56 3ZM28.1712 20.8848H20.8848V28.1712C20.8848 28.5226 20.7452 28.8595 20.4968 29.108C20.2483 29.3564 19.9114 29.496 19.56 29.496C19.2086 29.496 18.8717 29.3564 18.6232 29.108C18.3748 28.8595 18.2352 28.5226 18.2352 28.1712V20.8848H10.9488C10.5974 20.8848 10.2605 20.7452 10.012 20.4968C9.76358 20.2483 9.624 19.9114 9.624 19.56C9.624 19.2086 9.76358 18.8717 10.012 18.6232C10.2605 18.3748 10.5974 18.2352 10.9488 18.2352H18.2352V10.9488C18.2352 10.5974 18.3748 10.2605 18.6232 10.012C18.8717 9.76358 19.2086 9.624 19.56 9.624C19.9114 9.624 20.2483 9.76358 20.4968 10.012C20.7452 10.2605 20.8848 10.5974 20.8848 10.9488V18.2352H28.1712C28.5226 18.2352 28.8595 18.3748 29.108 18.6232C29.3564 18.8717 29.496 19.2086 29.496 19.56C29.496 19.9114 29.3564 20.2483 29.108 20.4968C28.8595 20.7452 28.5226 20.8848 28.1712 20.8848Z" fill="#8D9299"/>
          </svg>
          <p>Ajouter</p>
        <% end %>
      </li>
    </ul>
  </nav>
  <div class="flex-btn-login">
    <% if user_signed_in? %>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: { turbo_method: :delete}, class: "button button-login dark"%>
    <% else %>
      <%= link_to "Se connecter", new_user_session_path, class: "button button-login dark" %>
    <% end %>
  </div>
  <div class="link-header">
    <%= link_to "Mentions légales", mentionslegales_path%>
    <%= link_to "Politique de confidentialité", politiquedeconfidentialite_path%>
    <p><%= link_to "CGU", cgu_path%> | <%= link_to "Cookies", cookies_path%></p>
    <a>©2024 | Omniscient Design</a>
  </div>
</header>
