<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="bingbot" content="noindex, nofollow">
    <link rel="canonical" href="<%= request.original_url %>">
    <title><%= content_for?(:title) ? yield(:title) : "Omniscient Design - Dashboard" %></title>
    <meta name="theme-color" content="#ffffff">
    <meta name="copyright" content="© Omniscient Design - Tous droits réservés.">
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartkick"></script>
  </head>
  <body data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>" data-controller="loading">
    <header class="admin-header-container">
      <div class="header-desktop">
        <div class="first-content-header admin-header">
          <div class="logo-wrapper">
            <%= link_to(root_path, class: "logo-header") do %>
              <%= image_tag "logo.svg", alt: "", class: "home-index logo-light" %>
              <%= image_tag "small_logo_white.svg", alt: "", class: "home-index logo-dark" %>
              <p class="name-header">Dashboard <br>
                Admin</p>
            <% end %>
          </div>
          <nav class="nav-header">
            <ul>
              <li class="nav-item-secondary">
                <%= link_to root_path, class: "sidebar-link" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                  </svg>
                  <span>Retour au site</span>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to admin_root_path, class: "sidebar-link #{'active' if @current_page == 'dashboard'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>
                  </svg>
                  <span>Dashboard</span>
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class: "sidebar-link #{'active' if @current_page == 'users'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                  </svg>
                  <span>Utilisateurs</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_admin_user_badge_path, class: "sidebar-link" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                  </svg>
                  <span>Attribuer Badges</span>
                <% end %>
              </li>
              <li class="divider"><span class="menu-title">Gestion</span></li>
              <li>
                <%= link_to admin_suivi_lists_path, class: "sidebar-link #{'active' if @current_page == 'suivi_lists'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/>
                  </svg>
                  <span>Suivi Listes</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_suivi_references_path, class: "sidebar-link #{'active' if @current_page == 'suivi_references'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
                  </svg>
                  <span>Suivi Réf.</span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_ads_path, class: "sidebar-link #{'active' if @current_page == 'ads'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z"/>
                  </svg>
                  <span>Ads / Pubs</span>
                <% end %>
              </li>
              <li class="divider"><span class="menu-title">Support</span></li>
              <li>
                <%= link_to bug_reports_path, class: "sidebar-link #{'active' if @current_page == 'bug_reports'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 8h-2.81c-.45-.78-1.07-1.45-1.82-1.96L17 4.41 15.59 3l-2.17 2.17C12.96 5.06 12.49 5 12 5c-.49 0-.96.06-1.41.17L8.41 3 7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20V8zm-6 12h-4v-2h4v2zm0-4h-4v-2h4v2z"/>
                  </svg>
                  <span>Bugs</span>
                <% end %>
              </li>
              <li>
                <%= link_to feedbacks_path, class: "sidebar-link #{'active' if @current_page == 'feedbacks'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"/>
                  </svg>
                  <span>Feedbacks</span>
                <% end %>
              </li>
              <li>
                <%= link_to notifications_new_path, class: "sidebar-link #{'active' if @current_page == 'notifications'}" do %>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z"/>
                  </svg>
                  <span>Notifs</span>
                <% end %>
              </li>
            </ul>
          </nav>
          <div class="footer-admin-header">
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "logout-icon", title: "Se déconnecter" do %>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                </svg>
              <% end %>
            <% end %>
            <p class="copyright-text">©<%= Time.now.year %> OD</p>
          </div>
        </div>
      </div>
    </header>
    <div class="header-mobile">
      <header>
        <nav class="nav-header">
          <ul>
            <li>
              <%= link_to admin_root_path, class: ("active" if @current_page == "dashboard") do %>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/>
                </svg>
              <% end %>
            </li>
            <li>
              <%= link_to users_path, class: ("active" if @current_page == "users") do %>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
              <% end %>
            </li>
            <li>
              <%= link_to admin_suivi_lists_path, class: ("active" if @current_page == "suivi_lists") do %>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/>
                </svg>
              <% end %>
            </li>
            <li>
              <%= link_to bug_reports_path, class: ("active" if @current_page == "bug_reports") do %>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20 8h-2.81c-.45-.78-1.07-1.45-1.82-1.96L17 4.41 15.59 3l-2.17 2.17C12.96 5.06 12.49 5 12 5c-.49 0-.96.06-1.41.17L8.41 3 7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20V8zm-6 12h-4v-2h4v2zm0-4h-4v-2h4v2z"/>
                </svg>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="cookie-consent-banner" data-controller="cookie-consent" data-cookie-consent-target="banner" style="display:none;">
      <div>
        <p><%= t('cookies.banner_text') %></p>
        <button data-action="click->cookie-consent#accept"><%= t('cookies.accept') %></button>
        <button data-action="click->cookie-consent#decline"><%= t('cookies.decline') %></button>
      </div>
    </div>
    <% if notice.present? %>
      <div class="alert" data-controller="alert">
        <p><%= notice %></p>
        <span class="closebtn" data-alert-target="close">&times;</span>
        <div class="progress-container">
          <div class="progress-bar" data-alert-target="progress"></div>
        </div>
      </div>
    <% elsif flash.any? %>
      <% flash.each do |key, message| %>
        <div class="alert <%= key %>" data-controller="alert">
          <%= message %>
          <span class="closebtn" data-alert-target="close">&times;</span>
          <div class="progress-container">
            <div class="progress-bar" data-alert-target="progress"></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <main class="admin-main">
      <div id="loading" data-loading-target="loading">
        <div class="loader-bg">
          <video autoplay loop muted playsinline webkit-playsinline preload="auto">
            <source src="<%= asset_path('loader.webm') %>" type="video/webm">
            <%= t('loader.unsupported_browser') %>
          </video>
        </div>
      </div>
      <div id="content" data-loading-target="content" style="display: none;">
        <%= yield %>
      </div>
    </main>
    <%= javascript_importmap_tags %>
    <%= yield :recaptcha_script %>
  </body>
</html>