<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="bingbot" content="index, follow">
  <title><%= @page_title || "Omniscient Design" %></title>
  <meta name="description" content="<%= @meta_description %>">
  <%= favicon_link_tag 'favicon.svg' %>
  <meta name="theme-color" content="#ffffff">
  <meta name="copyright" content="© Copyright Omniscient Design - Tous droits réservés.">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>

  <!-- JavaScript -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  <%= javascript_importmap_tags %> <!-- Pour Importmaps -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Stylesheets pour Leaflet et le clustering de marqueurs -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

  <!-- Scripts JavaScript pour Leaflet et le clustering de marqueurs -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

  <meta property="og:locale" content="fr_FR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= @page_title || "Omniscient Design" %>">
  <meta property="og:site_name" content="Omniscient Design">
  <meta property="og:url" content="<%= @current_page_url %>">
  <meta property="og:description" content="<%= @meta_description %>">
  <meta name="twitter:title" content="<%= @page_title || "Omniscient Design" %>">
  <meta name="twitter:description" content="<%= @meta_description %>">
  <meta name="twitter:url" content="<%= @current_page_url %>">

  <style>
    #loading {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
    }

    #loading img {
      width: 250px;
      height: 250px;
    }

    #content {
      display: none;
    }
  </style>
</head>


  <body class="<%= 'no-scroll' if (controller_name == 'oeuvres' || controller_name == 'designers') && action_name == 'index' %>">
    <% if notice.present? %>
      <div class="alert" id="alert">
        <p><%= notice %></p>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div class="progress-container">
          <div class="progress-bar" id="progress-bar"></div>
        </div>
      </div>
    <% elsif flash.any? %>
      <% flash.each do |key, message| %>
        <div class="alert <%= key %>" id="alert">
          <%= message %>
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div id="loading">
      <img src="<%= asset_path('loader.gif') %>" alt="Loading...">
    </div>
    <% unless controller_name == 'lists' && action_name == 'edit' || action_name.in?(['presentation', 'show', 'sign_in']) %>
      <%= render 'layouts/header' %>
    <% end %>
    <main>
      <div id="content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
<script>
  var alertDiv = document.getElementById("alert");

    var countdownDuration = 5000;

    function closeAlert() {
      alertDiv.style.opacity = "0";
      setTimeout(function(){ alertDiv.style.display = "none"; }, 600);
    }

    if (alertDiv) {
      var progressBar = document.getElementById("progress-bar");
      var width = 0;
      var interval = setInterval(function() {
        width += 100 / (countdownDuration / 100);
        progressBar.style.width = width + '%';
        if (width >= 100) {
          clearInterval(interval);
          closeAlert();
        }
      }, 100);

      var close = document.getElementsByClassName("closebtn");
      for (var i = 0; i < close.length; i++) {
        close[i].onclick = function() {
          clearInterval(interval);
          closeAlert();
        }
      }
    }
</script>
<script>
  document.addEventListener("turbolinks:load", function() {
    document.getElementById("loading").style.display = "none"; // Masquer le loader
    document.getElementById("content").style.display = "block"; // Afficher le contenu
  });

  window.addEventListener('load', function() {
    document.getElementById("loading").style.display = "none"; // Masquer le loader
    document.getElementById("content").style.display = "block"; // Afficher le contenu
  });

</script>
