<style>
  #loader-main {
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     z-index: 9999;
   }

   .loader-hidden {
     display: none;
   }
</style>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Balises pour une indexation optimisée -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <!-- META -->
    <title><%= @page_title || "Omniscient Design" %></title>
    <meta name="description" content="<%= @meta_description %>">
    <%= favicon_link_tag 'favicon.svg' %>
    <meta name="theme-color" content="#ffffff">
    <meta name="copyright" content="© Copyright Omniscient Design - Tous droits réservés.">
    <!-- CSS & JS -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Exemple de script CDN pour Leaflet.markercluster -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.0/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.0/dist/leaflet.markercluster.js"></script>
    <!-- Balises pour les réseaux sociaux -->
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= @page_title || "Omniscient Design" %>">
    <meta property="og:site_name" content="Omniscient Design">
    <meta property="og:url" content="<%= @current_page_url %>">
    <meta property="og:description" content="<%= @meta_description %>">
    <!-- Balises pour Twitter -->
    <meta name="twitter:title" content="<%= @page_title || "Omniscient Design" %>">
    <meta name="twitter:description" content="<%= @meta_description %>">
    <meta name="twitter:url" content="<%= @current_page_url %>">
  </head>
  <body class="<%= 'no-scroll' if (controller_name == 'oeuvres' || controller_name == 'designers') && action_name == 'index' %>">
    <% unless controller_name == 'lists' && action_name == 'edit' || action_name.in?(['presentation', 'show', 'sign_in']) %>
      <%= render 'layouts/header' %>
    <% end %>
    <% if notice.present? %>
      <div class="alert" id="alert">
        <p><%= notice %></p>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div class="progress-container">
          <div class="progress-bar" id="progress-bar"></div>
        </div>
      </div>
    <% elsif flash.any? %>
      <% flash.each do |key, message| %>
        <div class="alert <%= key %>" id="alert">
          <%= message %>
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%# <%= image_tag "loader.gif", alt: "", id: "loader-main" %>
    <main>
      <%= yield %>
    </main>
    <script>
      document.addEventListener("turbo:load", function() {
              // Sélection du loader
              var loader = document.getElementById("loader-main");

              // Montrer le loader pendant que la page se charge
              if (loader) {
             loader.classList.remove("loader-hidden");

             // Masquer le loader une fois que la page est complètement chargée
             window.addEventListener("load", function() {
                 loader.classList.add("loader-hidden");
             });

             // S'assurer que le loader se cache même si "window.load" ne s'exécute pas
             setTimeout(function() {
                 loader.classList.add("loader-hidden");
             }, 5000); // Masquer le loader après 5 secondes, même si la page n'est pas complètement chargée
              }
          });
    </script>
  </body>
</html>
<script>
  var alertDiv = document.getElementById("alert");

    var countdownDuration = 5000;

    function closeAlert() {
      alertDiv.style.opacity = "0";
      setTimeout(function(){ alertDiv.style.display = "none"; }, 600);
    }

    if (alertDiv) {
      var progressBar = document.getElementById("progress-bar");
      var width = 0;
      var interval = setInterval(function() {
        width += 100 / (countdownDuration / 100);
        progressBar.style.width = width + '%';
        if (width >= 100) {
          clearInterval(interval);
          closeAlert();
        }
      }, 100);

      var close = document.getElementsByClassName("closebtn");
      for (var i = 0; i < close.length; i++) {
        close[i].onclick = function() {
          clearInterval(interval);
          closeAlert();
        }
      }
    }
</script>
