<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js"></script>
    <script type="importmap">
      <%= Rails.application.importmap.to_json(resolver: self).html_safe %>
    </script>
    <script type="module">
      import "application"
    </script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <title><%= content_for?(:title) ? yield(:title) : t('meta.default_title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t('meta.default_description') %>">
    <meta name="theme-color" content="#ffffff">
    <meta name="copyright" content="© Omniscient Design - <%= t('meta.all_rights_reserved') %>">
    <meta name="robots" content="<%= should_not_index? ? 'noindex, nofollow' : 'index, follow' %>">
    <meta name="googlebot" content="<%= should_not_index? ? 'noindex, nofollow' : 'index, follow' %>">
    <meta name="bingbot" content="<%= should_not_index? ? 'noindex, nofollow' : 'index, follow' %>">
    <%= tag :link, rel: 'canonical', href: request.original_url.split('?').first %>
    <meta property="og:locale" content="<%= I18n.locale %>">
    <meta property="og:site_name" content="Omniscient Design">
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : t('meta.default_title') %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : t('meta.default_description') %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= asset_url('logo-od-rs.jpg') %>">
    <meta name="twitter:site" content="@OmniscientDesign">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : t('meta.default_title') %>">
    <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : t('meta.default_description') %>">
    <meta name="twitter:url" content="<%= request.original_url %>">
    <meta name="twitter:image" content="<%= asset_url('logo-od-rs.jpg') %>">
    <meta name="recaptcha-site-key" content="<%= ENV['RECAPTCHA_SITE_KEY'] || Rails.application.credentials.dig(:recaptcha, :site_key) %>">
    <%= render 'application/favicon' %>
    <noscript>
      <style>
        #loading { display: none !important; visibility: hidden !important; }
        body { overflow: auto !important; }
      </style>
    </noscript>
    <% unless native_app? %>
      <script async>
        (function(w,d,s,l,i){
          w[l]=w[l]||[];
          w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
          var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
          j.async=true;
          j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
          f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KS23M7LQ');
      </script>
    <% end %>
    <script>
      // Si le navigateur dit qu'il est "Turbo Native" (vos apps iOS/Android)
      if (navigator.userAgent.indexOf('Turbo Native') !== -1) {
        document.documentElement.style.setProperty('--native-bottom', '0px');
      }
    </script>
  </head>
  <% theme = cookies&.[](:theme).presence || 'light-mode' %>
  <% body_class = %w[dark-mode light-mode].include?(theme) ? theme : '' %>
  <body class="<%= body_class %> <%= 'no-scroll' if (controller_name == 'oeuvres' || controller_name == 'designers') && action_name == 'index' %>" data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>" data-controller="loading" data-controller="device-sync" 
      data-device-sync-user-id-value="<%= current_user ? current_user.id : 0 %>">
    <% unless native_app? %>
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KS23M7LQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <div id="cookie-consent-banner" data-controller="cookie-consent" data-cookie-consent-target="banner" style="display:none;">
        <div>
          <p><%= t('cookies.banner_text') %></p>
          <button data-action="click->cookie-consent#accept"><%= t('cookies.accept') %></button>
          <button data-action="click->cookie-consent#decline"><%= t('cookies.decline') %></button>
        </div>
      </div>
    <% end %>
    <% if notice.present? %>
      <div class="alert" data-controller="alert">
        <p><%= notice %></p>
        <span class="closebtn" data-alert-target="close">&times;</span>
        <div class="progress-container">
          <div class="progress-bar" data-alert-target="progress"></div>
        </div>
      </div>
    <% elsif flash.any? %>
      <% flash.each do |key, message| %>
        <div class="alert <%= key %>" data-controller="alert">
          <%= message %>
          <span class="closebtn" data-alert-target="close">&times;</span>
          <div class="progress-container">
            <div class="progress-bar" data-alert-target="progress"></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% unless native_app? %>
      <% unless action_name.in?(['presentation', 'sign_in']) || (controller_name.in?(%w[oeuvres designers studios]) && action_name == 'show') %>
        <%= render 'layouts/header' %>
      <% end %>
    <% end %>
    <% main_show = (controller_name == 'oeuvres' || controller_name == 'designers' || controller_name == 'studios') && action_name == 'show' || (controller_name == 'pages' && action_name == 'presentation') %>
    <main class="<%= 'main-show' if main_show %>">
      <% unless native_app? %>
        <div id="loading" data-loading-target="loading">
          <div class="loader-bg">
            <video autoplay loop muted playsinline webkit-playsinline preload="auto">
              <source src="<%= asset_path('loader.webm') %>" type="video/webm">
              <source src="<%= asset_path('loader.mp4') %>" type="video/mp4">
            </video>
          </div>
        </div>
      <%end%>
      <div id="content" data-loading-target="content">
        <%= yield %>
      </div>
    </main>
    <% unless native_app? %>
      <% if show_footer? %>
        <!-- Footer -->
        <% large_footer = (controller_name == 'oeuvres' || controller_name == 'designers' || controller_name == 'studios') && action_name == 'show' || (controller_name == 'pages' && action_name == 'presentation') %>
        <footer class="footer <%= 'large-footer' if main_show %>" data-loading-target="footer">
          <div class="footer-top">
            <div class="footer-brand">
              <%= link_to(root_path, class: "footer-logo") do %>
                <img src="/assets/logo-white.svg" alt="Omniscient Design" class="logo" />
              <%end%>
              <p class="tagline"><%=t('footer.tagline')%></p>
              <%= link_to t('footer.donation'), donateurs_path, class: "underline medium"%>
              <div class="socials">
                <a href="https://www.instagram.com/omniscientdesign_/" target="_blank">
                  <svg width="43" height="44" viewBox="0 0 43 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.8272 4.0918H28.7181C34.3909 4.0918 39 8.70089 39 14.3736V29.2645C39 31.9914 37.9167 34.6067 35.9885 36.5349C34.0603 38.4631 31.445 39.5463 28.7181 39.5463H13.8272C8.1545 39.5463 3.54541 34.9373 3.54541 29.2645V14.3736C3.54541 11.6467 4.62867 9.03149 6.55689 7.10327C8.4851 5.17506 11.1003 4.0918 13.8272 4.0918ZM13.4727 7.63725C11.7801 7.63725 10.1569 8.30962 8.96006 9.50644C7.76323 10.7033 7.09086 12.3265 7.09086 14.0191V29.6191C7.09086 33.1468 9.94496 36.0009 13.4727 36.0009H29.0727C30.7652 36.0009 32.3885 35.3285 33.5853 34.1317C34.7821 32.9349 35.4545 31.3116 35.4545 29.6191V14.0191C35.4545 10.4913 32.6004 7.63725 29.0727 7.63725H13.4727ZM30.5795 10.2963C31.1672 10.2963 31.7308 10.5298 32.1464 10.9454C32.562 11.3609 32.7954 11.9246 32.7954 12.5123C32.7954 13.0999 32.562 13.6636 32.1464 14.0791C31.7308 14.4947 31.1672 14.7282 30.5795 14.7282C29.9918 14.7282 29.4282 14.4947 29.0126 14.0791C28.5971 13.6636 28.3636 13.0999 28.3636 12.5123C28.3636 11.9246 28.5971 11.3609 29.0126 10.9454C29.4282 10.5298 29.9918 10.2963 30.5795 10.2963ZM21.2727 12.9554C23.6235 12.9554 25.878 13.8893 27.5402 15.5515C29.2025 17.2138 30.1363 19.4683 30.1363 21.8191C30.1363 24.1699 29.2025 26.4244 27.5402 28.0866C25.878 29.7489 23.6235 30.6827 21.2727 30.6827C18.9219 30.6827 16.6674 29.7489 15.0051 28.0866C13.3429 26.4244 12.409 24.1699 12.409 21.8191C12.409 19.4683 13.3429 17.2138 15.0051 15.5515C16.6674 13.8893 18.9219 12.9554 21.2727 12.9554ZM21.2727 16.5009C19.8622 16.5009 18.5095 17.0612 17.5122 18.0585C16.5148 19.0559 15.9545 20.4086 15.9545 21.8191C15.9545 23.2295 16.5148 24.5822 17.5122 25.5796C18.5095 26.5769 19.8622 27.1373 21.2727 27.1373C22.6832 27.1373 24.0359 26.5769 25.0332 25.5796C26.0306 24.5822 26.5909 23.2295 26.5909 21.8191C26.5909 20.4086 26.0306 19.0559 25.0332 18.0585C24.0359 17.0612 22.6832 16.5009 21.2727 16.5009Z" fill="white"/>
                  </svg>
                </a>
                <a href="https://www.linkedin.com/company/omniscient-design/" target="_blank">
                  <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.409 5.86426C35.3494 5.86426 36.2512 6.2378 36.9161 6.9027C37.581 7.5676 37.9545 8.4694 37.9545 9.40971V34.2279C37.9545 35.1682 37.581 36.07 36.9161 36.7349C36.2512 37.3998 35.3494 37.7733 34.409 37.7733H9.59086C8.65055 37.7733 7.74875 37.3998 7.08385 36.7349C6.41895 36.07 6.04541 35.1682 6.04541 34.2279V9.40971C6.04541 8.4694 6.41895 7.5676 7.08385 6.9027C7.74875 6.2378 8.65055 5.86426 9.59086 5.86426H34.409ZM33.5227 33.3415V23.9461C33.5227 22.4134 32.9138 20.9434 31.83 19.8596C30.7462 18.7759 29.2763 18.167 27.7436 18.167C26.2368 18.167 24.4818 19.0888 23.6309 20.4715V18.5038H18.685V33.3415H23.6309V24.602C23.6309 23.237 24.73 22.1202 26.095 22.1202C26.7532 22.1202 27.3844 22.3816 27.8499 22.8471C28.3153 23.3125 28.5768 23.9438 28.5768 24.602V33.3415H33.5227ZM12.9236 15.7206C13.7135 15.7206 14.471 15.4069 15.0295 14.8483C15.588 14.2898 15.9018 13.5323 15.9018 12.7424C15.9018 11.0938 14.5722 9.74653 12.9236 9.74653C12.129 9.74653 11.367 10.0622 10.8052 10.624C10.2433 11.1859 9.92768 11.9479 9.92768 12.7424C9.92768 14.3911 11.275 15.7206 12.9236 15.7206ZM15.3877 33.3415V18.5038H10.4772V33.3415H15.3877Z" fill="white"/>
                  </svg>
                </a>
                <a href="https://www.tiktok.com/@omniscientdesign_?_t=ZN-90GUtYty67y&_r=1" target="_blank">
                  <svg width="43" height="44" viewBox="0 0 43 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.8818 10.8633C28.6703 9.47978 28.0026 7.70328 28.0027 5.86426H22.525V27.8461C22.4836 29.0359 21.9817 30.1632 21.1251 30.99C20.2685 31.8168 19.1242 32.2786 17.9336 32.2779C15.4164 32.2779 13.3246 30.2215 13.3246 27.6688C13.3246 24.6197 16.2673 22.3329 19.2986 23.2724V17.6706C13.1827 16.8552 7.8291 21.6061 7.8291 27.6688C7.8291 33.572 12.7218 37.7733 17.9159 37.7733C23.4823 37.7733 28.0027 33.2529 28.0027 27.6688V16.5183C30.224 18.1135 32.8908 18.9694 35.6255 18.9647V13.487C35.6255 13.487 32.2927 13.6465 29.8818 10.8633Z" fill="white"/>
                  </svg>
                </a>
                <a href="https://fr.pinterest.com/omniscientdesign/" target="_blank">
                  <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2751 39.0042C31.0669 39.0042 39.0042 31.0669 39.0042 21.2751C39.0042 11.4832 31.0669 3.5459 21.2751 3.5459C11.4832 3.5459 3.5459 11.4832 3.5459 21.2751C3.5459 28.3774 7.72289 34.5046 13.7544 37.3341L17.8143 18.2469C17.9183 17.7934 18.1965 17.3989 18.5888 17.1486C18.9811 16.8983 19.4561 16.8123 19.9112 16.9091C20.3664 17.0059 20.7652 17.2778 21.0217 17.666C21.2782 18.0543 21.3717 18.5278 21.2822 18.9845C20.7964 21.2751 20.3709 22.1615 20.3904 23.2253C20.4205 24.8918 20.8744 25.7818 21.3141 26.2428C21.7626 26.7126 22.4097 26.9661 23.2554 26.9519C24.1188 26.9342 25.0957 26.631 25.9609 26.085C27.6434 25.0283 28.3667 23.2164 28.3667 21.2751C28.3656 20.2215 28.1297 19.1815 27.6762 18.2305C27.2227 17.2796 26.5631 16.4416 25.7452 15.7776C24.9273 15.1135 23.9718 14.64 22.948 14.3914C21.9242 14.1429 20.8578 14.1256 19.8265 14.3408C18.7952 14.556 17.8248 14.9983 16.9858 15.6355C16.1468 16.2727 15.4603 17.0888 14.9763 18.0246C14.4922 18.9603 14.2227 19.9922 14.1874 21.0451C14.1521 22.0981 14.3518 23.1456 14.772 24.1117C14.9433 24.5395 14.9414 25.0171 14.7666 25.4434C14.5919 25.8698 14.258 26.2113 13.8357 26.3957C13.4134 26.5801 12.936 26.5929 12.5045 26.4313C12.073 26.2697 11.7213 25.9465 11.524 25.5301C10.8183 23.9113 10.5266 22.1423 10.6754 20.3826C10.8242 18.6229 11.4087 16.928 12.3762 15.4507C13.3437 13.9734 14.6638 12.7602 16.2174 11.9205C17.771 11.0809 19.5091 10.6413 21.2751 10.6413C23.041 10.6413 24.7792 11.0809 26.3327 11.9205C27.8863 12.7602 29.2064 13.9734 30.1739 15.4507C31.1415 16.928 31.726 18.6229 31.8747 20.3826C32.0235 22.1423 31.7319 23.9113 31.0261 25.5301C30.3737 27.0335 29.1823 28.2497 27.849 29.0883C26.5105 29.9304 24.9113 30.4694 23.3192 30.4978C21.8672 30.5244 20.3549 30.1219 19.1369 29.0653L17.1264 38.5185C18.4561 38.8376 19.8461 39.006 21.2733 39.006L21.2751 39.0042Z" fill="white"/>
                  </svg>
                </a>
              </div>
            </div>
            <div>
            </div>
            <!-- Navigation -->
            <div class="footer-nav">
              <p class="footer-title"><%=t('footer.navigation')%></p>
              <ul>
                <li><%= link_to t('footer.landing'), presentation_path%></li>
                <li><%= link_to t('footer.explore'), root_path%></li>
                <li><%= link_to t('footer.search'), search_path%></li>
                <li><%= link_to t('footer.list'), lists_path%></li>
                <li><%= link_to t('footer.profile'), profil_path%></li>
                <li><%= link_to t('footer.add'), add_elements_path%></li>
                <li><%= link_to t('footer.login'), new_user_session_path%></li>
                <li><%= link_to t('footer.sitemap'), plan_site_path%></li>
              </ul>
            </div>
            <!-- Réseaux -->
            <div class="footer-nav">
              <p class="footer-title"><%=t('footer.social')%></p>
              <ul>
                <li><a href="https://www.linkedin.com/company/omniscient-design/" target="_blank"><%=t('footer.linkedin')%></a></li>
                <li><a href="https://www.instagram.com/omniscientdesign_/" target="_blank"><%=t('footer.instragram')%></a></li>
                <li><a href="https://www.tiktok.com/@omniscientdesign_?_t=ZN-90GUtYty67y&_r=1" target="_blank"><%=t('footer.tiktok')%></a></li>
                <li><a href="https://fr.pinterest.com/omniscientdesign/" target="_blank">Pinterest</a></li>
              </ul>
            </div>
            <!-- Contact -->
            <div class="footer-contact">
              <p class="footer-title"><%=t('footer.contact')%></p>
              <a href="mailto:contact@omniscientdesign.fr"><%=t('footer.email')%></a>
            </div>
          </div>
          <a href="#" class="back-top button">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.7491 13.3314C23.7491 13.3314 18.493 7.60254 16.4466 5.37132C16.2762 5.18422 16.0522 5.09131 15.8282 5.09131C15.6042 5.09131 15.3802 5.18422 15.2098 5.37132C13.1634 7.60127 7.9096 13.3289 7.9096 13.3289C7.74042 13.5134 7.65641 13.7565 7.65641 13.9996C7.65758 14.2427 7.74275 14.4871 7.91426 14.6742C8.25611 15.0471 8.80798 15.0484 9.1475 14.6793L14.9532 8.34585V27.0458C14.9532 27.5727 15.3452 28.0004 15.8282 28.0004C16.3112 28.0004 16.7032 27.5727 16.7032 27.0458V8.34585L22.5124 14.6818C22.8496 15.0497 23.4003 15.0471 23.7421 14.6742C23.9136 14.4871 24 14.2427 24 13.9996C24.0012 13.7565 23.9171 13.516 23.7491 13.3314Z" fill="#202020"/>
            </svg>
            <%=t('footer.goup')%>
          </a>
          <div class="footer-bottom">
            <p><%=t('footer.copyright')%></p>
            <ul class="legal">
              <li><%= link_to mentionslegales_path do %><%=t('footer.legal')%><%end%></a></li>
            <li><%= link_to politiquedeconfidentialite_path do %><%=t('footer.politique')%><%end%></li>
            <li><%= link_to cgu_path do %><%=t('footer.cgu')%><%end%></li>
            <li><%= link_to cookies_path do %><%=t('footer.cookie')%><%end%></li>
          </ul>
        </div>
      </footer>
    <%end%>
  <%end%>
  <%= yield :recaptcha_script %>
</body>
</html>
