<style>
  label{
    color: #202020;
    font-size: 18px;
    font-weight: 500;
  }


  hr{
    margin-top: 64px;
    border: 2px solid #E9E9E9
  }
  .delete{
    background-color: rgba(230, 24,24,0.15);
    color: #E61818;
  }
  .delete:hover{
    background-color: rgba(230, 24,24,0.35);
  }
</style>
<section class="top-default-page">
  <%= link_to profil_path do%>
    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 10.2168L1.57848 10.2168M1.57848 10.2168L8.86155 18.4336M1.57848 10.2168L8.86155 2" stroke="white" stroke-width="2" stroke-linecap="square"/>
    </svg>
  <%end%>
  <h1>Votre compte</h1>
</section>
<section class="grid-1">
  <h2>Profil public</h2>
  <p class="desc-profil">Les informations figurant dans le profil public sont accessibles à tous. Pour les supprimer ou les modifier, veuillez vous modifier les informations ci-dessous </p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <div class="flex-form">
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :profile_image, "Photo de profil" %>
        <%= f.file_field :profile_image %>
        <% if resource.profile_image.attached? %>
          <div class="profile-image-preview">
            <%= image_tag resource.profile_image_variant, class:"profile-picture" %>
          </div>
          <div class="field">
            <%= f.check_box :remove_profile_image, style: "display: none;" %>
            <%= f.label :remove_profile_image, "Retirer la photo de profil", style: "display: none;" %>
            <%= button_tag "Retirer la photo de profil", type: "button", id: "remove-profile-image-btn", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
      <div class="field">
        <%= f.label "Prénom" %>
        <%= f.text_field :firstname, autocomplete: "firstname", placeholder: "Prénom" %>
      </div>
      <div class="field">
        <%= f.label "Nom de famille" %>
        <%= f.text_field :lastname, autocomplete: "lastname", placeholder: "Nom de famille" %>
      </div>
      <div class="field">
        <%= f.label "Pseudo" %>
        <%= f.text_field :pseudo, autocomplete: "pseudo", placeholder: "Pseudo" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label "Mot de passe" %><br />
        <i>(Ne pas remplir si vous ne souhaitez pas le changer)</i>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label "Confirmer mot de passe" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <hr>
      <h2>Profil privé</h2>
      <div class="field">
        <%= f.label "Email" %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label "Statut" %>
        <%= f.collection_select :statut, [["Étudiant", "Étudiant"], ["Enseignant", "Enseignant"], ["Autre", "Autre"]], :first, :last, { prompt: "Choisissez un statut" }, { class: "form-control" } %>
      </div>
      <div class="field">
        <%= f.label "Établissement" %><br />
        <%= f.collection_select :etablissement_id, Etablissement.order(:city), :id, :all_info, { prompt: "Choisissez un établissement" } %>
      </div>
      <hr>
      <div class="field">
        <%= f.label "Mot de passe actuel" %><br />
        <i>(entrer votre mot de passe pour modifier votre profil)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", required: true  %>
      </div>
      <div class="actions">
        <%= f.submit "Mettre à jour", class: "button large maj" %>
      </div>
    </div>
  <% end %>
  <div>
    <%= button_to "Supprimer votre compte", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "button delete" %>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const removeProfileImageBtn = document.getElementById('remove-profile-image-btn');
  const removeProfileImageCheckbox = document.getElementById('user_remove_profile_image');
  const form = removeProfileImageBtn.closest('form');

  removeProfileImageBtn.addEventListener('click', function() {
    removeProfileImageCheckbox.checked = true;
    form.submit();
  });
  });
</script>
