<% content_for :title, "S'inscrire - Omniscient Design" %>
<% content_for :description, "Inscris-toi sur Omniscient Design pour devenir un vrai pro dans l'univers du design. Rejoins une communauté de passionnés prête à tout pour rendre le design accessible." %>
<%= javascript_include_tag "controllers/showPassword", defer: true %>
<div class="log" style="background-color:#202020; color:#FFF; min-height:100vh;">
  <%= image_tag "logo-white.svg", alt: "", class: "logo-log" %>
  <section class="box-log">
    <h1>S’inscrire</h1>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, multipart: true }) do |f| %>
        <% if resource.errors.any? %>
          <div id="error_explanation">
            <p style="color:red;"><%= pluralize(resource.errors.count, "erreur") %> empêchent cette inscription :</p>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li style="color:red;"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <p class="title-boxlog">Informations principales</p>
        </div>
        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email*" %>
        </div>
        <div class="field password-container">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Mot de passe*", id: "password-field-1"  %>
          <button type="button" class="toggle-password" data-target="#password-field-1">
            <svg class="show-password-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.9972 6.66699C10.5598 6.66699 5.6745 10.791 2.85984 15.311C2.73184 15.523 2.6665 15.7617 2.6665 16.0003C2.6665 16.239 2.7305 16.4777 2.8585 16.6897C5.6745 21.2097 10.5598 25.3337 15.9972 25.3337C21.5212 25.3337 26.3918 21.2137 29.1492 16.6763C29.2718 16.4683 29.3332 16.2337 29.3332 16.0003C29.3332 15.767 29.2718 15.5323 29.1492 15.3243C26.3918 10.787 21.5212 6.66699 15.9972 6.66699ZM15.9998 10.667C18.9438 10.667 21.3332 13.0563 21.3332 16.0003C21.3332 18.9443 18.9438 21.3337 15.9998 21.3337C13.0558 21.3337 10.6665 18.9443 10.6665 16.0003C10.6665 13.0563 13.0558 10.667 15.9998 10.667ZM15.9998 12.667C17.8398 12.667 19.3332 14.1603 19.3332 16.0003C19.3332 17.8403 17.8398 19.3337 15.9998 19.3337C14.1598 19.3337 12.6665 17.8403 12.6665 16.0003C12.6665 14.1603 14.1598 12.667 15.9998 12.667Z" fill="#202020"/>
            </svg>
            <svg class="hide-password-icon" style="display: none;" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7585 8.72767L26.3372 5.58234C26.5278 5.41567 26.7638 5.33301 26.9998 5.33301C27.5572 5.33301 27.9998 5.78634 27.9998 6.33301C27.9998 6.60901 27.8852 6.88501 27.6612 7.08234L5.66117 26.417C5.47184 26.585 5.23584 26.6663 4.99984 26.6663C4.4465 26.6663 3.99984 26.221 3.99984 25.6663C3.99984 25.3903 4.1145 25.1143 4.33717 24.917L7.58784 22.0597C5.7025 20.5503 4.08517 18.657 2.8585 16.689C2.7305 16.477 2.6665 16.2383 2.6665 15.9997C2.6665 15.761 2.73184 15.5223 2.85984 15.3103C5.6745 10.7903 10.5598 6.66634 15.9972 6.66634C18.4172 6.66634 20.7118 7.45701 22.7585 8.72767ZM25.8492 11.1677C27.1385 12.425 28.2545 13.8517 29.1492 15.3237C29.2718 15.5317 29.3332 15.7663 29.3332 15.9997C29.3332 16.233 29.2718 16.4677 29.1492 16.6757C26.3918 21.213 21.5212 25.333 15.9972 25.333C14.2665 25.333 12.5932 24.9157 11.0238 24.201L14.5225 21.125C14.9918 21.261 15.4878 21.333 15.9998 21.333C18.9438 21.333 21.3332 18.9437 21.3332 15.9997C21.3332 15.725 21.3118 15.4557 21.2718 15.1917L25.8492 11.1677ZM19.2732 11.7903C18.3692 11.0863 17.2332 10.6663 15.9998 10.6663C13.0558 10.6663 10.6665 13.0557 10.6665 15.9997C10.6665 16.9877 10.9358 17.913 11.4038 18.7063L12.9505 17.3477C12.7678 16.9343 12.6665 16.4797 12.6665 15.9997C12.6665 14.1597 14.1598 12.6663 15.9998 12.6663C16.6318 12.6663 17.2238 12.8423 17.7278 13.149L19.2732 11.7903Z" fill="#202020"/>
            </svg>
          </button>
        </div>
        <div class="field password-container">
          <%= f.password_field :password_confirmation, autocomplete: "current-password", placeholder: "Confirmer le mot de passe*", id: "password-field-2" %>
          <button type="button" class="toggle-password" data-target="#password-field-2">
            <svg class="show-password-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.9972 6.66699C10.5598 6.66699 5.6745 10.791 2.85984 15.311C2.73184 15.523 2.6665 15.7617 2.6665 16.0003C2.6665 16.239 2.7305 16.4777 2.8585 16.6897C5.6745 21.2097 10.5598 25.3337 15.9972 25.3337C21.5212 25.3337 26.3918 21.2137 29.1492 16.6763C29.2718 16.4683 29.3332 16.2337 29.3332 16.0003C29.3332 15.767 29.2718 15.5323 29.1492 15.3243C26.3918 10.787 21.5212 6.66699 15.9972 6.66699ZM15.9998 10.667C18.9438 10.667 21.3332 13.0563 21.3332 16.0003C21.3332 18.9443 18.9438 21.3337 15.9998 21.3337C13.0558 21.3337 10.6665 18.9443 10.6665 16.0003C10.6665 13.0563 13.0558 10.667 15.9998 10.667ZM15.9998 12.667C17.8398 12.667 19.3332 14.1603 19.3332 16.0003C19.3332 17.8403 17.8398 19.3337 15.9998 19.3337C14.1598 19.3337 12.6665 17.8403 12.6665 16.0003C12.6665 14.1603 14.1598 12.667 15.9998 12.667Z" fill="#202020"/>
            </svg>
            <svg class="hide-password-icon" style="display: none;" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.7585 8.72767L26.3372 5.58234C26.5278 5.41567 26.7638 5.33301 26.9998 5.33301C27.5572 5.33301 27.9998 5.78634 27.9998 6.33301C27.9998 6.60901 27.8852 6.88501 27.6612 7.08234L5.66117 26.417C5.47184 26.585 5.23584 26.6663 4.99984 26.6663C4.4465 26.6663 3.99984 26.221 3.99984 25.6663C3.99984 25.3903 4.1145 25.1143 4.33717 24.917L7.58784 22.0597C5.7025 20.5503 4.08517 18.657 2.8585 16.689C2.7305 16.477 2.6665 16.2383 2.6665 15.9997C2.6665 15.761 2.73184 15.5223 2.85984 15.3103C5.6745 10.7903 10.5598 6.66634 15.9972 6.66634C18.4172 6.66634 20.7118 7.45701 22.7585 8.72767ZM25.8492 11.1677C27.1385 12.425 28.2545 13.8517 29.1492 15.3237C29.2718 15.5317 29.3332 15.7663 29.3332 15.9997C29.3332 16.233 29.2718 16.4677 29.1492 16.6757C26.3918 21.213 21.5212 25.333 15.9972 25.333C14.2665 25.333 12.5932 24.9157 11.0238 24.201L14.5225 21.125C14.9918 21.261 15.4878 21.333 15.9998 21.333C18.9438 21.333 21.3332 18.9437 21.3332 15.9997C21.3332 15.725 21.3118 15.4557 21.2718 15.1917L25.8492 11.1677ZM19.2732 11.7903C18.3692 11.0863 17.2332 10.6663 15.9998 10.6663C13.0558 10.6663 10.6665 13.0557 10.6665 15.9997C10.6665 16.9877 10.9358 17.913 11.4038 18.7063L12.9505 17.3477C12.7678 16.9343 12.6665 16.4797 12.6665 15.9997C12.6665 14.1597 14.1598 12.6663 15.9998 12.6663C16.6318 12.6663 17.2238 12.8423 17.7278 13.149L19.2732 11.7903Z" fill="#202020"/>
            </svg>
          </button>
        </div>
        <div class="field">
          <p class="title-boxlog">Informations supplémentaires</p>
        </div>
        <div class="field">
          <%= f.label :profile_image, "Photo de profil" %>
          <%= f.file_field :profile_image %>
          <% if resource.profile_image.attached? %>
            <div class="profile-image-preview">
              <%= image_tag resource.profile_image_variant, class:"profile-picture" %>
            </div>
          <% end %>
        </div>
        <div class="field">
          <%= f.text_field :firstname, autocomplete: "firstname", placeholder: "Prénom*" %>
        </div>
        <div class="field">
          <%= f.text_field :lastname, autocomplete: "lastname", placeholder: "Nom de famille" %>
        </div>
        <div class="field">
          <%= f.text_field :pseudo, autocomplete: "pseudo", placeholder: "Pseudo*" %>
        </div>
        <div class="field">
          <%= f.collection_select :statut, [["Étudiant", "Étudiant"], ["Enseignant", "Enseignant"], ["Autre", "Autre"]], :first, :last, { prompt: "Choisissez un statut*" }, { class: "form-control" } %>
        </div>
        <div class="field">
          <%= f.collection_select :etablissement_id,
                          Etablissement.order(:city),
                          :id,
                          :all_info,
                          { include_blank: "Aucun établissement" },
                          { class: "form-control select2", data: { placeholder: "Rechercher un établissement..." } } %>
        </div>
        <div class="field">
          <%= f.text_field :referral_code, placeholder: "Code de parrainage" %>
        </div>
        <div class="field rgpd">
          <%= f.check_box :rgpd_consent, required: true %>
          <%= f.label :rgpd_consent, ("J'accepte que mes données personnelles soient collectées et traitées conformément à la " + link_to('Politique de confidentialité', politiquedeconfidentialite_path, target: "_blank")).html_safe, class: "rgpd-label" %>
        </div>
        <div class="actions">
          <%= f.submit "S’inscrire", class:"button dark btn-login" %>
        </div>
        <%= link_to "Vous avez déjà un compte ? Se connecter", new_user_session_path, class: "sign-up-in" %>
        <p class="email-confirmation">Déjà inscrit mais pas encore confirmé ? <%= link_to 'Renvoyer l\'email de confirmation', new_user_confirmation_path, class: "sign-up-in"%></p>
      <% end %>
    </div>
  </section>
</div>
<script>
  $(document).ready(function() {
    $('.select2').select2({
      placeholder: "Rechercher un établissement...",
      allowClear: true,
      language: {
        inputTooShort: function() {
          return "Veuillez entrer plus de caractères...";
        },
        searching: function() {
          return "Recherche en cours...";
        },
        noResults: function() {
          return "Aucun résultat trouvé";
        }
      }
    });
  });
</script>
