<% content_for :title, "S'inscrire - Omniscient Design" %>
<% content_for :description, "Inscris-toi sur Omniscient Design pour devenir un vrai pro dans l'univers du design. Rejoins une communauté de passionnés prête à tout pour rendre le design accessible." %>

<div class="log" style="color:#FFF; min-height:100vh;">
  <%= image_tag "logo-white.svg", alt: "", class: "logo-log" %>
  <section class="box-log">
    <h1>S’inscrire</h1>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, multipart: true }) do |f| %>
        <% if resource.errors.any? %>
          <div id="error_explanation">
            <p style="color:red;"><%= pluralize(resource.errors.count, "erreur") %> empêchent cette inscription :</p>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li style="color:red;"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <p class="title-boxlog">Informations principales</p>
        </div>
        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email*" %>
        </div>
       <div class="field password-container" data-controller="show-password">
        <%= f.password_field :password, 
              autocomplete: "new-password", 
              placeholder: "Mot de passe*", 
              id: "password-field-1",
              data: { "show-password-target": "passwordField" } %>

         <button type="button" 
                data-action="click->show-password#toggle" class="toggle-password">
          <svg class="show-password-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.9972 6.66699C10.5598 6.66699 5.6745 10.791 2.85984 15.311C2.73184 15.523 2.6665 15.7617 2.6665 16.0003C2.6665 16.239 2.7305 16.4777 2.8585 16.6897C5.6745 21.2097 10.5598 25.3337 15.9972 25.3337C21.5212 25.3337 26.3918 21.2137 29.1492 16.6763C29.2718 16.4683 29.3332 16.2337 29.3332 16.0003C29.3332 15.767 29.2718 15.5323 29.1492 15.3243C26.3918 10.787 21.5212 6.66699 15.9972 6.66699ZM15.9998 10.667C18.9438 10.667 21.3332 13.0563 21.3332 16.0003C21.3332 18.9443 18.9438 21.3337 15.9998 21.3337C13.0558 21.3337 10.6665 18.9443 10.6665 16.0003C10.6665 13.0563 13.0558 10.667 15.9998 10.667ZM15.9998 12.667C17.8398 12.667 19.3332 14.1603 19.3332 16.0003C19.3332 17.8403 17.8398 19.3337 15.9998 19.3337C14.1598 19.3337 12.6665 17.8403 12.6665 16.0003C12.6665 14.1603 14.1598 12.667 15.9998 12.667Z" fill="#202020"/>
            </svg>
        </button>
      </div>

      <div class="field password-container" data-controller="show-password">
        <%= f.password_field :password_confirmation, 
              autocomplete: "new-password", 
              placeholder: "Confirmer le mot de passe*", 
              id: "password-field-2",
              data: { "show-password-target": "passwordField" } %>

        <button type="button" 
                data-action="click->show-password#toggle" class="toggle-password">
          <svg class="show-password-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.9972 6.66699C10.5598 6.66699 5.6745 10.791 2.85984 15.311C2.73184 15.523 2.6665 15.7617 2.6665 16.0003C2.6665 16.239 2.7305 16.4777 2.8585 16.6897C5.6745 21.2097 10.5598 25.3337 15.9972 25.3337C21.5212 25.3337 26.3918 21.2137 29.1492 16.6763C29.2718 16.4683 29.3332 16.2337 29.3332 16.0003C29.3332 15.767 29.2718 15.5323 29.1492 15.3243C26.3918 10.787 21.5212 6.66699 15.9972 6.66699ZM15.9998 10.667C18.9438 10.667 21.3332 13.0563 21.3332 16.0003C21.3332 18.9443 18.9438 21.3337 15.9998 21.3337C13.0558 21.3337 10.6665 18.9443 10.6665 16.0003C10.6665 13.0563 13.0558 10.667 15.9998 10.667ZM15.9998 12.667C17.8398 12.667 19.3332 14.1603 19.3332 16.0003C19.3332 17.8403 17.8398 19.3337 15.9998 19.3337C14.1598 19.3337 12.6665 17.8403 12.6665 16.0003C12.6665 14.1603 14.1598 12.667 15.9998 12.667Z" fill="#202020"/>
            </svg>
        </button>
      </div>

        <div class="field">
          <p class="title-boxlog">Informations supplémentaires</p>
        </div>
       
        <div class="field">
          <%= f.text_field :firstname, autocomplete: "firstname", placeholder: "Prénom*" %>
        </div>
        <div class="field">
          <%= f.text_field :lastname, autocomplete: "lastname", placeholder: "Nom de famille" %>
        </div>
        <div class="field">
          <%= f.text_field :pseudo, autocomplete: "pseudo", placeholder: "Pseudo*" %>
        </div>
        <div class="field">
          <%= f.collection_select :statut, 
        [
          ["Étudiant", "Étudiant"], 
          ["Enseignant", "Enseignant"], 
          ["Entreprise", "Entreprise"],
          ["Association", "Association"],
          ["Designer", "Designer"],
          ["Artiste", "Artiste"],
           ["Autre", "Autre"],
        ], :first, :last, { prompt: "Choisissez un statut*" }, { class: "form-control" } %>

        </div>
        <div class="field">
          <%= f.collection_select :etablissement_id,
                          Etablissement.order(:city),
                          :id,
                          :all_info,
                          { include_blank: "Aucun établissement" },
                          { class: "form-control select2", data: { placeholder: "Rechercher un établissement..." } } %>
        </div>
        <div class="field">
          <%= f.text_field :referral_code, placeholder: "Code de parrainage" %>
        </div>
        <div class="field rgpd">
          <%= f.check_box :rgpd_consent, required: true %>
          <%= f.label :rgpd_consent, ("J'accepte que mes données personnelles soient collectées et traitées conformément à la " + link_to('Politique de confidentialité', politiquedeconfidentialite_path, target: "_blank")).html_safe, class: "rgpd-label" %>
        </div>
        <div class="actions">
          <%= f.submit "S’inscrire", class:"button dark btn-login" %>
        </div>
        <%= link_to "Vous avez déjà un compte ? Se connecter", new_user_session_path, class: "sign-up-in" %>
        <p class="email-confirmation">Déjà inscrit mais pas encore confirmé ? <%= link_to 'Renvoyer l\'email de confirmation', new_user_confirmation_path, class: "sign-up-in"%></p>
      <% end %>
    </div>
  </section>
</div>
<script>
  $(document).ready(function() {
    $('.select2').select2({
      placeholder: "Rechercher un établissement...",
      allowClear: true,
      language: {
        inputTooShort: function() {
          return "Veuillez entrer plus de caractères...";
        },
        searching: function() {
          return "Recherche en cours...";
        },
        noResults: function() {
          return "Aucun résultat trouvé";
        }
      }
    });
  });
</script>


<% content_for :recaptcha_script do %>
  <script src="https://www.google.com/recaptcha/api.js?render=<%= ENV["RECAPTCHA_SITE_KEY"] %>"></script>
<% end %>